<%#-- copyright
OpenProject is a project management system.

Copyright (C) 2012-2013 the OpenProject Team

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 3.

See doc/COPYRIGHT.rdoc for more details.

++#%>

<%= error_messages_for 'planning_element_type' %>

<h2>
  <% if planning_element_type.new_record? %>
    <%= l('timelines.new_planning_element_type') %>:
  <% else %>
    <%= l('timelines.edit_planning_element_type') %>:
  <% end %>

  <label for="planning_element_type_name" class="hidden-for-sighted">
    <%= PlanningElementType.human_attribute_name(:name) %>
  </label>
  <%= f.text_field :name %>
</h2>

<fieldset class="timelines-pet-properties">
  <legend><%= l('timelines.properties') %></legend>

  <p>
    <label for="planning_element_type_color_id">
      <%= PlanningElementType.human_attribute_name(:color) %>
    </label>
    <%= f.select :color_id, options_for_colors(planning_element_type) %>
  </p>

  <p>
    <label for="planning_element_type_in_aggregation">
      <%= PlanningElementType.human_attribute_name(:in_aggregation) %>
    </label>
    <%= f.check_box :in_aggregation %>
  </p>

  <p>
    <label for="planning_element_type_is_default">
      <%= PlanningElementType.human_attribute_name(:is_default) %>
    </label>
    <%= f.check_box :is_default %>
  </p>

  <p>
    <label for="planning_element_type_is_milestone">
      <%= PlanningElementType.human_attribute_name(:is_milestone) %>
    </label>
    <%= f.check_box :is_milestone %>
  </p>
</fieldset>

<%= submit_tag l(:button_save) %>
<%= link_to l(:button_cancel), planning_element_types_path %>
