<%#-- copyright
OpenProject is a project management system.

Copyright (C) 2012-2013 the OpenProject Team

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 3.

See doc/COPYRIGHT.rdoc for more details.

++#%>

<%= header_tags %>

<%= form_for :planning_element_type,
            :url  => planning_element_type_url(@planning_element_type),
            :html => {:method => 'delete'} do |f| %>

  <div class='flash warning'>
    <%= l('timelines.really_delete_planning_element_type') %>
  </div>

  <h2>
    <%=h @planning_element_type.name %>
  </h2>

  <fieldset class="timelines-pet-properties">
    <legend><%= l('timelines.properties') %></legend>

    <p>
      <label for="planning_element_type_color_id">
        <%= PlanningElementType.human_attribute_name(:color) %>
      </label>
      <span class="timelines-value" id="planning_element_type_is_milestone">
        <% if @planning_element_type.color.present? %>
          <%= icon_for_planning_element_type(@planning_element_type) %>
          <%=h @planning_element_type.color.name %>
        <% else %>
          -
        <% end %>
      </span>
    </p>

    <p>
      <label for="planning_element_type_in_aggregation">
        <%= PlanningElementType.human_attribute_name(:in_aggregation) %>
      </label>
      <%= f.check_box :in_aggregation, :disabled => 'disabled' %>
    </p>

    <p>
      <label for="planning_element_type_is_default">
        <%= PlanningElementType.human_attribute_name(:is_default) %>
      </label>
      <%= f.check_box :is_default, :disabled => 'disabled' %>
    </p>

    <p>
      <label for="planning_element_type_is_milestone">
        <%= PlanningElementType.human_attribute_name(:is_milestone) %>
      </label>
      <%= f.check_box :is_milestone, :disabled => 'disabled' %>
    </p>
  </fieldset>

  <%= submit_tag l(:button_delete) %>
  <%= link_to l(:button_cancel), planning_element_types_path %>
<% end %>
