<%#-- copyright
OpenProject is an open source project management software.
Copyright (C) 2012-2023 the OpenProject GmbH

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 3.

OpenProject is a fork of ChiliProject, which is a fork of Redmine. The copyright follows:
Copyright (C) 2006-2013 Jean-Philippe Lang
Copyright (C) 2010-2013 the ChiliProject Team

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.

See COPYRIGHT and LICENSE files for more details.

++#%>
<%= component_wrapper(style: "margin-top: 5px;") do %>
  <% if @state == :show %>
    <%= @project.name %>
    <%= button_to(op_turbo_sandbox_edit_project_path(id: @project.id), method: "get", data: { "turbo-stream": true }) do %>
      edit
    <% end %>
    <%= button_to(op_turbo_sandbox_destroy_project_path(id: @project.id), method: "delete", data: { confirm: "Are you sure?" }) do %>
      delete
    <% end %>
  <% elsif @state == :edit %>
    <div style="margin-top: 20px; margin-bottom: 20px;">
      <%= form_for(@project, url: op_turbo_sandbox_update_project_path(id: @project.id)) do |f| %>
        <%= f.label :name %>
        <%= f.text_field :name %>
        <%= f.submit %>
      <% end %>
      <%= button_to(op_turbo_sandbox_cancel_edit_project_path(id: @project.id), method: "get", data: { "turbo-stream": true }) do %>
        cancel
      <% end %>
    </div>
  <% end %>
<% end %>

