<!-- story helper tags -->
<% @available_statuses_by_tracker.each do |tracker, issue_statuses| %>
  <% issue_statuses.each do |old_status, allowed_issue_statuses| %>
    <select class="status_id helper" id="status_id_options_<%= tracker.id %>_<%= old_status.id %>">
      <% allowed_issue_statuses.sort_by(&:position).each do |status| %>
        <option value="<%= status.id %>" class="<%= (status.is_closed? ?  l(:label_closed_issues) + ' ' : "") %>">
          <%= status.name %>
        </option>
      <% end %>
    </select>
  <% end %>
<% end %>

<% IssueStatus.all.each do |old_status| %>
  <select class="status_id helper" id="status_id_options_default_<%= old_status.id %>">
    <option value="<%= IssueStatus.default.id %>" class="<%= (IssueStatus.default.is_closed? ?  l(:label_closed_issues) + ' ' : "") %>">
      <%= IssueStatus.default.name %>
    </option>
    <% if old_status != IssueStatus.default %>
      <option value="<%= old_status.id %>" class="<%= (old_status.is_closed? ?  l(:label_closed_issues) + ' ' : "") %>">
        <%= old_status.name %>
      </option>
    <% end %>
  </select>
<% end %>

<select class="status_id helper" id="status_id_options">
  <% IssueStatus.find(:all, :order => "position ASC").each do |status| %>
    <option value="<%= status.id %>" class="<%= (status.is_closed? ?  l(:label_closed_issues) + ' ' : "") %>">
      <%= status.name %>
    </option>
  <% end %>
</select>

<select class="tracker_id helper" id="tracker_id_options">
  <% available_story_trackers.each do |tracker| %>
    <option value="<%= tracker.id %>">
      <%= tracker.name %>
    </option>
  <% end %>
</select>

<div id="story_template">
  <%= render :partial => 'rb_stories/story', :object => Story.new %>
</div>
