<!-- story helper tags -->
<select class="status_id helper" id="status_id_options">
  <% IssueStatus.find(:all, :order => "position ASC").each do |status| %>
    <option value="<%= status.id %>" class="<%= (status.is_closed? ?  l(:label_closed_issues) + ' ' : "") %>">
      <%= status.name %>
    </option>
  <% end %>
</select>

<select class="tracker_id helper" id="tracker_id_options">
  <% Tracker.find_all_by_id(Setting.plugin_redmine_backlogs[:story_trackers]).each do |tracker| %>
    <option value="<%= tracker.id %>">
      <%= tracker.name %>
    </option>
  <% end %>
</select>

<div id="story_template">
  <%= render :partial => 'rb_stories/story', :object => Story.new %>
</div>
