<%#-- copyright
OpenProject is an open source project management software.
Copyright (C) the OpenProject GmbH

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 3.

OpenProject is a fork of ChiliProject, which is a fork of Redmine. The copyright follows:
Copyright (C) 2006-2013 Jean-Philippe Lang
Copyright (C) 2010-2013 the ChiliProject Team

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.

See COPYRIGHT and LICENSE files for more details.

++#%>

<%=
  render(Primer::OpenProject::PageHeader.new) do |header|
    header.with_title { I18n.t(:project_module_costs) }
    header.with_breadcrumbs([{ href: admin_index_path, text: t("label_administration") },
                             { href: url_for({ controller: "/admin/settings", action: "show_plugin", id: :costs }), text: t(:project_module_costs) },
                             I18n.t(:label_setting_plural)])
  end
%>

<div id="settings">
  <%= styled_form_tag({controller: '/admin/settings', action: 'update_plugin' }) do %>

    <div class="form--field">
      <%= styled_label_tag :label_currency, t(:label_currency) %>
      <div class="form--field-container">
        <%= styled_text_field_tag 'settings[costs_currency]', @settings['costs_currency'], container_class: '-xslim' %>
      </div>
    </div>

    <div class="form--field">
      <%= styled_label_tag :label_currency_format, t(:label_currency_format) %>
      <div class="form--field-container">
        <%=  styled_text_field_tag 'settings[costs_currency_format]', @settings['costs_currency_format'], container_class: '-xslim' %>
      </div>
    </div>

    <%= styled_submit_tag t(:button_apply), class: '-primary' %>
  <% end %>
</div>
