<% html_title t(:label_administration), t(:label_license) %>

<%= error_messages_for 'license' %>

<%= toolbar title: t('admin.licenses.license') do %>
  <% if @license.encoded_license.present? %>
    <li class="toolbar-item">
      <%= link_to( "#{OpenProject::Static::Links.links[:upsale][:href]}?utm_source=ce-license-admin",
            { class: 'button -alt-highlight',
              aria: {label: t('admin.licenses.order_license')},
              title: t('admin.licenses.order_license')}) do %>
        <i class="button--icon icon-add"></i>
        <span class="button--text"><%= t('admin.licenses.order_license') %></span>
      <% end %>
    </li>
  <% end %>
<% end %>

<% unless LicenseService.instance.present? %>
  <div class="notification-box">
    <div class="notification-box--content">
      <h3><%= t('admin.licenses.upgrade_to_ee') %></h3>
      <%= image_tag "enterprise_edition.png", class: "widget-box--teaser-image" %>

      <p><%= t('homescreen.blocks.upsale.description') %></p>

      <ul class="">
        <li>
          <%= t('homescreen.blocks.upsale.additional_features') %>
        </li>
        <li>
          <%= t('homescreen.blocks.upsale.professional_support') %>
        </li>
      </ul>
      <p>
        <b>Become a hero!</b> Developers need to pay their bills, too. With Enterprise Edition you substantially contribute to this Open-Source community effort.
        <%# t('homescreen.blocks.upsale.professional_support') %>
      </p>
      <%= link_to( "#{OpenProject::Static::Links.links[:upsale][:href]}?utm_source=ce-license-admin",
            { class: 'button -alt-highlight',
              aria: {label: t('admin.licenses.order_license')},
              title: t('admin.licenses.order_license')}) do %>
        <i class="button--icon icon-add"></i>
        <span class="button--text"><%= t('admin.licenses.order_license') %></span>
      <% end %>
    </div>
  </div>
<% end %>


<%= render partial: "show" %>

<%= form_for @license,
             :url => {:action => :update},
             :html => {:method => :put} do |f|%>

  <%= f.label :encoded_license, t('admin.licenses.file') + ":"  %>
  <%= f.text_area :encoded_license, :cols => 60, :rows => 15, placeholder: t('admin.licenses.paste'), autocomplete: "off", autocorrect: "off", autocapitalize: "off", spellcheck: false %>

  <%= styled_button_tag t(:button_save), class: '-highlight -with-icon icon-checkmark' %>
  <%= link_to t(:button_cancel), {action: :edit}, class: 'button' %>
<% end %>
