<div class="model issue task <%= mark_if_closed(task) %>" id="issue_<%= task.id %>" <%= build_inline_style(task) %>>
  <div class="id">
    <div class="t"><%= issue_link_or_empty(task) %></div>
    <div class="v"><%= id_or_empty(task) %></div>
  </div>
  <div class="subject editable" fieldtype="textarea" fieldname="subject"><%= task.subject %></div>
  <div class="assigned_to_id editable" fieldtype="select" fieldname="assigned_to_id">
    <div class="t"><%= assignee_name_or_empty(task) %></div>
    <div class="v"><%= assignee_id_or_empty(task) %></div>
  </div>
  <div class="remaining_hours editable<%= ' empty' if remaining_hours(task).blank? %>" fieldname="remaining_hours"><%= remaining_hours(task) %></div>
  <div class="indicator"> </div>
  <div class="meta">
    <div class="story_id"><%= task.parent_id %></div>
    <div class="status_id"><%= task.status_id %></div>
    <div class="previous"><%= task.right_sibling.blank? ? '' : task.right_sibling.id %></div>
    <%= render :partial => "shared/model_errors", :object => task.errors %>
  </div>
</div>
