<%#-- copyright
OpenProject is a project management system.
Copyright (C) 2012-2017 the OpenProject Foundation (OPF)

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 3.

OpenProject is a fork of ChiliProject, which is a fork of Redmine. The copyright follows:
Copyright (C) 2006-2017 Jean-Philippe Lang
Copyright (C) 2010-2013 the ChiliProject Team

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.

See doc/COPYRIGHT.rdoc for more details.

++#%>

<% breadcrumb_paths(
  link_to(t(:label_board_plural), project_boards_path(@project)),
  link_to(h(@board.name), project_board_path(@project, @board)))
%>


<div class="top-page messages-wrapper">
  <div class="toolbar-container">
    <div class="toolbar">
      <div class="title-container">
        <h2 class="message-title" title="<%= h @topic.subject %>"><%= avatar(@topic.author) %><%=h @topic.subject %></h2>
      </div>
      <ul class="toolbar-items">
        <li class="toolbar-item">
          <%= watcher_link(@topic, User.current) %>
        </li>
        <li class="toolbar-item">
          <% if !@topic.locked? && authorize_for('messages', 'reply') %>
            <%= link_to({ action: 'quote', id: @topic }, remote: true, method: 'get', class: 'button') do %>
              <%= op_icon('button--icon icon-quote') %>
              <span class="button--text"><%= t(:button_quote) %></span>
            <% end %>
          <% end %>
        </li>
        <li class="toolbar-item">
          <% if @message.editable_by?(User.current) %>
            <%= link_to(edit_topic_path(@topic), accesskey: accesskey(:edit), class: 'button') do %>
              <%= op_icon('button--icon icon-edit') %>
              <span class="button--text"><%= t(:button_edit) %></span>
            <% end %>
          <% end %>
        </li>
        <li class="toolbar-item">
          <% if @message.destroyable_by?(User.current) %>
            <%= link_to(topic_path(@topic), method: :delete, data: { confirm: t(:text_are_you_sure) }, class: 'button') do %>
              <%= op_icon('button--icon icon-delete') %>
              <span class="button--text"><%= t(:button_delete) %></span>
            <% end %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="message">
  <p><span class="author"><%= authoring @topic.created_on, @topic.author %></span></p>
  <div class="wiki">
    <%= format_text(@topic.content, object: @topic, attachments: @topic.attachments) %>
  </div>
  <%= link_to_attachments @topic, author: false %>
</div>
<br />
<% unless @replies.empty? %>
  <h3 class="icon-context icon-quote"><%= t(:label_reply_plural) %> (<%= @replies.count %>)</h3>
  <% @replies.each do |message| %>
    <div class="message reply" id="<%= "message-#{message.id}" %>">
      <h4>
        <%= avatar(message.author) %>
        <%= link_to h(message.subject), topic_path(@topic,
                                                 r: message,
                                                 anchor: "message-#{message.id}") %>
        -
      <%= authoring message.created_on, message.author %>
      </h4>
      <div class="message-reply-menu">
        <%= link_to(icon_wrapper('icon-quote', t(:button_quote)),
                  { action: 'quote', id: message },
                  remote: true,
                  method: 'get',
                  title: t(:button_quote),
                  class: 'button -small',
                  alt: t(:button_quote)) if !@topic.locked? && authorize_for('messages', 'reply') %>
        <%= link_to(icon_wrapper('icon-edit', t(:button_edit)),
                  { action: 'edit', id: message },
                  title: t(:button_edit),
                  class: 'button -small',
                  alt: t(:button_edit)) if message.editable_by?(User.current) %>
        <%= link_to(icon_wrapper('icon-delete', t(:button_delete)),
                  { action: 'destroy', id: message},
                  method: :delete,
                  data: { confirm: t(:text_are_you_sure) },
                  title: t(:button_delete),
                  class: 'button -small',
                  alt: t(:button_delete)) if message.destroyable_by?(User.current) %>
      </div>
      <div class="wiki">
        <%= format_text message, :content, attachments: message.attachments %>
      </div>
      <%= link_to_attachments message, author: false %>
    </div>
  <% end %>
  <%= pagination_links_full @replies, per_page_links: false %>
<% end %>

<% if !@topic.locked? && authorize_for('messages', 'reply') %>
  <div class="form--space">
    <%= toggle_link t(:button_reply), "reply", {focus: 'reply_content'}, {class: 'button -highlight'} %>
  </div>

  <div id="reply" style="display:none;">

    <hr class="form--separator" />

    <%= labelled_tabular_form_for @reply,
                                  as: :reply,
                                  url: reply_to_topic_path(@topic),
                                  html: { multipart: true,
                                          id: 'message-form',
                                          class: 'form' } do |f| %>
      <%= render partial: 'form', locals: {f: f, replying: true} %>

      <hr class="form--separator" />

      <%= f.button t(:button_submit), class: 'button -highlight -highlight -with-icon icon-checkmark' %>
      <%= preview_link preview_topic_path(@message), 'message-form-preview' %>
    <% end %>
    <div id="preview"></div>
  </div>
<% end %>

<% html_title h(@topic.subject) %>
