<%#-- copyright
OpenProject is a project management system.
Copyright (C) 2012-2015 the OpenProject Foundation (OPF)

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 3.

OpenProject is a fork of ChiliProject, which is a fork of Redmine. The copyright follows:
Copyright (C) 2006-2013 Jean-Philippe Lang
Copyright (C) 2010-2013 the ChiliProject Team

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.

See doc/COPYRIGHT.rdoc for more details.

++#%>

<% breadcrumb_paths(
  link_to(l(:label_board_plural), project_boards_path(@project)),
  link_to(h(@board.name), project_board_path(@project, @board)))
%>

<% content_for :action_menu_specific do %>
  <%= watcher_link(@topic, User.current) %>
  <%= link_to(l(:button_quote),
              { action: 'quote', id: @topic },
              remote: true,
              method: 'get',
              class: 'icon icon-quote') if !@topic.locked? && authorize_for('messages', 'reply') %>
  <%= link_to(l(:button_edit),
              edit_topic_path(@topic),
              class: 'icon icon-edit',
              accesskey: accesskey(:edit)) if @message.editable_by?(User.current) %>
  <%= link_to(l(:button_delete),
              topic_path(@topic),
              method: :delete,
              confirm: l(:text_are_you_sure),
              class: 'icon icon-delete') if @message.destroyable_by?(User.current) %>
<% end %>

<div class="top-page">
  <%= render partial: 'layouts/action_menu_specific' %>
  <h2 title="<%= h @topic.subject %>"><%= avatar(@topic.author) %><%=h @topic.subject %></h2>
</div>
<div class="message">
  <p><span class="author"><%= authoring @topic.created_on, @topic.author %></span></p>
  <div class="wiki" ng-non-bindable>
    <%= format_text(@topic.content, object: @topic, attachments: @topic.attachments) %>
  </div>
  <%= link_to_attachments @topic, author: false %>
</div>
<br />
<% unless @replies.empty? %>
  <h3 class="icon-context icon-quote"><%= l(:label_reply_plural) %> (<%= @replies.count %>)</h3>
  <% @replies.each do |message| %>
    <div class="message reply" id="<%= "message-#{message.id}" %>">
      <h4>
        <%= avatar(message.author) %>
        <%= link_to h(message.subject), topic_path(@topic,
                                                 r: message,
                                                 anchor: "message-#{message.id}") %>
        -
      <%= authoring message.created_on, message.author %>
      </h4>
      <div class="message-reply-menu">
        <%= link_to(icon_wrapper('icon-context icon-quote', l(:button_quote)),
                  { action: 'quote', id: message },
                  remote: true,
                  method: 'get',
                  title: l(:button_quote),
                  class: 'no-decoration-on-hover',
                  alt: l(:button_quote)) if !@topic.locked? && authorize_for('messages', 'reply') %>
        <%= link_to(icon_wrapper('icon-context icon-edit', l(:button_edit)),
                  { action: 'edit', id: message },
                  title: l(:button_edit),
                  class: 'no-decoration-on-hover',
                  alt: l(:button_edit)) if message.editable_by?(User.current) %>
        <%= link_to(icon_wrapper('icon-context icon-delete', l(:button_delete)),
                  { action: 'destroy', id: message},
                  method: :delete,
                  confirm: l(:text_are_you_sure),
                  title: l(:button_delete),
                  class: 'no-decoration-on-hover',
                  alt: l(:button_delete)) if message.destroyable_by?(User.current) %>
      </div>
      <div class="wiki" ng-non-bindable>
        <%= format_text message, :content, attachments: message.attachments %>
      </div>
      <%= link_to_attachments message, author: false %>
    </div>
  <% end %>
  <%= pagination_links_full @replies, per_page_links: false %>
<% end %>

<% if !@topic.locked? && authorize_for('messages', 'reply') %>

  <p><%= toggle_link l(:button_reply), "reply", focus: 'reply_content' %></p>

  <div id="reply" style="display:none;">

    <%= labelled_tabular_form_for @reply,
                                  as: :reply,
                                  url: reply_to_topic_path(@topic),
                                  html: { multipart: true,
                                          id: 'message-form',
                                          class: 'form' } do |f| %>
      <%= render partial: 'form', locals: {f: f, replying: true} %>

      <hr class="form--separator">

      <%= f.button l(:button_submit), class: 'button -highlight -highlight -with-icon icon-yes' %>
      <%= preview_link preview_topic_path(@message), 'message-form-preview' %>
    <% end %>
    <div id="preview"></div>
  </div>
<% end %>

<% html_title h(@topic.subject) %>
