<%#-- copyright
OpenProject is an open source project management software.
Copyright (C) the OpenProject GmbH

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 3.

OpenProject is a fork of ChiliProject, which is a fork of Redmine. The copyright follows:
Copyright (C) 2006-2013 Jean-Philippe Lang
Copyright (C) 2010-2013 the ChiliProject Team

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.

See COPYRIGHT and LICENSE files for more details.

++#%>

<% html_title t(:label_administration), t(:label_work_package_plural), t(:label_progress_tracking) -%>

<%=
  render Primer::OpenProject::PageHeader.new do |header|
    header.with_title { t(:label_progress_tracking) }
    header.with_breadcrumbs([{ href: admin_index_path, text: t("label_administration") },
                             { href: admin_settings_work_packages_general_path, text: t(:label_work_package_plural) },
                             t(:label_progress_tracking)])
  end
%>

<%= styled_form_tag({ action: :update }, method: :patch) do %>
  <section class="form--section"
           data-application-target="dynamic"
           data-controller="admin--progress-tracking"
           data-admin--progress-tracking-percent-complete-edition-active-value="<%= OpenProject::FeatureDecisions.percent_complete_edition_active? %>">
    <div class="form--field">
      <%= setting_select :work_package_done_ratio,
                         WorkPackage::DONE_RATIO_OPTIONS.collect { |i| [t("setting_work_package_done_ratio_#{i}"), i] },
                         container_class: "-middle",
                         data: { admin__progress_tracking_target: "progressCalculationModeSelect",
                                 action: "admin--progress-tracking#displayWarning" } %>
      <div class="form--field-instructions"><%=
        if OpenProject::FeatureDecisions.percent_complete_edition_active?
          t("setting_work_package_done_ratio_explanation_html")
        else
          # This condition branch to be removed in 15.0 with :percent_complete_edition feature flag removal
          t("setting_work_package_done_ratio_explanation_pre_14_4_without_percent_complete_edition_html")
        end
                                            %></div>
    </div>
    <div class="op-toast -warning -with-bottom-spacing"
         hidden
         data-admin--progress-tracking-target="warningToast">
      <div class="op-toast--content">
        <p data-admin--progress-tracking-target="warningText"></p>
      </div>
    </div>
  </section>

  <%= styled_button_tag t(:button_save), class: "-primary -with-icon icon-checkmark" %>
<% end %>
