<%#-- copyright
OpenProject is an open source project management software.
Copyright (C) 2012-2023 the OpenProject GmbH

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 3.

OpenProject is a fork of ChiliProject, which is a fork of Redmine. The copyright follows:
Copyright (C) 2006-2013 Jean-Philippe Lang
Copyright (C) 2010-2013 the ChiliProject Team

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.

See COPYRIGHT and LICENSE files for more details.

++#%>
<turbo-frame id="work-package-meetings-tab-content" data-turbo="true">
  <%= link_to index_in_wp_tab_meetings_path(project_id: @meeting.project.id, work_package_id: @active_work_package&.id) do %>
    <%= render(Primer::Beta::Button.new(
      scheme: :secondary,
      size: :large,
      block: false,
      mb: 3
    )) do |component| %>
      <% component.with_leading_visual_icon(icon: "arrow-left") %>
      Back to overview
    <% end %>
  <% end %>
  <div>
    <%= 
      render(Primer::Beta::Text.new(font_weight: :bold, font_size: 4, color: :muted, mb: 1)) do 
        "Meeting:" 
      end 
    %>
    <%= link_to(meeting_path(@meeting), target: "_blank") do %>
      <%= 
        render(Primer::Beta::Text.new(font_weight: :bold, font_size: 4, mb: 1)) do 
          "#{@meeting.title}" 
        end 
      %>
    <% end %>
  </div>
  <%= 
    render(Primer::Beta::Text.new(font_size: :small, color: :subtle, tag: :div, mb: 3)) do 
      "#{format_date(@meeting.start_time)} #{format_time(@meeting.start_time, false)} - #{format_time(@meeting.end_time, false)}" 
    end 
  %>
  <%= render(MeetingAgendaItems::ListComponent.new(meeting: @meeting, active_work_package: @active_work_package)) %>
  <%= render(MeetingAgendaItems::NewSectionComponent.new(meeting: @meeting, state: :initial, active_work_package: @active_work_package)) %>
</turbo-frame>