<style type="text/css">
  <% OpenProject::Plugins::AuthPlugin.providers.each do |pro| %>
    <% if pro[:icon] %>
      #content .login-auth-providers a.auth-provider.auth-provider-<%= pro[:name] %> {
        background-image: url('<%= image_path(pro[:icon]) %>');
      }
      #top-menu #nav-login-content .login-auth-providers a.auth-provider.auth-provider-<%= pro[:name] %> {
        background-image: url('<%= image_path(pro[:icon]) %>');
      }
    <% end %>
  <% end %>
</style>
<% OpenProject::Plugins::AuthPlugin.providers.each do |pro| %>
  <%
    opts = {
      :controller => '/auth',
      :action => pro[:name]
    }
    if params["back_url"]
      opts[:origin] = params["back_url"]
    end
  %>
  <a href="<%= url_for opts %>" class="auth-provider auth-provider-<%= pro[:name] %>">
    <span class="auth-provider-name"><%= pro[:name] %></span>
  </a>
<% end %>
