<h3 class="widget-box--header">
  <span class="icon-context openproject"></span>
  <span class="widget-box--header-title"><%= l('homescreen.blocks.community') %></span>
</h3>

<ul class="widget-box--arrow-links">
  <li>
    <a href="https://www.openproject.org/open-source/release-notes/"
       title="<%= l(:label_release_notes) %>">
      <%= l(:label_release_notes) %>
    </a>
  </li>
  <li>
    <a href="https://community.openproject.org/projects/openproject/roadmap"
       title="<%= l(:label_development_roadmap) %>">
      <%= l(:label_development_roadmap) %>
    </a>
  </li>
  <li>
    <a href="https://community.openproject.org/projects/openproject/work_packages"
       title="<%= l(:label_report_bug) %>">
      <%= l(:label_report_bug) %>
    </a>
  </li>
  <li>
    <a href="https://www.openproject.com/enterprise-services/"
       title="<%= l(:label_professional_support) %>">
      <%= l(:label_professional_support) %>
    </a>
  </li>
  <li>
    <a href="https://www.openproject.org/blog/"
       title="<%= l(:label_blog) %>">
      <%= l(:label_blog) %>
    </a>
  </li>
  <li>
    <a href="https://www.openproject.org/open-source/openproject-plugins/"
       title="<%= l(:label_plugins) %>">
      <%= l(:label_plugins) %>
    </a>
  </li>
  <li>
    <a href="https://crowdin.com/projects/opf"
       title="<%= l(:label_add_edit_translations) %>">
      <%= l(:label_add_edit_translations) %>
    </a>
  </li>
  <li>
    <a href="https://www.openproject.org/api/"
       title="<%= l(:label_api_documentation) %>">
      <%= l(:label_api_documentation) %>
    </a>
  </li>
</ul>
