<h3 class="homescreen--blocks--item-header">
  <%= homescreen_user_avatar %>
  <%= l(:label_my_account) %>
</h3>

<ul class="homescreen--arrow-links">
  <li>
    <%= link_to l(:label_profile), my_account_path, title: l(:label_profile) %>
  </li>
  <li>
    <%= link_to l(:label_keyboard_shortcut_go_my_page), my_page_path,
                title: l(:label_keyboard_shortcut_go_my_page) %>
  </li>
  <li>
    <%= link_to l(:button_change_password), my_password_path, title: l(:button_change_password) %>
  </li>
</ul>
