<%= render 'homescreen/blocks/header', title: t(:label_news_latest) %>
<% unless @news.empty? %>
  <ul class="widget-box--arrow-links">
  <% @news.each do |news| %>
    <li class="widget-box--arrow-multiline">
      <%= avatar(news.author, class: 'widget-box--avatar news-author-avatar hidden-for-mobile') %>
      <div class="widget-box--project">
        <%= link_to_project(news.project) + ': ' %>
        <%= link_to h(news.title), news_path(news) %>
      </div>
      <div class="widget-box--author news-author"><%= authoring_at Date.strptime(news.created_at.to_s), news.author %></div>
      <p class="widget-box--additional-info"><%=  news.summary %></p>
    </li>
  <% end %>
  </ul>
<% end %>
