<%= render 'homescreen/blocks/header', title: t(:label_news_latest) %>
<% unless @news.empty? %>
  <ul class="widget-box--arrow-links">
  <% @news.each do |news| %>
    <li class="-widget-box--arrow-multiline">
      <div>
        <%= avatar(news.author, {class: 'avatar author-avatar'}) %>
        <%= link_to_project(news.project) + ': ' %>
        <%= link_to h(news.title), news_path(news) %>
        <div class="author"> <span><%= authoring news.created_at, news.author %></span> </div>
       <div> <span class="additional-information"><%=  news.summary %></span></div>
      </div>
    </li>
  <% end %>
  </ul>
<% end %>
