<h3 class="homescreen-blocks--item-header">
  <span class="icon-context icon-news"></span>
  <%= l(:label_news_latest) %>
</h3>

<% unless @news.empty? %>
  <ul class="homescreen--arrow-links">
  <% @news.each do |news| %>
    <li class="-homescreen--arrow-multiline">
      <div>
        <%= avatar(news.author, {class: 'avatar-mini'}) %>
        <%= link_to_project(news.project) + ': ' %>
        <%= link_to h(news.title), news_path(news) %>
        <br/>
        <p class="homescreen--additional-info"><%= authoring news.created_on, news.author %></p>
      </div>
    </li>
  <% end %>
  </ul>
<% end %>
