<h3 class="homescreen-blocks--item-header">
  <span class="icon-context icon-group"></span>
  <%= l(:label_user_plural) %>
</h3>

<p class="homescreen--additional-info"><%= l('homescreen.additional.users') %></p>

<% unless @newest_users.empty? %>
<ul class="homescreen--arrow-links">
  <% @newest_users.each do |user| %>
  <li>
    <%= link_to user, user_path(user), :title => user.name %>
    <small>(<%= format_date(user.created_on) %>)</small>
  </li>
  <% end %>
</ul>
<% end %>


<div class="homescreen-blocks--buttons">
  <% if User.current.admin? %>
    <%= link_to new_user_path, class: 'button -alt-highlight' do %>
      <i class="button--icon icon-add"></i>
      <span class="button--text"><%= l(:label_invite_user) %></span>
    <% end %>
  <% end %>
</div>
