<% case @state %>
<% when :waiting %>
  <%= render(Primer::OpenProject::FlexLayout.new(align_items: :center)) do |flex| %>
    <% flex.with_row do %>
      <div class="op-loading-indicator">
        <div></div><div></div>
      </div>
    <% end %>
    <% flex.with_row do %>
      <%= render(Primer::Beta::Text.new) { I18n.t('storages.open_project_storage_modal.waiting.a') } %>
    <% end %>
    <% flex.with_row do %>
      <%= render(Primer::Beta::Text.new) { I18n.t('storages.open_project_storage_modal.waiting.b') } %>
    <% end %>
  <% end %>
<% when :success %>
  <%= render(Primer::OpenProject::FlexLayout.new(align_items: :center)) do |flex| %>
    <% flex.with_row do %>
      <%= render(Primer::Beta::Octicon.new(:"check-circle", size: :medium, color: :success)) %>
    <% end %>
    <% flex.with_row do %>
      <%= render(Primer::Beta::Text.new) { I18n.t('storages.open_project_storage_modal.success.a') } %>
    <% end %>
    <% flex.with_row do %>
      <%= render(Primer::Beta::Text.new) { I18n.t('storages.open_project_storage_modal.success.b') } %>
    <% end %>
  <% end %>
<% end %>
<!-- Timeout: Permissions were not set within the expected time. Please, contact the administrator. -->
