<%#-- copyright
OpenProject is a project management system.

Copyright (C) 2010-2013 the OpenProject Foundation (OPF)

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 3.

See doc/COPYRIGHT.rdoc for more details.

++#%>

<div class="contextual">
<%= link_to l(:label_role_new), :action => 'new', :class => 'icon icon-add' %>
</div>

<h2><%=Role.model_name.human(:count => 2)%></h2>

<table class="list">
  <thead><tr>
    <th><%= Role.model_name.human %></th>
    <th><%=l(:button_sort)%></th>
	<th></th>
  </tr></thead>
  <tbody>
<% for role in @roles %>
  <tr class="<%= cycle("odd", "even") %>">
  <td><%= content_tag('span', link_to(role.name, :action => 'edit', :id => role)) %></td>
  <td align="center" style="width:15%;">

  <%= reorder_links('role', {:action => 'edit', :id => role}) %>

  </td>
  <td class="buttons">
    <%= link_to(l(:button_delete), principal_role_path(role),
                                   :method => :delete,
                                   :confirm => l(:text_are_you_sure),
                                   :class => 'icon icon-del')%>
  </td>
  </tr>
<% end %>
  </tbody>
</table>

<p><%= link_to l(:label_permissions_report), :action => 'report' %></p>

<%= html_title(Role.model_name.human(:count => 2)) -%>
