<%= stylesheet_link_tag 'bcf/bcf.css' %>
<%= toolbar title: t('bcf.bcf_xml.import_title') %>

<%= form_tag({ action: :configure_import }, multipart: true, method: :post) do %>
  <%= render 'import_options_hidden_fields' %>
  <h3><%= t('bcf.bcf_xml.import.invalid_types_found') %></h3>
  <ul>
    <% @importer.aggregations.unknown_types.each do |name| %>
      <li> <%= name.present? ? name : "(#{t('bcf.bcf_xml.import.no_type_provided')})" %></li>
    <% end %>
  </ul>
  <p>
    <input type="hidden" name="import_options[unknown_types_action]" value="chose">
    <%= t('bcf.bcf_xml.import.import_types_as') %>
    <% options = Type.all.collect { |type| [type.name, type.id] } %>
    <%= select_tag 'import_options[unknown_types_chose_ids][]', options_for_select(options),
                   multiple: false,
                   no_label: true,
                   title:    l(:label_type),
                   tabIndex: 0,
                   class:    'form--select form--inline-select',
                   id:       'unknown_types_chose_ids' %>
  </p>

  <%= submit_tag t('bcf.bcf_xml.import.button_proceed'), class: 'button -highlight' %>
  <%= link_to t(:button_cancel),
              project_work_packages_bcf_issues_path(@project),
              class: 'button' %>
<% end %>

