<%= stylesheet_link_tag 'bcf/bcf.css' %>
<%= toolbar title: t('bcf.bcf_xml.import_title') %>

<%= form_tag({ action: :configure_import }, multipart: true, method: :post) do %>
  <%= render 'import_options_hidden_fields' %>
  <h3><%= t('bcf.bcf_xml.import.invalid_priorities_found') %></h3>
  <ul>
    <% @importer.aggregations.unknown_priorities.each do |name| %>
      <li> <%= name.present? ? name : "(#{t('bcf.bcf_xml.import.no_priority_provided')})" %></li>
    <% end %>
  </ul>
  <div class="form--field">
    <input type="hidden" name="import_options[unknown_priorities_action]" value="chose">
    <%= t('bcf.bcf_xml.import.import_priorities_as') %>&nbsp;
    <% options = IssuePriority.all.collect { |priority| [priority.name, priority.id] } %>
    <%= styled_select_tag 'import_options[unknown_priorities_chose_ids][]',
                          options_for_select(options, IssuePriority.default.id),
                          multiple: false,
                          no_label: true,
                          title:    l(:label_priority),
                          tabIndex: 0,
                          class:    'form--select form--inline-select',
                          container_class: '-slim',
                          id:       'unknown_priorities_chose_ids' %>
  </div>

  <%= submit_tag t('bcf.bcf_xml.import.button_proceed'), class: 'button -highlight' %>
  <%= link_to t(:button_cancel),
              project_work_packages_bcf_issues_path(@project),
              class: 'button' %>
<% end %>

