<%= stylesheet_link_tag 'bcf/bcf.css' %>
<%= toolbar title: t('bcf.bcf_xml.import_title') %>

<%= form_tag({ action: :configure_import }, multipart: true, method: :post) do %>
  <%= render 'import_options_hidden_fields' %>
  <h3><%= t('bcf.bcf_xml.import.unknown_emails_found') %></h3>
  <ul>
    <% @importer.aggregations.unknown_mails.each do |mail| %>
      <li> <%= mail %></li>
    <% end %>
  </ul>
  <% if @roles.any? %>
    <% if  User.current.admin? %>
      <p><%= t('bcf.bcf_xml.import.what_to_do') %></p>
      <div class="form--field -full-width">
        <div class="form--field-container">
          <label class="option-label">
            <input type="radio" name="import_options[unknown_mails_action]" value="invite" checked>
            <%= t('bcf.bcf_xml.import.invite_as_members_with_role', project: @project.name) %>
            <% options = @roles.collect { |obj| [obj.name, obj.id] } %>
            <%= select_tag 'import_options[unknown_mails_invite_role_ids][]', options_for_select(options),
                           multiple: false,
                           no_label: true,
                           title:    l(:label_role_search),
                           tabIndex: 0,
                           class:    'form--select form--inline-select',
                           id:       'unknown_mails_invite_role_ids' %>
            (<%= t('bcf.recommended') %>)
          </label>
        </div>
      </div>
      <div class="form--field -full-width">
        <div class="form--field-container">
          <label class="option-label">
            <input type="radio" name="import_options[unknown_mails_action]" value="anonymize">
            <%= t('bcf.bcf_xml.import.replace_with_system_user') %> (<%= t('bcf.not_recommended') %>).
          </label>
        </div>
      </div>
    <% else %>
      <p>
        <%= t('bcf.bcf_xml.import.no_permission_to_add_members') %>
        <%= t('bcf.bcf_xml.import.contact_project_admin') %>
      </p>
      <p>
        <%= t('bcf.bcf_xml.import.continue_anyways') %>
        <input type="hidden" name="import_options[unknown_mails_action]" value="anonymize">
        <%= t('bcf.bcf_xml.import.replace_with_system_user') %>.
      </p>
    <% end %>
    <%= submit_tag t('bcf.bcf_xml.import.button_proceed'), class: 'button -highlight' %>
    <%= link_to t(:button_cancel),
                project_work_packages_bcf_issues_path(@project),
                class: 'button' %>
  <% else %>
    <p>
      <%= I18n.t('text_no_roles_defined') %>
    </p>
    <%= link_to t(:button_cancel),
                project_work_packages_bcf_issues_path(@project),
                class: 'button' %>
  <% end %>
<% end %>

