<%#-- copyright
OpenProject Documents Plugin

Former OpenProject Core functionality extracted into a plugin.

Copyright (C) 2009-2014 the OpenProject Foundation (OPF)

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 3.

OpenProject is a fork of ChiliProject, which is a fork of Redmine. The copyright follows:
Copyright (C) 2006-2013 Jean-Philippe Lang
Copyright (C) 2010-2013 the ChiliProject Team

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.

See doc/COPYRIGHT.rdoc for more details.

++#%>

<% html_title t('ifc_models.label_default_ifc_models')  -%>

<%= render partial: 'show_headers', locals: { all_models: @ifc_models, selected_models: @default_ifc_models } %>

<%= toolbar title: t('ifc_models.label_default_ifc_models') do %>
  <li class="toolbar-item">
    <%= link_to(ifc_models_project_ifc_models_path(@project), class: 'button', accesskey: accesskey(:edit)) do %>
      <%= op_icon('button--icon icon-settings2') %> <%= t('ifc_models.label_manage_models') %>
    <% end %>
  </li>
  <li class="toolbar-item">
    <zen-mode-toggle-button></zen-mode-toggle-button>
  </li>
<% end %>

<% if @default_ifc_models.empty? %>
  <%= render partial: 'no_default_notice', locals: { project: @project } %>
<% else %>
  <% unconverted = @default_ifc_models.reject(&:converted?) %>

  <% if unconverted.any? %>
    <%= render partial: 'unconverted_notice', locals: { unconverted: unconverted } %>
  <% end %>

  <div class="ifc-viewer--container">
    <ifc-viewer></ifc-viewer>
  </div>
<% end %>
