<%#-- copyright
OpenProject is a project management system.
Copyright (C) 2012-2017 the OpenProject Foundation (OPF)

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 3.

OpenProject is a fork of ChiliProject, which is a fork of Redmine. The copyright follows:
Copyright (C) 2006-2017 Jean-Philippe Lang
Copyright (C) 2010-2013 the ChiliProject Team

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.

See doc/COPYRIGHT.rdoc for more details.

++#%>
<%= toolbar title: (@query.new_record? ? l(:label_calendar) : @query.name) %>

<div class="notification-box -warning">
  <a title="close" class="notification-box--close icon-context icon-close"></a>
  <div class="notification-box--content">
    <p><%= t('deprecations.calendar.removal')%></p>
  </div>
</div>

<%= form_tag(work_packages_calendar_index_path, method: :get, id: 'query_form') do %>
  <%= hidden_field_tag('project_id', @project.to_param) if @project %>
  <%= hidden_field_tag('set_filter', 1) %>
  <fieldset id="filters" class="form--fieldset -collapsible <%= @query.valid? ? 'collapsed' : '' %>">
    <legend class="form--fieldset-legend" onclick="toggleFieldset(this);">
      <a href="javascript:"><%= l(:label_filter_plural) %></a>
    </legend>
    <div>
      <%= render partial: 'queries/filters', locals: { query: @query } %>
    </div>
  </fieldset>
  <fieldset class="simple-filters--container">
    <legend><%= l('timeframe.show') %></legend>
    <ul class="simple-filters--filters">
      <li class="simple-filters--filter">
        <%= label_tag('month', l(:label_month), class: 'simple-filters--filter-name') %>
        <%= select_month(@month, { prefix: "month", discard_type: true }, class: 'simple-filters--filter-value') %>
      </li>
      <li class="simple-filters--filter">
        <%= label_tag('year', l(:label_year), class: 'simple-filters--filter-name') %>
        <%= select_year(@year, { prefix: "year", discard_type: true }, class: 'simple-filters--filter-value') %>
      </li>
      <li class="simple-filters--controls">
        <%= submit_tag l(:button_apply), class: 'button -highlight -small' %>
      </li>
    </ul>
  </fieldset>
<% end %>
<%= error_messages_for 'query' %>
<% if @query.valid? %>
  <p style="float:right;">
    <%= link_to_previous_month(@year, @month, project: @query.project) %>
    | <%= link_to_next_month(@year, @month, project: @query.project) %>
  </p>
  <%= render partial: 'common/calendar', locals: { calendar: @calendar } %>
  <p class="legend cal">
    <span class="starting icon icon-arrow-right4"></span>
    <%= l(:text_tip_work_package_begin_day) %>
  </p>
  <p class="legend cal">
    <span class="ending icon icon-arrow-right4"></span>
    <%= l(:text_tip_work_package_end_day) %>
  </p>
  <p class="legend cal">
    <span class="icon icon-milestone diamond"></span>
    <%= l(:text_tip_work_package_begin_end_day) %>
  </p>
<% end %>
<% content_for :sidebar do %>
  <%= render partial: 'work_packages/sidebar' %>
<% end %>

<% html_title(l(:label_calendar)) -%>
