<%#-- copyright
OpenProject Meeting Plugin

Copyright (C) 2011-2014 the OpenProject Foundation (OPF)

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 3.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.

See doc/COPYRIGHT.md for more details.

++#%>

<%= error_messages_for 'meeting' %>

<div class="box tabular">
  <p><%= f.text_field :title, :required => true, :size => 60, :class => "autofocus" %></p>
  <p><%= f.text_field :location, :size => 60 %></p>
  <p>
    <%= f.text_field :start_date, :required => true, :size => 10 %>
    <%= calendar_for('meeting_start_date') %>
    <span class="inline-label">
      <%= accessible_time_select "meeting", "start_time", :ignore_date => true, :minute_step => 5 %>
      <span class="form-label"><%= Time.zone %></span>
    </span>
  </p>
  <p>
    <span class="inline-label">
      <%= f.text_field :duration, :required => true, :size => 5 %>
      <span class="form-label"><%=l :text_in_hours %></span>
    </span>
  </p>
  <div><label><%=Meeting.human_attribute_name(:participants) %></label>
    <table class="list">
      <thead><tr>
        <th><%=Meeting.human_attribute_name(:name) %></th>
        <th><%=Meeting.human_attribute_name(:participants_invited) %></th>
        <th><%=Meeting.human_attribute_name(:participants_attended) %></th>
      </tr></thead>
      <tbody>
        <% @meeting.all_changeable_participants.sort.each do |user| -%>
        <%= hidden_field_tag "meeting[participants_attributes][][user_id]", user.id %>
        <tr class="<%= cycle("odd", "even")%>">
          <td><%=h user %></td>
          <% if @meeting.participants.present? && participant = @meeting.participants.detect{|p| p.user_id == user.id} -%>
            <%= hidden_field_tag "meeting[participants_attributes][][id]", participant.id %>
            <td class="checkox" align="center">
              <%= label_tag "checkbox_invited_#{user.id}", user.name + " " + l(:description_invite), :class => "hidden-for-sighted" %>
              <%= check_box_tag "meeting[participants_attributes][][invited]", 1, participant.invited?, :id => "checkbox_invited_#{user.id}" %>
            </td>
            <td class="checkox" align="center">
              <%= label_tag "checkbox_attended_#{user.id}", user.name + " " + l(:description_attended), :class => "hidden-for-sighted" %>
              <%= check_box_tag "meeting[participants_attributes][][attended]", 1, participant.attended?, :id => "checkbox_attended_#{user.id}" %>
            </td>
          <% else -%>
            <td class="checkox" align="center">
              <%= label_tag "checkbox_invited_#{user.id}", user.name + " " + l(:description_invite), :class => "hidden-for-sighted" %>
              <%= check_box_tag "meeting[participants_attributes][][invited]", value = "1", checked = false, :id => "checkbox_invited_#{user.id}" %>
            </td>
            <td class="checkox" align="center">
              <%= label_tag "checkbox_attended_#{user.id}", user.name + " " + l(:description_attended), :class => "hidden-for-sighted" %>
              <%= check_box_tag "meeting[participants_attributes][][attended]", value = "1", checked = false, :id => "checkbox_attended_#{user.id}" %>
            </td>
          <% end -%>
        </tr>
        <% end -%>
      </tbody>
    </table>
  </div>
  <%= hidden_field_tag "copied_from_meeting_id", params[:copied_from_meeting_id] if params[:copied_from_meeting_id].present? %>
  <%= hidden_field_tag "copied_meeting_agenda_text", params[:copied_meeting_agenda_text] if params[:copied_meeting_agenda_text].present? %>
</div>

<%= render :partial => 'shared/meeting_header' %>
