<%= error_messages_for 'meeting' %>

<div class="box tabular">
  <p><%= f.text_field :title, :required => true, :size => 60 %></p>
  <p><%= f.text_field :location, :size => 60 %></p>
  <p><%= f.text_field :start_date, :required => true, :size => 10 %><%= calendar_for('meeting_start_date') %> <%= time_select "meeting", "start_time", :ignore_date => true, :minute_step => 5 %></p>
  <p><label for="meeting_duration"><%=l :field_duration %><span class="required"> *</span></label><%= text_field_tag "meeting[duration]", @meeting.duration, :size => 5 %> <em>(<%=l :text_in_hours %>)</em></p>
  <div><label><%=l :field_participants %></label>
    <table class="list">
      <thead><tr>
        <th><%=l :field_name %></th>
        <th><%=l :field_participants_invited %></th>
        <th><%=l :field_participants_attended %></th>
      </tr></thead>
      <tbody>
        <% @project.users.sort.each do |user| -%>
        <%= hidden_field_tag "meeting[participants_attributes][][user_id]", user.id %>
        <tr class="<%= cycle("odd", "even")%>">
          <td><%=h user %></td>
          <% if @meeting.participants.present? && participant = @meeting.participants.detect{|p| p.user_id == user.id} -%>
          <%= hidden_field_tag "meeting[participants_attributes][][id]", participant.id %>
          <td class="checkox" align="center"><%= check_box_tag "meeting[participants_attributes][][invited]", 1, participant.invited? %></td>
          <td class="checkox" align="center"><%= check_box_tag "meeting[participants_attributes][][attended]", 1, participant.attended? %></td>
          <% else -%>
          <td class="checkox" align="center"><%= check_box_tag "meeting[participants_attributes][][invited]" %></td>
          <td class="checkox" align="center"><%= check_box_tag "meeting[participants_attributes][][attended]" %></td>
          <% end -%>
        </tr>
        <% end -%>
      </tbody>
    </table>
  </div>
  <%= hidden_field_tag "copied_from_meeting_id", params[:copied_from_meeting_id] if params[:copied_from_meeting_id].present? %>
  <%= hidden_field_tag "copied_meeting_agenda_text", params[:copied_meeting_agenda_text] if params[:copied_meeting_agenda_text].present? %>
</div>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'redmine_meeting', :plugin => 'redmine_meeting' %>
<% end %>
