<%= error_messages_for 'meeting' %>

<div class="box tabular">
  <p><%= f.text_field :title, :required => true, :size => 60 %></p>
  <p><%= f.text_field :location, :size => 60 %></p>
  <p><%= f.text_field :start_date, :size => 10 %><%= calendar_for('meeting_start_date') %> <%= time_select("meeting", "start_time", :ignore_date => true) %></p>
  <!-- TODO: Irgendwie spuckt das Teil bei nicht-gespeichertem Meeting (wegen validation fail) den "echten" Attribut-Wert statt den des überladenen getters aus -->
  <p><%= f.text_field :duration, :size => 5 %> <em>(in hours)</em></p>
</div>