<div class="contextual">
<%= link_to_if_authorized(l(:label_meeting_new),
                          {:controller => 'meetings', :action => 'new', :project_id => @project},
                          :class => 'icon icon-add') %>
</div>

<h2><%= l(:label_meeting_plural)%></h2>

<% if @meetings_by_start_year_month_date.empty? -%>
<p class="nodata"><%= l(:label_no_data) %></p>
<% else -%>
<div class="meetings">
<% @meetings_by_start_year_month_date.sort.reverse.each do |year,meetings_by_start_month_date| -%>
<% meetings_by_start_month_date.sort.reverse.each do |month,meetings_by_start_date| -%>
  <h3 class="month_year"><%= "#{month_name(month)} #{year}" %></h3>
  <% meetings_by_start_date.sort.reverse.each do |date,meetings| -%>
  <h3 class="date"><%= format_activity_day(date) %></h3>
  <% meetings.each do |meeting| -%>
  <div class="meeting" id="meeting-<%= meeting.id %>">
    <span class="time"><%= format_time meeting.start_time, false %>-<%= format_time meeting.end_time, false %></span> <%= link_to h(meeting.title), :controller => 'meetings', :action => 'show', :id => meeting %>
    <p><strong><%= l(:field_location) %></strong>: <%=h meeting.location %>
    <p><strong><%= l(:field_participants) %></strong> (<%= meeting.participants.count %>): <%= meeting.participants.sort.join(", ") %></p>
  </div>
  <% end -%>
  <% end -%>
<% end -%>
<% end -%>
</div>
<% end -%>