<div class="contextual">
<%= link_to_if_authorized(l(:label_meeting_new),
                          {:controller => 'meetings', :action => 'new', :project_id => @project},
                          :class => 'icon icon-add') %>
</div>

<h2><%= l(:label_meeting_plural)%></h2>

<% if @meetings.empty? -%>
<p class="nodata"><%= l(:label_no_data) %></p>
<% else -%>
<% @meetings.each do |meeting| -%>
  <h3><%= link_to h(meeting.title), :controller => 'meetings', :action => 'show', :id => meeting %></h3>
  <p class="author"><%= authoring meeting.created_at, meeting.author %></p>
  <p>Location/Time</p>
<% end -%>
<% end -%>