<%#-- copyright
OpenProject Meeting Plugin

Copyright (C) 2011-2014 the OpenProject Foundation (OPF)

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 3.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.

See doc/COPYRIGHT.md for more details.

++#%>

<% html_title l(:label_meeting_plural) %>

<%= toolbar title: l(:label_meeting_plural) do %>
  <% if authorize_for(:meetings, :new) %>
      <a href="<%= new_meeting_path %>" id="add-meeting-button" title="Add meeting" class="button -alt-highlight">
        <i class="button--icon icon-add"></i>
        <span class="button--text"><%= I18n.t(:label_meeting_new) %></span>
      </a>
  <% end %>
<% end %>

<% if @meetings_by_start_year_month_date.empty? -%>
<p class="nodata"><%= l(:label_no_data) %></p>
<% else -%>
<div class="meetings meetings_by_month_year" id="activity">
<% @meetings_by_start_year_month_date.each do |year,meetings_by_start_month_date| -%>
<% meetings_by_start_month_date.each do |month,meetings_by_start_date| -%>
  <h3 class="month_year"><%= "#{month_name(month)} #{year}" %></h3>
  <div class="meetings_by_date">
  <% meetings_by_start_date.each do |date,meetings| -%>
    <h3 id="<%= date.strftime("%m-%d-%Y") %>" class="date"><%= format_activity_day(date) %></h3>
    <dl class="meetings">
    <% meetings.each do |meeting| -%>
      <dt class="meeting icon-context" id="meeting-<%= meeting.id %>">
        <%= avatar meeting.author, :size => "24" %>
        <span class="time"><%= format_time meeting.start_time, false %>-<%= format_time meeting.end_time, false %></span>
        <%= link_to h(meeting.title), :controller => '/meetings', :action => 'show', :id => meeting %>
      </dt>
      <dd class="meeting" id="meeting-<%= meeting.id %>">
        <p><strong><%= Meeting.human_attribute_name(:location) %></strong>: <%=h meeting.location %></p>
        <p><strong><%= Meeting.human_attribute_name(:participants_invited) %></strong> (<%= meeting.participants.select(&:invited).count %>): <%= format_participant_list meeting.participants.select(&:invited) %></p>
        <p><strong><%= Meeting.human_attribute_name(:participants_attended) %></strong> (<%= meeting.participants.select(&:attended).count %>): <%= format_participant_list meeting.participants.select(&:attended) %></p>
      </dd>
    <% end -%>
    </dl>
  <% end -%>
  </div>
<% end -%>
<% end -%>
</div>
<% end -%>

<p class="pagination">
  <%= link_to_content_update(l(:label_today), params.merge(:page => @page_of_today, :anchor => Date.today.strftime("%m-%d-%Y"))) %>
  <%= pagination_links_full @meetings, :container => false %>
</p>

<%= render :partial => 'shared/meeting_header' %>
