<div class="contextual">
<%= link_to_if_authorized(l(:label_meeting_new),
                          {:controller => 'meetings', :action => 'new', :project_id => @project},
                          :class => 'icon icon-add') %>
</div>

<h2><%= l(:label_meeting_plural)%></h2>

<% if @meetings.empty? -%>
<p class="nodata"><%= l(:label_no_data) %></p>
<% else -%>
<div class="meetings">
<% @meetings.each do |meeting| -%>
  <div class="meeting" id="meeting-<%= meeting.id %>">
    <h3><%= format_time meeting.start_time %>: <%= link_to h(meeting.title), :controller => 'meetings', :action => 'show', :id => meeting %></h3>
    <p class="author"><%= authoring meeting.created_at, meeting.author %></p>
    <p><strong><%= l(:field_location) %></strong>: <%=h meeting.location %> - <strong><%= l(:field_duration) %></strong>: <%= l_hours(meeting.duration) %></p>
    <p><strong><%= l(:field_participants) %></strong> (<%= meeting.participants.count %>): <%= meeting.participants.sort.join(", ") %></p>
  </div>
<% end -%>
</div>
<% end -%>