<div class="contextual">
  <%= link_to_if_authorized(l(:button_edit), {:action => 'edit'}, :class => 'icon icon-edit')%>
  <%= link_to_if_authorized(l(:button_delete), {:action => 'destroy'}, :method => :delete, :confirm => l(:text_are_you_sure), :class => 'icon icon-del')%>
</div>

<h2><%= l(:label_meeting) %> #<%= @meeting.id %></h2>

<div class="meeting details">
  <%= avatar(@author, :size => "64") %>
  <h3><%=h @meeting.title %></h3>
  <p class="author"><%= authoring @meeting.created_at, @author %></p>
  <p><strong><%= l(:field_location) %></strong>: <%=h @meeting.location %></p>
  <p><strong><%= l(:field_start_time) %></strong>: <%= format_time @meeting.start_time %></p>
  <p><strong><%= l(:field_duration) %></strong>: <%= l_hours(@meeting.duration) %></p>
</div>

<div class="meeting meeting-content meeting-agenda">
  <h3><%= l(:label_meeting_agenda)%></h3>
  <% if authorize_for('meetings', 'edit') -%>
  <%= link_to l(:button_edit), "#", :class => 'icon icon-edit', :accesskey => accesskey(:edit), :onclick => 'Element.show("edit-meeting-agenda"); return false;' %>
  <div id="edit-meeting-agenda"<%= " style=\"display:none;\"" if @meeting.agenda.present? %>>
  <%= render(:partial => "contents_form", :locals => {:content => @meeting.agenda, :content_type => "agenda", :meeting_id => @meeting.id}) %>
  <%= link_to l(:button_cancel), "#", :onclick => 'Element.hide("edit-meeting-agenda"); return false;' %>
  </div>
  <% end -%>
  <%= render(:partial => "contents", :locals => {:content => @meeting.agenda, :content_type => "agenda", :meeting_id => @meeting.id}) if @meeting.agenda.present? %>  
</div>

<div class="meeting meeting-content meeting-minutes">
  <h3><%= l(:label_meeting_minutes)%></h3>
  <% if authorize_for('meetings', 'edit') -%>
  <%= link_to l(:button_edit), "#", :class => 'icon icon-edit', :accesskey => accesskey(:edit), :onclick => 'Element.show("edit-meeting-minutes"); return false;' %>
  <div id="edit-meeting-minutes"<%= " style=\"display:none;\"" if @meeting.minutes.present? %>>
  <%= render(:partial => "contents_form", :locals => {:content => @meeting.minutes, :content_type => "minutes", :meeting_id => @meeting.id}) %>
  <%= link_to l(:button_cancel), "#", :onclick => 'Element.hide("edit-meeting-minutes"); return false;' %>
  </div>
  <% end -%>
  <%= render(:partial => "contents", :locals => {:content => @meeting.minutes, :content_type => "minutes", :meeting_id => @meeting.id}) if @meeting.minutes.present? %>
</div>