<div class="contextual">
  <%= link_to_if_authorized(l(:button_edit), {:action => 'edit'}, :class => 'icon icon-edit')%>
  <%= link_to_if_authorized(l(:button_copy), {:controller => 'meetings', :action => 'new', :project_id => @project, :copy_from_id => @meeting}, :class => 'icon icon-copy')%>
  <%= link_to_if_authorized(l(:button_delete), {:action => 'destroy'}, :method => :delete, :confirm => l(:text_are_you_sure), :class => 'icon icon-del')%>
</div>

<h2><%= l(:label_meeting) %>: <%=h @meeting.title %></h2>

<div class="meeting details box">
  <%= avatar(@author, :size => "64") %>
  <p class="author"><%= authoring @meeting.created_at, @author %></p>
  <div class="splitcontentleft">
  <p><strong><%= l(:field_location) %></strong>: <%=h @meeting.location %></p>
  <p><strong><%= l(:field_start_time) %></strong>: <%= format_time @meeting.start_time %></p>
  </div>
  <div class="splitcontentright">
  <p><strong><%= l(:field_duration) %></strong>: <%= l_hours(@meeting.duration) %></p>
  <p><strong><%= l(:field_participants) %></strong>: <%=h @meeting.participants.invited.join(", ") %></p>
  </div>
  <div style="clear:both;"> </div>
</div>

<%= render_tabs [{:name => 'agenda', :action => :create_meeting_agendas, :partial => 'meeting_contents/tab', :label => :label_meeting_agenda, :content => @meeting.agenda, :content_type => "meeting_agenda"}, {:name => 'minutes', :action => :create_meeting_minutes, :partial => 'meeting_contents/tab', :label => :label_meeting_minutes, :content => @meeting.minutes, :content_type => "meeting_minutes"}] %>