<%#-- copyright
OpenProject Meeting Plugin

Copyright (C) 2011-2014 the OpenProject Foundation (OPF)

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 3.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.

See doc/COPYRIGHT.md for more details.

++#%>

<% content_for :action_menu_specific do %>
  <%= watcher_link @meeting, User.current %>
  <%= link_to_if_authorized(l(:button_edit), {:controller => '/meetings', :action => 'edit', :id => @meeting}, :class => 'icon icon-edit', :accesskey => accesskey(:edit))%>
  <%= link_to_if_authorized(l(:button_copy), {:controller => '/meetings', :action => 'copy', :id => @meeting}, :class => 'icon icon-copy')%>
  <%= link_to_if_authorized(l(:button_delete), {:controller => '/meetings', :action => 'destroy', :id => @meeting}, :method => :delete, :confirm => l(:text_are_you_sure), :class => 'icon icon-delete')%>
<% end %>

<% html_title "#{l(:label_meeting)}: #{@meeting.title}" %>

<div class="top-page">
  <%= render :partial => 'layouts/action_menu_specific' %>
  <h2 title="<%= h @meeting.title %>"><%= l(:label_meeting) %>: <%= link_to @meeting %></h2>
</div>

<div class="meeting details box">
  <div class="grid-block wrap">
    <div class="grid-content small-12">
      <%= avatar(@meeting.author, :size => "64") %>
      <p class="author"><%= authoring @meeting.created_at, @meeting.author %></p>
    </div>
    <div class="grid-content small-6">
      <p><strong><%= Meeting.human_attribute_name(:start_time) %></strong>: <%= format_date @meeting.start_date %> <%= format_time @meeting.start_time, false %> - <%= format_time @meeting.end_time, false %> <%= Time.zone %></p>
    </div>
    <div class="grid-content small-6">
      <p><strong><%= Meeting.human_attribute_name(:location) %></strong>: <%=h @meeting.location %></p>
    </div>
    <div class="grid-content small-12">
      <p><strong><%= Meeting.human_attribute_name(:participants_invited) %></strong>: <%= format_participant_list @meeting.participants.invited %></p>
    </div>
    <div class="grid-content small-12">
      <p><strong><%= Meeting.human_attribute_name(:participants_attended) %></strong>: <%= format_participant_list @meeting.participants.attended %></p>
    </div>
  </div>
</div>

<%= render_tabs [{:name => 'agenda', :action => :create_meeting_agendas, :partial => 'meeting_contents/show', :label => :label_meeting_agenda, :content => @meeting.agenda || @meeting.build_agenda, :content_type => "meeting_agenda"},
                 {:name => 'minutes', :action => :create_meeting_minutes, :partial => 'meeting_contents/show', :label => :label_meeting_minutes, :content => @meeting.minutes || @meeting.build_minutes, :content_type => "meeting_minutes"}] %>

<% if @meeting.journals.changing.present? %>
<div id="history">
  <h3><%=l(:label_history)%></h3>
  <% @meeting.journals.each do |journal| %>
    <%= render_meeting_journal @meeting, journal %>
  <% end %>
</div>
<% end %>

<%= render :partial => 'shared/meeting_header' %>
