<%#-- copyright
OpenProject is a project management system.
Copyright (C) 2012-2015 the OpenProject Foundation (OPF)

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 3.

OpenProject is a fork of ChiliProject, which is a fork of Redmine. The copyright follows:
Copyright (C) 2006-2013 Jean-Philippe Lang
Copyright (C) 2010-2013 the ChiliProject Team

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.

See doc/COPYRIGHT.rdoc for more details.

++#%>
<table class="list">
  <thead>
    <tr>
      <th width="30%"><%= CustomField.human_attribute_name(:name) %></th>
      <th><%= CustomField.human_attribute_name(:field_format) %></th>
      <th><%= CustomField.human_attribute_name(:is_required) %></th>
      <% if tab[:name] == 'WorkPackageCustomField' %>
        <th><%= CustomField.human_attribute_name(:is_for_all) %></th>
        <th><%=l(:label_used_by)%></th>
      <% end %>
      <th><%=l(:button_sort)%></th>
      <th width="10%"></th>
    </tr>
  </thead>
  <tbody>
    <% (@custom_fields_by_type[tab[:name]] || []).sort.each do |custom_field| -%>
      <tr class="<%= cycle("odd", "even") %>">
        <td><%= link_to h(custom_field.name), edit_custom_field_path(custom_field), lang: custom_field.name_locale %></td>
        <td align="center"><%= Redmine::CustomFieldFormat.label_for(custom_field.field_format) %></td>
        <td align="center"><%= checked_image custom_field.is_required? %></td>
        <% if tab[:name] == 'WorkPackageCustomField' %>
          <td align="center"><%= checked_image custom_field.is_for_all? %></td>
          <td align="center"><%= l(:label_x_projects, :count => custom_field.projects.count) if custom_field.is_a? WorkPackageCustomField and !custom_field.is_for_all? %></td>
        <% end %>
        <td align="center" style="width:15%;"><%= reorder_links('custom_field', {:action => 'update', :id => custom_field}, method: :put) %></td>
        <td class="buttons">
          <%= delete_link custom_field_path(custom_field) %>
        </td>
      </tr>
    <% end; reset_cycle %>
  </tbody>
</table>
<p><%= link_to l(:label_custom_field_new), new_custom_field_path(:type => tab[:name]), :class => 'icon icon-add' %></p>
