<div class="model sprint" id="<%= sprint_html_id_or_empty(sprint) %>">
  <div class="id">
    <div class="t"><%= sprint_link_or_empty(sprint) %></div>
    <div class="v"><%= id_or_empty(sprint) %></div>
  </div>
  <div class="effective_date editable date" fieldname="effective_date"><%= sprint.effective_date %></div>
  <div class="sprint_start_date editable date" fieldname="sprint_start_date"><%= sprint.sprint_start_date %></div>
  <div class="name editable" fieldname="name"><%= sprint.name %></div>
  <div class="meta">
    <%= render :partial => "shared/model_errors", :object => sprint.errors %>
  </div>
</div>
