<%#-- copyright
OpenProject is a project management system.

Copyright (C) 2012-2013 the OpenProject Team

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 3.

See doc/COPYRIGHT.rdoc for more details.

++#%>

<table class="list entries" id="browser">
<thead>
<tr id="root">
<th><%= Attachment.human_attribute_name(:filename) %></th>
<th><%= Attachment.human_attribute_name(:filesize) %></th>
<th><%= l(:label_revision) %></th>
<th><%= l(:label_age) %></th>
<th><%= Changeset.human_attribute_name(:author) %></th>
<th><%= Changeset.human_attribute_name(:comments) %></th>
</tr>
</thead>
<tbody>
<%= render :partial => 'dir_list_content' %>
</tbody>
</table>
