<%#-- copyright
OpenProject is a project management system.
Copyright (C) 2012-2015 the OpenProject Foundation (OPF)

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 3.

OpenProject is a fork of ChiliProject, which is a fork of Redmine. The copyright follows:
Copyright (C) 2006-2013 Jean-Philippe Lang
Copyright (C) 2010-2013 the ChiliProject Team

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.

See doc/COPYRIGHT.rdoc for more details.

++#%>

<% content_for :header_tags do %>
  <%= javascript_include_tag 'repository_navigation' %>
<% end %>
<% merge ||= {} %>
<% crumbs = render :partial => 'breadcrumbs', :locals => { :path => @path, :revision => @rev }.merge(merge) %>
<%= toolbar title: crumbs  do %>
  <li class="toolbar-item">
    <%= link_to stats_project_repository_path(@project), class: 'button' do %>
      <i class="button--icon icon-stats1"></i>
      <span class="button--text"><%= l(:label_statistics) %></span>
    <% end %>
  </li>
  <%# rev => nil prevents overwriting the rev parameter queried for in the form with the parameter from the request %>
  <%= form_tag({:action => controller.action_name, :project_id => @project, :path => to_path_param(@path), :rev => nil}, {:method => :get, :id => 'revision_selector'}) do -%>
    <!-- Branches Dropdown -->
    <% if !@repository.branches.nil? && @repository.branches.length > 0 -%>
      <li class="toolbar-item">
        <%= label_tag :branch, l(:label_branch), class: 'hidden-for-sighted' %>
        <%= select_tag :branch, options_for_select([''] + @repository.branches, @rev), id: 'branch' %>
      </li>
    <% end -%>

    <% if !@repository.tags.nil? && @repository.tags.length > 0 -%>
      <li class="toolbar-item">
        <%= label_tag :tag, l(:label_tag), class: 'hidden-for-sighted' %>
        <%= select_tag :tag, options_for_select([''] + @repository.tags, @rev), id: 'tag' %>
      </li>
    <% end -%>
    <li class="toolbar-item">
      <%= label_tag :rev, l(:label_revision), class: 'hidden-for-sighted' %>
      <%= text_field_tag :rev, @rev, placeholder: l(:label_revision) %>
    </li>
    <% if User.current.impaired? %>
      <li class="toolbar-item">
        <%=  button_tag 'OK', type: :submit, class: 'button -highlight' %>
      </li>
    <% end %>
  <% end -%>
<% end %>
