<div class="contextual">
  &#171;
  <% unless @changeset.previous.nil? -%>
    <%= link_to_revision(@changeset.previous, @project, :text => l(:label_previous)) %>
  <% else -%>
    <%= l(:label_previous) %>
  <% end -%>
|
  <% unless @changeset.next.nil? -%>
    <%= link_to_revision(@changeset.next, @project, :text => l(:label_next)) %>
  <% else -%>
    <%= l(:label_next) %>
  <% end -%>
  &#187;&nbsp;

  <% form_tag({:controller => 'repositories', :action => 'revision', :id => @project, :rev => nil}, :method => :get) do %>
    <%= text_field_tag 'rev', @rev, :size => 8 %>
    <%= submit_tag 'OK', :name => nil %>
  <% end %>
</div>

<h2><%= l(:label_revision) %> <%= format_revision(@changeset) %></h2>

<p><% if @changeset.scmid %>ID: <%= h(@changeset.scmid) %><br /><% end %>
<span class="author"><%= authoring(@changeset.committed_on, @changeset.author) %></span></p>

<%= textilizable @changeset.comments %>

<% if @changeset.issues.visible.any? %>
<h3><%= l(:label_related_issues) %></h3>
<ul>
<% @changeset.issues.visible.each do |issue| %>
  <li><%= link_to_issue issue %></li>
<% end %>
</ul>
<% end %>

<% if User.current.allowed_to?(:browse_repository, @project) %>
<h3><%= l(:label_attachment_plural) %></h3>
<ul id="changes-legend">
<li class="change change-A"><%= l(:label_added) %></li>
<li class="change change-M"><%= l(:label_modified) %></li>
<li class="change change-C"><%= l(:label_copied) %></li>
<li class="change change-R"><%= l(:label_renamed) %></li>
<li class="change change-D"><%= l(:label_deleted) %></li>
</ul>

<p><%= link_to(l(:label_view_diff), :action => 'diff', :id => @project, :path => "", :rev => @changeset.identifier) if @changeset.changes.any? %></p>

<div class="changeset-changes">
<%= render_changeset_changes %>
</div>
<% end %>

<% content_for :header_tags do %>
<%= stylesheet_link_tag "scm" %>
<% end %>

<% html_title("#{l(:label_revision)} #{format_revision(@changeset)}") -%>
