<div class="meeting_content <%= content_type %>">
  <div class="contextual">
  <%= link_to l(:button_edit), "#", :class => 'icon icon-edit', :accesskey => accesskey(:edit), :onclick => "Element.show(\"edit-#{content_type}\"); Element.hide(\"#{content_type}-text\"); return false;" if (authorize_for(content_type.pluralize, 'update') && (content.blank? || content.editable?)) %>
  <%= link_to_if_authorized(l(:label_history), {:controller => content_type.pluralize, :action => 'history', :meeting_id => @meeting}, :class => 'icon icon-history') unless content.blank? %>
  </div>
  <h2><%= title %></h2>
  <% if authorize_for(content_type.pluralize, 'update') -%>
  <div id="edit-<%= content_type %>"<%= " style=\"display:none;\"" if content.present? %>>
  <%= render(:partial => "meeting_contents/form", :locals => {:content => content, :content_type => content_type}) %>
  </div>
  <% end -%>
  <div class="wiki" id="<%= content_type %>-text">
    <%= textilizable(content.present? ? content.text : "") %>
  </div>
</div>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'redmine_meeting', :plugin => 'redmine_meeting' %>
<% end %>