<%#-- copyright
OpenProject is a project management system.

Copyright (C) 2012-2013 the OpenProject Team

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 3.

See doc/COPYRIGHT.rdoc for more details.

++#%>

<%
  tab ||= locals[:tab_contents] if defined? locals
  content, content_type = tab[:content], tab[:content_type] if tab && tab.present?
-%>
<div class="meeting_content <%= content_type %>">
  <div class="contextual">
    <%=raw meeting_content_context_menu content, content_type %>
  </div>
  <h2><%=l :"label_#{content_type}" %></h2>

  <% if can_edit_meeting_content?(content, content_type) -%>
    <div id="edit-<%= content_type %>" class="edit-<%= content_type %>"<%= " style=\"display: none;\"" unless show_meeting_content_editor?(content, content_type)%>>
    <%= render(:partial => "meeting_contents/form", :locals => {:content => content, :content_type => content_type}) %>
    </div>
  <% end -%>

  <% if saved_meeting_content_text_present?(content) -%>
    <div id="<%= content_type %>-text" class="wiki show-<%= content_type %>">
      <%= textilizable(content.text) %>
    </div>
  <% else -%>
    <p id="<%= content_type %>-text" class="nodata show-<%= content_type %>"><%= l(:label_no_data) %></p>
  <% end -%>

  <%= javascript_tag(show_meeting_content_editor?(content, content_type) ? "$$('.show-#{content_type}').invoke('hide');" : "$$('.edit-#{content_type}').invoke('hide');") %>
</div>

<%= render :partial => 'shared/meeting_header' %>
