<div class="contextual">
<%= link_to_if_authorized(l(:label_history), {:controller => @content_type.pluralize, :action => 'history', :meeting_id => @meeting}, :class => 'icon icon-history') %>
</div>

<h2><%= l(:"label_#{@content_type}") %>: <%= link_to @meeting %></h2>

<p>
<%= l(:label_version) %> <%= link_to @diff.content_from.version, {:controller => @content_type.pluralize, :action => 'show', :meeting_id => @meeting, :version => @diff.content_from.version} %>
<em>(<%= @diff.content_from.author %>, <%= format_time(@diff.content_from.updated_at) %>)</em>
&#8594;
<%= l(:label_version) %> <%= link_to @diff.content_to.version, {:controller => @content_type.pluralize, :action => 'show', :meeting_id => @meeting, :version => @diff.content_to.version} %>/<%= @content.version %>
<em>(<%= @diff.content_to.author %>, <%= format_time(@diff.content_to.updated_at) %>)</em>
</p>

<hr />

<%= html_diff(@diff) %>
