<div class="contextual">
<%= link_to_if_authorized(l(:label_history), {:controller => @content_type.pluralize, :action => 'history', :meeting_id => @meeting}, :class => 'icon icon-history') %>
</div>

<h2><%= l(:"label_#{@content_type}") %>: <%= link_to @meeting, @meeting %></h2>

<p>
<%= l(:label_version) %> <%= link_to @diff.content_from.version, {:controller => @content_type.pluralize, :action => 'show', :meeting_id => @meeting, :version => @diff.content_from.version} %>
<em>(<%= link_to_user(@diff.content_from.author) %>, <%= format_time(@diff.content_from.updated_at) %>)</em>
&#8594;
<%= l(:label_version) %> <%= link_to @diff.content_to.version, {:controller => @content_type.pluralize, :action => 'show', :meeting_id => @meeting, :version => @diff.content_to.version} %>/<%= @content.version %>
<em>(<%= link_to_user(@diff.content_from.author) %>, <%= format_time(@diff.content_to.updated_at) %>)</em>
</p>

<hr />

<div class="text-diff">
<%= simple_format_without_paragraph @diff.to_html %>
</div>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'redmine_meeting', :plugin => 'redmine_meeting' %>
<% end %>