<h2><%= l(:label_history) %>: <%= l(:"label_#{@content_type}") %> <%=h @meeting.title %></h2>

<% form_tag({:action => "diff"}, :method => :get) do %>
<table class="list">
<thead><tr>
    <th>#</th>
    <th></th>
    <th></th>    
    <th><%= l(:field_updated_on) %></th>
    <th><%= l(:field_author) %></th>
    <th><%= l(:field_comments) %></th>
</tr></thead>
<tbody>
<% show_diff = @content_versions.size > 1 %>
<% @content_versions.each_with_index do |content_version,index| %>
<tr class="<%= cycle("odd", "even") %>">
    <td class="id"><%= link_to content_version.version, :action => 'show', :meeting_id => @meeting, :version => content_version.version %></td>
    <td class="checkbox"><%= radio_button_tag('version', content_version.version, (index==0), :id => "checkbox-#{index}", :onclick => "$('checkbox-to-#{index+1}').checked=true;") if show_diff && (index < @content_versions.size-1) %></td>
    <td class="checkbox"><%= radio_button_tag('version_from', content_version.version, (index==1), :id => "checkbox-to-#{index}", :onclick => "if ($('checkbox-#{index}').checked==true || $('version_from').value > #{content_version.version}) {$('checkbox-#{index-1}').checked=true;}") if show_diff && (index > 0) %></td>
    <td align="center"><%= format_time(content_version.updated_at) %></td>
    <td><em><%= content_version.author ? content_version.author.name : "anonyme" %></em></td>
    <td><%=h content_version.comment %></td>
</tr>
<% end %>
</tbody>
</table>
<%= submit_tag l(:label_view_diff), :class => 'small' if show_diff %>
<% end %>
