<h1><%= link_to "#{issue.tracker.name} ##{issue.id}: #{issue.subject}", issue_url(issue) %></h1>

<ul>
  <li><%= Issue.human_attribute_name(:author)        %>: <%= issue.author        %></li>
  <li><%= Issue.human_attribute_name(:status)        %>: <%= issue.status        %></li>
  <li><%= Issue.human_attribute_name(:priority)      %>: <%= issue.priority      %></li>
  <li><%= Issue.human_attribute_name(:assigned_to)   %>: <%= issue.assigned_to   %></li>
  <li><%= Issue.human_attribute_name(:category)      %>: <%= issue.category      %></li>
  <li><%= Issue.human_attribute_name(:fixed_version) %>: <%= issue.fixed_version %></li>

  <% issue.custom_field_values.each do |value| %>
    <li><%= value.custom_field.name %>: <%= show_value(value) %></li>
  <% end %>
</ul>

<%= textilizable(issue.description, :only_path => false, :object => issue, :project => issue.project) %>
