<%#-- copyright
OpenProject is a project management system.

Copyright (C) 2012-2013 the OpenProject Team

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 3.

See doc/COPYRIGHT.rdoc for more details.

++#%>

<p><%= t(:mail_body_reminder, :count => @issues.size, :days => @days) %></p>

<ul>
<% @issues.each do |issue| -%>
  <li><%= issue.project %> - <%= link_to "#{issue.type} ##{issue.id}", issue_url(issue) %>: <%= issue.subject %></li>
<% end -%>
</ul>

<p><%= link_to t(:label_work_package_view_all), @assigned_issues_url %></p>
