<!-- Standard Ruby view, please see the controller for comments -->
<% html_title t(:label_administration), t("project_module_storages") %>

<%= toolbar title: t("project_module_storages") do %>
  <li class="toolbar-item">
    <%= link_to new_admin_settings_storage_path,
                { class: 'button -alt-highlight',
                  aria: { label: t('storages.label_new_storage') },
                  title: t('storages.label_new_storage') } do %>
      <%= op_icon('button--icon icon-add') %>
      <span class="button--text"><%= ::Storages::Storage.model_name.human %></span>
    <% end %>
  </li>
<% end %>

<div class="op-toast -info -with-bottom-spacing">
  <div class="op-toast--content">
    <p>
      <%= t('repositories.storage.setup_documentation_details') %>
      <a
        href="<%= ::OpenProject::Static::Links[:storage_docs][:setup][:href] %>"
        target="_blank"
        class="spot-link"
      >
        <%= t('repositories.storage.setup_documentation_details_link_text') %>
      </a>
    </p>
  </div>
</div>

<%= render(::Storages::Admin::TableComponent.new(rows: @storages)) %>
