<!-- Standard Ruby view, please see the controller for comments -->
<% html_title t(:label_administration), t("project_module_storages") %>

<% if OpenProject::FeatureDecisions.storage_primer_design_active? %>
  <%= render(Primer::OpenProject::PageHeader.new) do |component| %>
    <% component.with_title(classes: "f0-light") do %>
      <%= t("project_module_storages") %>
    <% end %>

    <% component.with_actions do %>
      <%= render(Primer::Beta::Button.new(scheme: :primary, size: :medium)) do |_component| %>
        <%= t("storages.label_new_storage") %>
      <% end %>
    <% end %>
  <% end %>

  <p class="mb-3 lead"><%= t("storages.page_titles.file_storages.subtitle") %></p>

<% else %>
  <%= toolbar title: t("project_module_storages") do %>
    <li class="toolbar-item">
      <%= link_to new_admin_settings_storage_path,
                  { class: 'button -alt-highlight',
                    aria: { label: t('storages.label_new_storage') },
                    title: t('storages.label_new_storage') } do %>
        <%= op_icon('button--icon icon-add') %>
        <span class="button--text"><%= ::Storages::Storage.model_name.human %></span>
      <% end %>
    </li>
  <% end %>

  <div class="op-toast -info -with-bottom-spacing">
    <div class="op-toast--content">
      <p>
        <%= t('repositories.storage.setup_documentation_details') %>
        <a
          href="<%= ::OpenProject::Static::Links[:storage_docs][:setup][:href] %>"
          target="_blank"
          class="spot-link"
        >
          <%= t('repositories.storage.setup_documentation_details_link_text') %>
        </a>
      </p>
    </div>
  </div>
<% end %>

<%= render(::Storages::Admin::TableComponent.new(rows: @storages)) %>
