<!-- Standard Ruby view, please see the controller for comments -->
<% html_title t(:label_administration), t("project_module_storages"), @object.name, "#{t("storages.provider_types.#{@object.provider_type}.name")} #{t("storages.label_oauth_application_details")}" %>
<% local_assigns[:additional_breadcrumb] = [
  link_to(@object.name, admin_settings_storage_path(@object)),
  t("storages.label_oauth_breadcrumb.openproject")
] %>
<%= toolbar title: "OpenProject #{t("storages.label_oauth_application_details")}" %>

<div class="op-toast -warning">
  <div class="op-toast--content">
    <p>
      <%= t('repositories.storage.oauth_application_details') %>
      <a
        href="<%= File.join(@oauth_application.integration.host, 'settings/admin/openproject') %>"
        target="_blank"
        class="spot-link"
      >
        <span class="spot-icon spot-icon_arrow-right3"></span>
        <span><%= t('repositories.storage.oauth_application_details_link_text') %></span>
      </a>
    </p>
  </div>
</div>

<%= labelled_tabular_form_for @oauth_application, url: '/' do |f| -%>
  <fieldset class="form--fieldset">
    <div class="form--field">
      <label class="form--label"><%= Storages::Admin::LABEL_OAUTH_CLIENT_ID %></label>

      <div class="form--field-container">
        <div class="form--text-field-container -wide">
          <%= text_field_tag(
                :uid,
                @oauth_application.uid,
                {
                  size: 40,
                  readonly: true,
                  id: 'client_id'
                }
              ) %>
        </div>
        <div class="form--field-affix">
          <% csp_onclick('this.focus(); this.select();', '#client_id') %>
          <copy-to-clipboard click-target=".client-id-copy-button"
                             clipboard-target="#client_id">
          </copy-to-clipboard>
          <button class="client-id-copy-button button -without-button-styling"
                  title="<%= t(:label_copy_to_clipboard) %>">
            <%= op_icon('icon-copy') %>
            <span class="hidden-for-sighted"><%= t(:label_copy_to_clipboard) %></span>
          </button>
        </div>
      </div>
    </div>

    <div class="form--field">
      <label class="form--label"><%= Storages::Admin::LABEL_OAUTH_CLIENT_SECRET %></label>

      <div class="form--field-container">
        <div class="form--text-field-container -wide">
          <%= text_field_tag(
                :plaintext_secret,
                @oauth_application.plaintext_secret,
                {
                  size: 40,
                  readonly: true,
                  id: 'secret'
                }
              ) %>
        </div>
        <div class="form--field-affix">
          <% csp_onclick('this.focus(); this.select();', '#secret') %>
          <copy-to-clipboard click-target=".secret-copy-button"
                             clipboard-target="#secret">
          </copy-to-clipboard>
          <button class="secret-copy-button button -without-button-styling"
                  title="<%= t(:label_copy_to_clipboard) %>">
            <%= op_icon('icon-copy') %>
            <span class="hidden-for-sighted"><%= t(:label_copy_to_clipboard) %></span>
          </button>
        </div>
      </div>
    </div>
  </fieldset>

  <% if @object.oauth_client %>
    <%= link_to t("storages.buttons.done_continue_setup"), admin_settings_storage_path(@object), class: "-highlight -with-icon icon-checkmark button" %>
  <% else %>
    <%= link_to t("storages.buttons.done_continue_setup"), new_admin_settings_storage_oauth_client_path(@object), class: "-highlight -with-icon icon-checkmark button" %>
  <% end %>
<% end %>
