<!-- Standard Ruby view, please see the controller for comments -->
<% html_title t(:label_administration), t("project_module_storages"), @object.name, "#{t("storages.provider_types.#{@object.provider_type}")} #{t("storages.label_oauth_application_details")}" %>
<% local_assigns[:additional_breadcrumb] = "#{t("storages.provider_types.#{@object.provider_type}")} #{t("storages.label_oauth_application_details")}" %>
<%= toolbar title: "#{t("storages.provider_types.#{@object.provider_type}")} #{t("storages.label_oauth_application_details")}" %>

<%= labelled_tabular_form_for @oauth_application, url: '/' do |f| -%>
  <div class="form--field">
    <%= f.text_field :uid,
                     label: t('storages.label_oauth_client_id'),
                     size: 40,
                     container_class: '-wide',
                     disabled: true,
                     id: 'client_id' %>
    <% csp_onclick('this.focus(); this.select();', '#client_id') %>
    <copy-to-clipboard click-target=".client-id-copy-button"
                       clipboard-target="#client_id">
    </copy-to-clipboard>
    <button class="client-id-copy-button toolbar-input--affix toolbar-input-group--affix -append"
            title="<%= t(:label_copy_to_clipboard) %>">
      <%= op_icon('icon-copy') %>
      <span class="hidden-for-sighted"><%= t(:label_copy_to_clipboard) %></span>
    </button>
  </div>
  <div class="form--field">
    <%= f.text_field :plaintext_secret,
                     label: t('storages.label_oauth_client_secret'),
                     size: 40,
                     container_class: '-wide',
                     disabled: true,
                     id: 'secret' %>
    <% csp_onclick('this.focus(); this.select();', '#secret') %>
    <copy-to-clipboard click-target=".secret-copy-button"
                       clipboard-target="#secret">
    </copy-to-clipboard>
    <button class="secret-copy-button toolbar-input--affix toolbar-input-group--affix -append"
            title="<%= t(:label_copy_to_clipboard) %>">
      <%= op_icon('icon-copy') %>
      <span class="hidden-for-sighted"><%= t(:label_copy_to_clipboard) %></span>
    </button>
  </div>
  <% if @object.oauth_client %>
    <%= link_to t("storages.buttons.done_continue_setup"), admin_settings_storage_path(@object), class: "-highlight -with-icon icon-checkmark button" %>
  <% else %>
    <%= link_to t("storages.buttons.done_continue_setup"), new_admin_settings_storage_oauth_client_path(@object), class: "-highlight -with-icon icon-checkmark button" %>
  <% end %>
<% end %>
