<%#-- copyright
OpenProject is an open source project management software.
Copyright (C) 2012-2023 the OpenProject GmbH

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 3.

OpenProject is a fork of ChiliProject, which is a fork of Redmine. The copyright follows:
Copyright (C) 2006-2013 Jean-Philippe Lang
Copyright (C) 2010-2013 the ChiliProject Team

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.

See COPYRIGHT and LICENSE files for more details.

++#%>
<!-- Standard Ruby view, please see the controller for comments -->
<% html_title t(:label_administration), t('project_module_storages'), t(@object.name) -%>
<% local_assigns[:additional_breadcrumb] = @object.name %>

<%= toolbar title: @object.name,
            title_class: 'no-padding-bottom' do %>
  <li class="toolbar-item">
    <%= link_to edit_admin_settings_storage_path(@object),
                class: 'button' do %>
      <%= op_icon('button--icon icon-edit') %>
      <span class="button--text"><%= t(:button_edit) %></span>
    <% end %>
  </li>
  <li class="toolbar-item">
    <%= link_to admin_settings_storage_path(@object),
                method: :delete,
                data: { confirm: I18n.t('storages.delete_warning.storage') },
                class: 'button -danger' do %>
      <%= op_icon('button--icon icon-delete') %>
      <span class="button--text"><%= t(:button_delete) %></span>
    <% end %>
  </li>
<% end %>

<% if @object.projects.empty? %>
  <div class="op-toast -warning -with-bottom-spacing">
    <div class="op-toast--content">
      <p>
        <%= t('repositories.storage.show_warning_details') %>
      </p>
    </div>
  </div>
<% end %>

<div class="attributes-group">
  <div class="attributes-group--header">
    <div class="attributes-group--header-container">
      <h3 class="attributes-group--header-text"><%= t(:label_general) %></h3>
    </div>
  </div>

  <div class="attributes-key-value">
    <div class="attributes-key-value--key"><%= t(:'storages.label_name') %></div>
    <div class="attributes-key-value--value-container">
      <div class="attributes-key-value--value -text"><span><%= @object.name %></span></div>
    </div>

    <div class="attributes-key-value--key"><%= t(:'storages.label_provider_type') %></div>
    <div class="attributes-key-value--value-container">
      <div class="attributes-key-value--value -text">
        <span><%= t(:"storages.provider_types.#{@object.provider_type}.name") %></span>
      </div>
    </div>

    <div class="attributes-key-value--key"><%= t(:'storages.label_host') %></div>
    <div class="attributes-key-value--value-container">
      <div class="attributes-key-value--value -text">
        <span><%= link_to @object.host, @object.host %></span>
      </div>
    </div>

    <div class="attributes-key-value--key"><%= t(:'storages.label_creator') %></div>
    <div class="attributes-key-value--value-container">
      <div class="attributes-key-value--value -text">
        <span><%= @object.creator.name %></span>
      </div>
    </div>

    <div class="attributes-key-value--key"><%= Storages::ProjectStorage.human_attribute_name(:created_at) %></div>
    <div class="attributes-key-value--value-container">
      <div class="attributes-key-value--value -text">
        <span><%= format_time(@object.created_at) %></span>
      </div>
    </div>
  </div>
</div>

<% if @object.oauth_application %>
  <div class="attributes-group">
    <div class="attributes-group--header">
      <div class="attributes-group--header-container">
        <h3 class="attributes-group--header-text">OpenProject <%= t(:'storages.label_oauth_application_details') %></h3>
      </div>
    </div>
    <div class="attributes-key-value">
      <div class="attributes-key-value--key">OpenProject <%= Storages::Admin::LABEL_OAUTH_CLIENT_ID %></div>
      <div class="attributes-key-value--value-container">
        <div class="attributes-key-value--value -text">
          <span><%= @object.oauth_application.uid %></span>
        </div>
      </div>
      <div class="attributes-key-value--key">OpenProject <%= Storages::Admin::LABEL_OAUTH_CLIENT_SECRET %></div>
      <div class="attributes-key-value--value-container">
        <div class="attributes-key-value--value -text">
          <span>●●●●●●●●●●●●●●●●</span>
        </div>
      </div>
    </div>
  </div>
<% end %>

<div class="attributes-group">
  <div class="attributes-group--header">
    <div class="attributes-group--header-container">
      <h3 class="attributes-group--header-text"><%= t("storages.provider_types.#{@object.provider_type}.name") %> <%= t(:'storages.label_oauth_client_details') %></h3>
    </div>
  </div>
  <% if @object.oauth_client %>
    <div class="attributes-key-value">
      <div class="attributes-key-value--key"><%= t("storages.provider_types.#{@object.provider_type}.name") %> <%= Storages::Admin::LABEL_OAUTH_CLIENT_ID %></div>
      <div class="attributes-key-value--value-container">
        <div class="attributes-key-value--value -text">
          <span><%= @object.oauth_client.client_id %></span>
        </div>
      </div>
      <div class="attributes-key-value--key"><%= t("storages.provider_types.#{@object.provider_type}.name") %> <%= Storages::Admin::LABEL_OAUTH_CLIENT_SECRET %></div>
      <div class="attributes-key-value--value-container">
        <div class="attributes-key-value--value -text">
          <span><%= short_secret(@object.oauth_client.client_secret) %></span>
        </div>
      </div>
    </div>
  <% else %>
    <%= t("storages.oauth_client_details_missing") %>
  <% end %>
</div>
