<div class="contextual">
<%= link_to l(:button_update), edit_hourly_rate_path(@user), :class => 'icon icon-edit', :accesskey => accesskey(:edit) %>
</div>
<h3><%= User.human_attribute_name(:default_rates) %></h3>
<% if @rates_default.blank? %>
<p class="nodata"><%= l(:label_no_data) %></p>
<% else %>
<table class="list rates">
  <thead><tr>
    <th><%= Rate.human_attribute_name(:valid_from) %></th>
    <th class="currency"><%= Rate.model_name.human %></th>
    <th><%= User.human_attribute_name(:current_rate) %></th>
  </tr></thead>
  <tbody id="rates_body">
  <% current_rate = @user.current_default_rate() %>
  <%- @rates_default.each do |rate| -%>
    <tr class="<%= cycle('odd', 'even') %>">
      <td style="padding-right: 1em;"><%= rate.valid_from %></td>
      <td class="currency"><%= number_to_currency(rate.rate) %></td>
      <td><%= rate == current_rate ? image_tag('webalys/check.png', :alt => l(:general_text_Yes)) : "" %></td>
    </tr>
  <%- end -%>
  </tbody>
</table>
<% end %>
