<%
  rates = @rates unless rates
  project = @project unless project

  current_rate = @user.current_rate(project)
%>

<div class="contextual">
<% if project && User.current.allowed_to?({:controller => '/hourly_rates', :action => 'edit'}, project) %>
  <%= link_to l(:button_update), {:controller => '/hourly_rates', :action => 'edit', :project_id => project, :id => @user}, :class => 'icon icon-edit', :accesskey => accesskey(:edit) %>
<% end %>
</div>
<h3><%=h project.name %><%= (" - " + number_to_currency(current_rate.rate)) if current_rate %></h3>
<% if rates.empty? %>
<p class="nodata"><%= l(:label_no_data) %></p>
<% else %>
<table class="list rates">
  <thead><tr>
    <th><%= Rate.human_attribute_name(:valid_from) %></th>
    <th class="currency"><%= Rate.model_name.human %></th>
    <th><%= User.human_attribute_name(:current_rate) %></th>
  </tr></thead>
  <tbody id="rates_body">
  <% current_rate = @user.current_rate(project, false) %>
  <%- rates.each do |rate| -%>
    <tr class="<%= cycle('odd', 'even') %>">
      <td style="padding-right: 1em;"><%= rate.valid_from %></td>
      <td class="currency"><%= number_to_currency(rate.rate) %></td>
      <td><%= rate == current_rate ? image_tag('webalys/check.png', :alt => l(:general_text_Yes)) : "" %></td>
    </tr>
  <%- end -%>
  </tbody>
</table>
<% end %>
