<h2><%= l(:caption_rate_history_for, :user => @user.name) %></h2>

<% if @project %>
  <%= render :partial => 'list_project' %>
<% else %>
  <%= render :partial => 'list_default' %>
  <%= render :partial => 'list' %>
<% end %>

<%= render :partial => 'shared/costs_header' %>
