<%#-- copyright
OpenProject is an open source project management software.
Copyright (C) 2012-2024 the OpenProject GmbH

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 3.

OpenProject is a fork of ChiliProject, which is a fork of Redmine. The copyright follows:
Copyright (C) 2006-2013 Jean-Philippe Lang
Copyright (C) 2010-2013 the ChiliProject Team

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.

See COPYRIGHT and LICENSE files for more details.

++#%>

<% html_title t(:label_administration), t(:label_work_package_status_plural) -%>
<%= toolbar title: t(:label_work_package_status_plural) do %>
  <li class="toolbar-item">
    <%= link_to new_status_path,
          { class: 'button -alt-highlight',
            aria: {label: t(:label_work_package_status_new)},
            title: t(:label_work_package_status_new)} do %>
      <%= op_icon('button--icon icon-add') %>
      <span class="button--text"><%= t(:label_status) %></span>
    <% end %>
  </li>
  <% if WorkPackage.use_status_for_done_ratio? %>
    <li class="toolbar-item">
      <%= link_to update_work_package_done_ratio_statuses_path, class: 'button', method: :post, data: { confirm: t(:text_are_you_sure) } do %>
        <%= op_icon('button--icon icon-reload') %>
        <span class="button--text"><%= t(:label_update_work_package_done_ratios) %></span>
      <% end %>
    </li>
  <% end %>
<% end %>

<%= render ::Statuses::TableComponent.new(rows: @statuses) %>
