<%#-- copyright
OpenProject is a project management system.
Copyright (C) 2012-2017 the OpenProject Foundation (OPF)

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 3.

OpenProject is a fork of ChiliProject, which is a fork of Redmine. The copyright follows:
Copyright (C) 2006-2017 Jean-Philippe Lang
Copyright (C) 2010-2013 the ChiliProject Team

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.

See doc/COPYRIGHT.rdoc for more details.

++#%>
<div class="top-menu-search--wrapper hidden-for-mobile">
  <%= label_tag("q", l(:label_search), class: "hidden-for-sighted") %>

  <%= form_tag(search_path(@project), method: :get) do %>
    <%= hidden_field_tag(controller.default_search_scope, 1, project_id: nil) if controller.default_search_scope %>

    <expandable-search class="top-menu-search -collapsed" ng-class="{'-collapsed': collapsed === true}">
      <div>
        <%= text_field_tag 'q', nil, size: 20, class: 'top-menu-search--input', placeholder: l(:search_input_placeholder) %>
        <a id="top-menu-search-button"
           class="top-menu-search--button search-form-normal"
           title="<%= l(:label_search) %>"
           accesskey="<%= accesskey(:quick_search) %>" tabindex="0">
           <%= op_icon('icon5 icon-search ellipsis') %>
        </a>
      </div>
    </expandable-search>
  <% end %>
</div>
