<li class="op-activity-list--item">
  <div class="op-activity-list--item-title">
    <%= link_to format_activity_title(@event.event_title), @event.event_path %>
    <% if display_belonging_project? -%>
      (Project: <%= content_tag('span', link_to(@event.project.name, @event.project), class: 'project') %>)
    <% end -%>
  </div>
  <div class="op-activity-list--item-subtitle">
    <%= @journal.initial? ? "created by" : "updated by" %>
    <%= avatar(@event.event_author, size: 'mini') %> <span class="spot-caption spot-caption_bold"><%= link_to_user(@event.event_author) %></span>
    on <%= format_time(@event.event_datetime.to_time, true) %>
  </div>
  <% if @event.event_description.present? -%>
    <div class="op-activity-list--item-description">
      <%= truncate_formatted_text(@event.event_description) %>
    </div>
  <% end -%>
  <% if show_details? -%>
    <ul class="op-activity-list--item-details">
      <% rendered_details.each do |detail| -%>
        <li class="op-activity-list--item-detail"><%= detail %></li>
      <% end -%>
    </ul>
  <% end -%>
</li>
