<h2>
  Edit Taskboard Card Configuration - <%= @config.name %>
</h2>
<%= form_for @config, :method => :put, url: pdf_export_taskboard_card_configuration_path(@config.id) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br>
  <%= f.label :identifier %>
  <%= f.text_field :identifier %>
  <br>
  <%= f.label :page_size %>
  <%= f.text_field :page_size %>
  <br>
  <%= f.label :per_page %>
  <%= f.text_field :per_page %>
  <br>
  <%= f.label :orientation %>
  <%= f.text_field :orientation %>
  <br>
  <%= f.label :rows %>
  <%= f.text_area :rows %>
  <br>
  <%= f.submit %>
<% end %>