<%#-- copyright
OpenProject is a project management system.

Copyright (C) 2012-2013 the OpenProject Team

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 3.

See doc/COPYRIGHT.rdoc for more details.

++#%>

<%= call_hook(:view_issues_form_details_top, { :issue => @issue, :form => f }) %>

<div id="issue_descr_fields"<% unless @issue.new_record? || @issue.errors.any? %> style="display:none;"<% end %>>
  <p><%= f.select :type_id, @project.types.collect {|t| [t.name, t.id]}, :required => true %></p>
  <%= observe_field :issue_type_id, :url => { :action => :new, :project_id => @project, :id => @issue },
                                       :update => :attributes,
                                       :method => :get,
                                       :with => "Form.serialize('issue-form')" %>

  <p><%= f.text_field :subject, :size => 80, :required => true %></p>

  <% if User.current.allowed_to?(:manage_subtasks, @project) %>
    <p id="parent_issue"><%= f.text_field :parent_id, :size => 10, :title => l(:description_autocomplete) %></p>
    <div id="parent_issue_candidates" class="autocomplete"></div>
    <%= javascript_tag "observeParentIssueField('#{issues_auto_complete_path(:id => @issue, :project_id => @project, :escape => false) }')" %>
  <% end %>

  <p>
    <%= f.text_area :description,
                    :cols => 60,
                    :rows => (@issue.description.blank? ? 10 : [[10, @issue.description.length / 50].max, 100].min),
                    :accesskey => accesskey(:edit),
                    :class => 'wiki-edit' %>
  </p>
</div>

<div id="attributes" class="attributes">
  <%= render :partial => 'issues/attributes' %>
</div>

<% if @issue.new_record? %>
  <div class="handle_attachments">
    <%= label_tag('attachments[1][file]', l(:label_attachment_plural))%>
    <%= render :partial => 'attachments/form' %>
  </div>
<% end %>

<% if @issue.new_record? && User.current.allowed_to?(:add_work_package_watchers, @project) -%>
  <p id="watchers_form">
    <label><%= l(:label_work_package_watchers) %></label>
    <% @issue.project.users.sort.each do |user| -%>
      <label class="floating"><%= check_box_tag 'issue[watcher_user_ids][]', user.id, @issue.watched_by?(user) %> <%=h user %></label>
    <% end -%>
  </p>
<% end %>

<%= call_hook(:view_issues_form_details_bottom, { :issue => @issue, :form => f }) %>

<%= wikitoolbar_for 'issue_description' %>
