<%#-- copyright
OpenProject is a project management system.

Copyright (C) 2012-2013 the OpenProject Team

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 3.

See doc/COPYRIGHT.rdoc for more details.

++#%>

<% if issues && issues.any? %>
<%= form_tag({}) do %>
  <table class="list issues">
    <thead><tr>
    <th>#</th>
    <th><%= Issue.human_attribute_name(:project)%></th>
    <th><%= Issue.human_attribute_name(:type)%></th>
    <th><%= Issue.human_attribute_name(:subject)%></th>
    </tr></thead>
    <tbody>
    <% for issue in issues %>
    <tr id="issue-<%= h(issue.id) %>" class="hascontextmenu <%= cycle('odd', 'even') %> <%= issue.css_classes %>">
      <td class="id">
        <%= check_box_tag("ids[]", issue.id, false, :style => 'display:none;') %>
        <%= link_to(h(issue.id), :controller => '/issues', :action => 'show', :id => issue) %>
      </td>
      <td class="project"><%= link_to_project(issue.project) %></td>
      <td class="type"><%=h issue.type %></td>
      <td class="subject">
        <%= link_to h(truncate(issue.subject, :length => 60)), :controller => '/issues', :action => 'show', :id => issue %> (<%=h issue.status %>)
      </td>
    </tr>
    <% end %>
    </tbody>
  </table>
<% end %>
<% else %>
  <p class="nodata"><%= l(:label_no_data) %></p>
<% end %>
