<%#-- copyright
OpenProject is a project management system.

Copyright (C) 2012-2013 the OpenProject Team

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 3.

See doc/COPYRIGHT.rdoc for more details.

++#%>

<p>
  <strong><%=l(:label_related_work_packages)%></strong>
  <% if authorize_for('issue_relations', 'create') %>
    (<%= toggle_link l(:label_add_related_issues), 'new-relation-form', {:focus => 'relation_issue_to_id'} %>)
  <% end %>
</p>

<table style="width:100%">
  <tbody>
    <%= render :partial => 'issues/relation', :collection => @relations, :as => :relation -%>
  </tbody>
</table>

<%= form_for(@issue.new_relation,
             :as => :relation,
             :url => issue_relations_path(@issue),
             :method => :post,
             :remote => true,
             :complete => "Form.Element.focus('relation_issue_to_id');",
             :html => {:id => 'new-relation-form', :style => (@relation ? '' : 'display: none;')}) do |f| %>

  <%= render :partial => 'issue_relations/form', :locals => {:f => f}%>

<% end %>
