<p>
  <strong><%=l(:label_related_issues)%></strong>
  <% if authorize_for('issue_relations', 'new') %>
    (<%= toggle_link l(:label_add_related_issues), 'new-relation-form', {:focus => 'relation_issue_to_id'} %>)
  <% end %>
</p>

<% if @relations.present? %>
<table style="width:100%">
<% @relations.each do |relation| %>
<tr>
<td><%= l(relation.label_for(@issue)) %> <%= "(#{l('datetime.distance_in_words.x_days', :count => relation.delay)})" if relation.delay && relation.delay != 0 %>
    <%= h(relation.other_issue(@issue).project) + ' - ' if Setting.cross_project_issue_relations? %>
    <%= link_to_issue(relation.other_issue(@issue), :truncate => 60) %>
</td>
<td><%= h(relation.other_issue(@issue).status.name) %></td>
<td><%= format_date(relation.other_issue(@issue).start_date) %></td>
<td><%= format_date(relation.other_issue(@issue).due_date) %></td>
<td><%= link_to_remote(image_tag('delete.png'), { :url => {:controller => 'issue_relations', :action => 'destroy', :issue_id => @issue, :id => relation},
                                                  :method => :post
                                                },
                                                :title => l(:label_relation_delete),
                                                :alt   => l(:label_relation_delete)) if authorize_for('issue_relations', 'destroy') %></td>
</tr>
<% end %>
</table>
<% end %>

<% remote_form_for(:relation, @relation,
                 :url => {:controller => 'issue_relations', :action => 'new', :issue_id => @issue},
                 :method => :post,
                 :complete => "Form.Element.focus('relation_issue_to_id');",
                 :html => {:id => 'new-relation-form', :style => (@relation ? '' : 'display: none;')}) do |f| %>
<%= render :partial => 'issue_relations/form', :locals => {:f => f}%>
<% end %>
