<%#-- copyright
OpenProject is a project management system.

Copyright (C) 2012-2013 the OpenProject Team

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 3.

See doc/COPYRIGHT.rdoc for more details.

++#%>

<strong><%= l(:label_work_package_hierarchy) %></strong>
(<%= link_to(l(:label_add_subtask), {:controller => '/issues', :action => 'new', :project_id => @project, :issue => {:parent_id => @issue}}) if User.current.allowed_to?(:manage_subtasks, @project) %>)

<% if !@issue.leaf? || @issue.parent %>
  <% indent = 0 %>

  <form action="#">
    <table id="issue_tree" class="list">

      <!-- render parent elements -->
      <% @ancestors.each do |issue| %>
        <%= render_issue_tree_row issue, indent, "parent" %>
        <% indent += 1 %>
      <% end %>

      <!-- render current element -->
      <%= render_issue_tree_row @issue, indent, "root" %>
      <% indent += 1 %>

      <!-- render child elements -->
      <% issue_list(@descendants) do |issue, level| %>
        <%= render_issue_tree_row issue, indent + level, "child" %>
      <% end %>

    </table>
  </form>
<% end %>
