<%#-- copyright
OpenProject is a project management system.

Copyright (C) 2012-2013 the OpenProject Team

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 3.

See doc/COPYRIGHT.rdoc for more details.

++#%>

<h2><%=l(:label_work_package_new)%></h2>


<%= labelled_tabular_form_for [@project, @issue],
                              :html => { :multipart => true,
                                         :id => 'issue-form',
                                         :class => 'tabular new-issue-form' } do |f| %>

    <%= error_messages_for 'issue' %>

    <div class="box">
      <%= render :partial => 'issues/form', :locals => {:f => f} %>
      <%= send_notification_option %>
    </div>

    <%= submit_tag l(:button_create) %>
    <%= submit_tag l(:button_create_and_continue), :name => 'continue' %>
    <%= link_to_issue_preview(@project) %>

		<%= javascript_tag "Form.Element.focus('issue_subject');" %>
<% end %>

<div id="preview" class="wiki"></div>

<% content_for :header_tags do %>
    <%= robot_exclusion_tag %>
<% end %>
