<%#-- copyright
OpenProject is a project management system.

Copyright (C) 2012-2013 the OpenProject Team

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 3.

See doc/COPYRIGHT.rdoc for more details.

++#%>

<%= render :partial => 'action_menu' %>

<% breadcrumb_paths(*[link_to(l(:label_work_package_plural), {:controller => '/issues', :action => 'index'})] << @ancestors.collect {|parent| link_to '#' + h(parent.id), {:controller => '/issues', :action => 'show', :id => parent}}) unless @ancestors.empty? %>

<%= content_tag('h2', h(@issue.type.name) + ' #' +@issue.id.to_s) %>

<div class="<%= work_package_css_classes(@issue) %> details">
  <div class="profile-wrap">
    <%= avatar(@issue.author, :size => "40") %>
  </div>
  <h3>
    <%=h(@issue.subject)  %>
  </h3>

  <p class="author">
    <%= authoring @issue.created_at, @issue.author %>.
    <% if @issue.created_at != @issue.updated_at %>
      <%= l(:label_updated_time, time_tag(@issue.updated_at)).html_safe %>.
    <% end %>
  </p>

  <table class="attributes">
    <tr>
      <th class="status"><%= Issue.human_attribute_name(:status)%>:</th><td class="status"><%= h(@issue.status.name) %></td>
      <th class="start-date"><%= Issue.human_attribute_name(:start_date)%>:</th><td class="start-date"><%= format_date(@issue.start_date) %></td>
    </tr>
    <tr>
      <th class="priority"><%= Issue.human_attribute_name(:priority)%>:</th><td class="priority"><%= h(@issue.priority.name) %></td>
      <th class="due-date"><%= Issue.human_attribute_name(:due_date)%>:</th><td class="due-date"><%= format_date(@issue.due_date) %></td>
    </tr>
    <tr>
      <th class="assigned-to"><%= Issue.human_attribute_name(:assigned_to)%>:</th><td class="assigned-to"><%= avatar(@issue.assigned_to, :size => "14") %><%= @issue.assigned_to ? link_to_user(@issue.assigned_to) : "-" %></td>
      <th class="progress"><%= Issue.human_attribute_name(:done_ratio)%>:</th><td class="progress"><%= progress_bar @issue.done_ratio, :width => '80px', :legend => "#{@issue.done_ratio}%" %></td>
    </tr>
    <tr>
      <th class="category"><%= Issue.human_attribute_name(:category)%>:</th><td class="category"><%=h(@issue.category ? @issue.category.name : "-") %></td>
      <% if User.current.allowed_to?(:view_time_entries, @project) %>
        <th class="spent-time"><%=l(:label_spent_time)%>:</th>
        <td class="spent-time"><%= @issue.spent_hours > 0 ? (link_to l_hours(@issue.spent_hours), issue_time_entries_path(@issue)) : "-" %></td>
      <% end %>
    </tr>
    <tr>
      <th class="fixed-version"><%= Issue.human_attribute_name(:fixed_version)%>:</th><td class="fixed-version"><%= @issue.fixed_version ? link_to_version(@issue.fixed_version) : "-" %></td>
      <% if @issue.estimated_hours %>
        <th class="estimated-hours"><%= Issue.human_attribute_name(:estimated_hours)%>:</th><td class="estimated-hours"><%= l_hours(@issue.estimated_hours) %></td>
      <% end %>
    </tr>
    <%= render_custom_fields_rows(@issue) %>
    <%= call_hook(:view_issues_show_details_bottom, :issue => @issue) %>
  </table>

  <% if @issue.description? %>
    <div class="description">
      <hr />
      <div class="contextual">
        <%= link_to_if_authorized(l(:button_quote), { :controller => '/issues', :action => 'quoted', :id => @issue }, :class => 'quote-link icon icon-comment') %>
      </div>
      <p><strong><%= Issue.human_attribute_name(:description)%></strong></p>
      <div class="wiki wikicontent" data-user="<%= @issue.author %>">
        <%= textilizable @issue, :description, :attachments => @issue.attachments %>
      </div>
    </div>
  <% end %>

  <% if @issue.attachments.any? -%>
    <%= link_to_attachments @issue %>
  <% end -%>

  <%= call_hook(:view_issues_show_description_bottom, :issue => @issue) %>

  <hr />

  <%= render :partial => 'subissues_paragraph' %>

  <% if authorize_for('issue_relations', 'create') || @relations.present? %>
    <div id="relations">
      <%= render :partial => 'relations' %>
    </div>
  <% end %>

  <% if User.current.allowed_to?(:add_work_package_watchers, @project) ||
    (@issue.watchers.present? && User.current.allowed_to?(:view_work_package_watchers, @project)) %>
    <div id="watchers">
      <%= render :partial => 'watchers/watchers', :locals => {:watched => @issue} %>
    </div>
  <% end %>
</div>
<div style="clear: both;"></div>

<% if @changesets.present? %>
  <div id="issue-changesets">
    <h3><%=l(:label_associated_revisions)%></h3>
    <%= render :partial => 'changesets', :locals => { :changesets => @changesets} %>
  </div>
<% end %>

<% if @journals.present? %>
  <div id="history">
    <h3><%=l(:label_history)%></h3>
    <%= render :partial => 'history', :locals => { :issue => @issue, :journals => @journals } %>
  </div>
<% end %>


<div style="clear: both;"></div>

<div class="title-bar" id="lower-title-bar">
  <%= render :partial => 'layouts/action_menu' %>
</div>

<div style="clear: both;"></div>
<% if authorize_for('issues', 'edit') %>
  <div id="update">
  </div>
<% end %>

<%= other_formats_links do |f| %>
	<%= f.link_to 'Atom', :url => {:key => User.current.rss_key} %>
	<%= f.link_to 'PDF' %>
<% end %>

<% html_title h("#{@issue.type.name} ##{@issue.id}: #{@issue.subject}") %>

<% content_for :sidebar do %>
  <%= render :partial => 'issues/sidebar' %>
<% end %>

<% content_for :header_tags do %>
  <%= auto_discovery_link_tag(:atom, {:format => 'atom', :key => User.current.rss_key}, :title => "#{@issue.project} - #{@issue.type} ##{@issue.id}: #{@issue.subject}") %>
  <%= stylesheet_link_tag 'context_menu_rtl' if l(:direction) == 'rtl' %>
<% end %>
<div id="context-menu" style="display: none;"></div>
<%= javascript_tag "new ContextMenu('#{issues_context_menu_path}')" %>

<% #include calendar js files in case they are needed for edit
  include_calendar_headers_tags -%>
