<div class="item impediment <%= mark_if_closed(impediment) %>" id="impediment_<%= impediment.id %>" <%= build_inline_style(impediment) %>>
  <div class="id"><%= issue_link_or_empty(impediment) %></div>
  <div class="subject editable" fieldtype="textarea" fieldname="subject"><%= impediment.subject %></div>
  <div class="blocks editable" fieldname="blocks"><%= blocked_ids(impediment.blocks) %></div>
  <div class="assigned_to_id editable" fieldtype="select" fieldname="assigned_to_id">
    <div class="t"><%= assignee_name_or_empty(impediment) %></div>
    <div class="v"><%= assignee_id_or_empty(impediment) %></div>
  </div>
  <div class="remaining_hours editable" fieldname="remaining_hours"><%= remaining_hours(impediment) %></div>
  <div class="indicator"> </div>
  <%- if @include_meta -%>
  <div class="meta">
    <div class="story_id"><%= impediment.parent_id %></div>
    <div class="status_id"><%= impediment.status_id %></div>
    <div class="previous"><%= impediment.higher_item.nil? ? '' : impediment.higher_item.id %></div>
  </div>
  <%- end %>
</div>