<div class="item task <%= mark_if_closed(task) %>" id="task_<%= task.id %>" <%= build_inline_style(task) %>>
  <div class="id"><%= issue_link_or_empty(task) %></div>
  <div class="subject editable" fieldtype="textarea" fieldname="subject"><%= task.subject %></div>
  <div class="remaining_hours editable" fieldname="remaining_hours"><%= remaining_hours(task) %></div>
  <div class="assigned_to_id editable" fieldtype="select" fieldname="assigned_to_id">
    <div class="t"><%= assignee_name_or_empty(task) %></div>
    <div class="v"><%= assignee_id_or_empty(task) %></div>
  </div>
  <div class="indicator"> </div>
  <%- if @include_meta -%>
  <div class="meta">
    <div class="story_id"><%= task.parent_id %></div>
    <div class="status_id"><%= task.status_id %></div>
    <div class="position"><%= task.position %></div>
    <div class="previous"><%= task.higher_item.nil? ? '' : task.higher_item.id %></div>
  </div>
  <%- end %>
</div>