<%#-- copyright
OpenProject is an open source project management software.
Copyright (C) 2012-2020 the OpenProject GmbH

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 3.

OpenProject is a fork of ChiliProject, which is a fork of Redmine. The copyright follows:
Copyright (C) 2006-2017 Jean-Philippe Lang
Copyright (C) 2010-2013 the ChiliProject Team

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.

See docs/COPYRIGHT.rdoc for more details.

++#%>

<%= render :partial => 'shared/costs_header' %>

<% html_title(t(:label_cost_object_plural)) %>
<%= toolbar title: t(:label_cost_object_plural) do %>
  <% if authorize_for(:cost_objects, :new) %>
    <li class="toolbar-item">
      <a href="<%= new_projects_cost_object_path(@project) %>" aria-label="<%= I18n.t(:button_add_cost_object) %>" id="add-budget-button" title="<%= I18n.t(:button_add_cost_object) %>" class="button -alt-highlight">
        <%= op_icon('button--icon icon-add') %>
        <span class="button--text"><%= t(:label_cost_object) %></span>
      </a>
    </li>
  <% end %>
<% end %>

<% if @cost_objects.empty? %>
  <%= no_results_box %>
<% else %>
<%= render :partial => 'list', :locals => {:cost_objects => @cost_objects} %>
<%= pagination_links_full @cost_objects %>
<% end %>

<p class="other-formats">
<%= t(:label_export_to) %>
<!--
<span><%= link_to 'Atom', {:query_id => @query, :format => 'atom', :key => User.current.rss_key}, :class => 'feed' %></span>
-->
<span><%= link_to 'CSV', {:format => 'csv'}, :class => 'csv' %></span>
<!--
<span><%= link_to 'PDF', {:format => 'pdf'}, :class => 'pdf' %></span>
-->
</p>
