<%#-- copyright
OpenProject Costs Plugin

Copyright (C) 2009 - 2014 the OpenProject Foundation (OPF)

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
version 3.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.

++#%>

<%-
  templated ||= false
  index ||= "INDEX"
  new_or_existing = material_budget_item.new_record? ? 'new' : 'existing'
  id_or_index = material_budget_item.new_record? ? index : material_budget_item.id
  prefix = "cost_object[#{new_or_existing}_material_budget_item_attributes][]"
  id_prefix = "cost_object_#{new_or_existing}_material_budget_item_attributes_#{id_or_index}"
  name_prefix = "cost_object[#{new_or_existing}_material_budget_item_attributes][#{id_or_index}]"
  classes ||= ""

  classes += " budget-row-template" if templated
  @material_budget_item = material_budget_item
  error_messages = error_messages_for 'material_budget_item'
-%>

<% unless error_messages.blank? %><tr><td colspan="5"><%= error_messages %></td></tr><% end %>
<%= fields_for prefix, material_budget_item do |cost_form| %>
<tr class="cost_entry <%= classes %>" id="<%= id_prefix %>">
  <td class="units">
    <div class="form--field-container">
        <div class="form--text-field-container -xslim">
           <label class="hidden-for-sighted" for="<%= id_prefix %>_units"><%= MaterialBudgetItem.human_attribute_name(:units) %></label>
          <%= cost_form.number_field :units,
                                     index: id_or_index,
                                     min: 0,
                                     step: 0.01,
                                     class: 'budget-item-value form--text-field',
                                     data: { :'request-key' => 'units' } %>
        </div>
      </div>
  </td>
  <td class="unit_currency budget-table--fields" id="<%= "#{id_prefix}_unit_name" %>">
    <%=h material_budget_item.cost_type.unit_plural if material_budget_item.cost_type %>
  </td>
  <td class="cost_type">
    <label class="hidden-for-sighted" for="<%= id_prefix %>_cost_type_id"><%= MaterialBudgetItem.human_attribute_name(:cost_type) %></label>
    <%= cost_form.select :cost_type_id,
                         cost_types_collection_for_select_options(material_budget_item.cost_type),
                         {},
                         {
                           index: id_or_index,
                           class: 'form--select budget-item-value',
                           data: { :'request-key' => 'cost_type_id' }
                         } %>
  </td>
  <td class="comment">
    <label class="hidden-for-sighted" for="<%= id_prefix %>_comments"><%= MaterialBudgetItem.human_attribute_name(:comments) %></label>
    <%= cost_form.text_field :comments, index: id_or_index, size: 40 %>
  </td>
  <% if User.current.allowed_to? :view_cost_rates, @project %>
    <td class="currency budget-table--fields">
      <% obj_id = "#{id_prefix}_costs" %>
      <%# Keep current budget as hidden field because otherwise they will be overridden %>
      <% if templated == false && !material_budget_item.new_record? && material_budget_item.overridden_budget? %>
        <%= cost_form.hidden_field :budget, value: material_budget_item.budget %>
      <% end %>
      <cost-unit-subform obj-id="<%= obj_id %>" obj-name="<%= "#{name_prefix}[budget]" %>">
        <a id="<%= obj_id %>" class="costs--edit-planned-costs-btn" role="button" class="icon-context icon-edit" title="<%= t(:help_click_to_edit) %>">
          <%= number_to_currency(material_budget_item.budget || material_budget_item.calculated_costs(@cost_object.fixed_date)) %>
        </a>
      </cost-unit-subform>
    </td>
  <% end %>
  <td class="delete budget-table--fields buttons">
    <a class="delete-budget-item no-decoration-on-hover" title="<%= t(:button_delete) %>">
      <%= op_icon('icon-context icon-delete') %>
      <span class="hidden-for-sighted"><%= t(:button_delete) %></span>
    </a>
  </td>
</tr>
<% end %>
