<%#-- copyright
OpenProject is an open source project management software.
Copyright (C) 2012-2023 the OpenProject GmbH

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 3.

OpenProject is a fork of ChiliProject, which is a fork of Redmine. The copyright follows:
Copyright (C) 2006-2013 Jean-Philippe Lang
Copyright (C) 2010-2013 the ChiliProject Team

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.

See COPYRIGHT and LICENSE files for more details.
++#%>

<fieldset class="form--fieldset">
  <div class="form--field -required">
    <%= f.text_field :client_id,
                     label: Storages::Admin::LABEL_OAUTH_CLIENT_ID,
                     required: true,
                     size: 40,
                     container_class: '-wide' %>
    <span class="form--field-instructions">
      <%= "#{t("storages.instructions.copy_from")}: " %>
      <%= link_to "#{t("storages.instructions.#{@storage.short_provider_type}.integration")}",
                  File.join(@storage.host, "settings/admin/openproject").to_s,
                  target: "_blank" %>
    </span>
  </div>

  <div class="form--field -required">
    <%= f.text_field :client_secret,
                     label: Storages::Admin::LABEL_OAUTH_CLIENT_SECRET,
                     required: true,
                     size: 40,
                     container_class: '-wide' %>
    <span class="form--field-instructions">
      <%= "#{t("storages.instructions.copy_from")}: " %>
      <%= link_to "#{t("storages.instructions.#{@storage.short_provider_type}.integration")}",
                  File.join(@storage.host, "settings/admin/openproject").to_s,
                  target: "blank" %>
        </span>
  </div>
</fieldset>

<% if @storage.oauth_client %>
  <%= styled_button_tag t(:button_replace), class: "-highlight -with-icon icon-checkmark" %>
<% else %>
  <% is_last_step = @storage.provider_type_nextcloud? && @storage.automatic_management_unspecified? %>
  <% label_action = is_last_step ? 'complete' : 'continue' %>
  <%= styled_button_tag t("storages.buttons.save_and_#{label_action}_setup"), class: "-highlight -with-icon icon-checkmark" %>
<% end %>
