<%#-- copyright
OpenProject is a project management system.
Copyright (C) 2012-2018 the OpenProject Foundation (OPF)

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 3.

OpenProject is a fork of ChiliProject, which is a fork of Redmine. The copyright follows:
Copyright (C) 2006-2017 Jean-Philippe Lang
Copyright (C) 2010-2013 the ChiliProject Team

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.

See docs/COPYRIGHT.rdoc for more details.

++#%>
<% html_title t(:label_my_account), t('oauth.my_application_grants') -%>

<%= toolbar title: t('oauth.my_application_grants'), title_class: 'no-padding-bottom' %>

<% if @grants.empty? %>
  <%= no_results_box(custom_title: t('oauth.grants.none_given')) %>
<% end %>

<% @grants.each do |application, per_app_grants| %>
  <%= toolbar title: h(application.name) do %>
    <li class="toolbar-item">
      <%= link_to revoke_my_oauth_application_path(application.id),
                  method: :post,
                  data: { confirm: I18n.t('oauth.revoke_my_application_confirmation', count: per_app_grants.count) },
                  class: 'button -danger' do %>
        <%= op_icon('button--icon icon-delete') %>
        <span class="button--text"><%= t(:button_revoke) %></span>
      <% end %>
    </li>
  <% end %>
  <%= cell ::OAuth::Grants::TableCell, per_app_grants, current_user: current_user %>
<% end %>
