<% local_assigns[:additional_breadcrumb] = t('ldap_groups.synchronized_filters.add_new') %>
<% html_title(t(:label_administration), t('ldap_groups.synchronized_filters.add_new')) -%>

<%= toolbar title: t('ldap_groups.synchronized_filters.add_new') %>

<%= labelled_tabular_form_for @filter,
                              as: :synchronized_filter,
                              url: { action: :create } do |f| %>

  <%= render partial: 'form', locals: { f: f } %>

  <p>
    <%= styled_button_tag spot_icon('checkmark') + t(:button_create), class: '-highlight' %>
    <%= link_to spot_icon('cancel') + t(:button_cancel), ldap_groups_synchronized_groups_path, class: 'button' %>
  </p>
<% end %>

