<%= labelled_tabular_form_for @cost_object,
                              :as => :cost_object,
                              :url => cost_object_path(@cost_object),
                              :html => {:multipart => true,
                                        :id => 'cost_object_form',
                                        :class => nil} do |f| %>
    <%= error_messages_for 'cost_object' %>
    <div class="box">
    <div class="tabular">
      <%= render :partial => 'form', :locals => {:f => f} %>
    </div>
    <fieldset><legend><%= l(:label_attachment_plural )%></legend>
      <p><%= render :partial => 'attachments/form' %></p>
    </fieldset>
    </div>
    <%= submit_tag l(:button_submit) %>
<% end %>
