<%#-- copyright
OpenProject Costs Plugin

Copyright (C) 2009 - 2014 the OpenProject Foundation (OPF)

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
version 3.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.

++#%>

<%= f.hidden_field :kind %>

<div class="form--field">
  <%= f.text_field :subject, required: true, autofocus: true, container_class: '-wide' %>
</div>
<div class="form--field">
  <%= f.text_area :description, rows: (@cost_object.description.blank? ? 10 : [[10, @cost_object.description.length / 50].max, 100].min), cols: 60, container_class: '-wide' %>
</div>
<div class="form--field">
  <%= f.text_field :fixed_date, container_class: '-xslim' %>
  <%= calendar_for :cost_object_fixed_date %>
</div>

<% if @cost_object.kind == "VariableCostObject" -%>
  <%= render partial: 'cost_objects/subform/material_budget_subform' %>
  <%= render partial: 'cost_objects/subform/labor_budget_subform' %>
<%- end %>

<div style="clear: both;"> </div>

<%= render :partial => 'attachments/form' %>

<%= wikitoolbar_for 'cost_object_description' %>
