<%= render :partial => 'shared/costs_header' %>
<h2><%=l(:label_cost_object_new)%></h2>

<%= labelled_tabular_form_for @cost_object,
                              :url => projects_cost_objects_path(@project),
                              :as => :cost_object,
                              :html => {:multipart => true, :id => 'cost_object_form'} do |f| %>
    <%= error_messages_for 'cost_object' %>
    <div class="box">
    <%= render :partial => 'form', :locals => {:f => f} %>
    </div>
    <%= submit_tag l(:button_create) %>
    <%= submit_tag l(:button_create_and_continue), :name => 'continue' %>

    <%= javascript_tag "Form.Element.focus('cost_object_subject');" %>
<% end %>
