<%#-- copyright
OpenProject Costs Plugin

Copyright (C) 2009 - 2014 the OpenProject Foundation (OPF)

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
version 3.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.

++#%>

<%= render :partial => 'shared/costs_header' %>
<% content_for :action_menu_specific do %>
  <%= link_to_if_authorized l(:button_update), {:controller => 'cost_objects', :action => 'edit', :id => @cost_object}, :class => 'icon icon-edit', :accesskey => accesskey(:edit) %>
  <%= link_to_if_authorized l(:button_copy), {:controller => 'cost_objects', :action => 'copy', :id => @cost_object }, :class => 'icon icon-copy' %>
  <%= link_to_if_authorized l(:button_delete), {:controller => 'cost_objects', :action => 'destroy', :id => @cost_object}, :confirm => l(:text_are_you_sure), :method => :delete, :class => 'icon icon-delete' %>
<% end %>

<% html_title "#{l(:label_cost_object_id, id: @cost_object.id)}: #{@cost_object.subject}" %>

<h2><%= l(:label_cost_object_id, :id => @cost_object.id) %></h2>

<%= render :partial => 'layouts/action_menu_specific' %>

<div class="<%= @cost_object.css_classes %> details">
  <h3><%=h @cost_object.subject %></h3>
  <p class="author">
    <%= authoring @cost_object.created_on, @cost_object.author %>.
    <%= l(:label_updated_time, distance_of_time_in_words(Time.now, @cost_object.updated_on)) + '.' if @cost_object.created_on != @cost_object.updated_on %>
  </p>

  <table class="attributes">
    <tr>
      <td style="width:15%" class="type"><strong><%= CostObject.human_attribute_name(:type) %>:</strong></td>
      <td style="width:35%" class="type"><%= @cost_object.type_label %></td>
    </tr>
    <tr>
      <td style="width:15%" class="due-date"><strong><%= CostObject.human_attribute_name(:fixed_date) %>:</strong></td>
      <td style="width:35%"><%= format_date(@cost_object.fixed_date) %></td>
    </tr>
    <tr>
      <td class="progress"><strong><%= CostObject.human_attribute_name(:budget_ratio) %>:</strong></td>
      <td class="progress"><%= extended_progress_bar(@cost_object.budget_ratio, :width => '80px', :legend => @cost_object.budget_ratio) %></td>
    </tr>
  </table>

  <p><strong><%= CostObject.human_attribute_name(:description) %></strong></p>
  <div class="wiki">
    <%= format_text @cost_object, :description, :attachments => @cost_object.attachments %>
  </div>

  <%= link_to_attachments @cost_object %>

  <%= render :partial => "show_variable_cost_object" %>
</div>

<div style="clear: both;"></div>

<% if authorize_for('cost_objects', 'edit') %>
  <div id="update" style="display:none;">
  <h3><%= l(:button_update) %></h3>
  <%= render :partial => 'edit' %>
  </div>
<% end %>
