<%#-- copyright
OpenProject Costs Plugin

Copyright (C) 2009 - 2014 the OpenProject Foundation (OPF)

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
version 3.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.

++#%>

<fieldset id="filters">
  <legend><%= t(:label_date_range) %></legend>
  <div class="form--field">
    <%= styled_radio_button_tag 'period_type', '1', !@free_period %>
  </div>
  <div class="form--field">
    <%= styled_select_tag 'period',
                          options_for_period_select(params[:period]),
                          class: 'costs--period-select' %>
    <%= content_for(:additional_js_dom_ready) do %>
      jQuery('.costs--period-select')
        .change(function() { $(this).closest('form').submit(); }
        .focus(function() { $("period_type_1").prop('checked', true) });
    <% end %>
  </div>
  <div class="form--field">
    <%= styled_radio_button_tag 'period_type', '2', @free_period %>
  </div>
  <div>
    <h4><%= t(:label_date_from) %></h4>
    <div class="form--field">
      <%= styled_label_tag :from, t(:description_date_range_list) %>
      <%= styled_text_field_tag :from, @from %>
      <%= calendar_for :from %>
    </div>
    <h4><%= t(:label_date_to) %></h4>
    <div class="form--field">
      <%= styled_label_tag :to, t(:description_date_range_interval) %>
      <%= styled_text_field_tag :to, @to %>
      <%= calendar_for :to %>
    </div>
  </div>
  <%= styled_button_tag t(:button_apply), class: '-with-icon icon-checkmark' %>
</fieldset>
