<%#-- copyright
OpenProject is a project management system.

Copyright (C) 2012-2013 the OpenProject Team

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 3.

See doc/COPYRIGHT.rdoc for more details.

++#%>

<div class="contextual">
  <% if planning_element.deleted? %>

    <%= form_for planning_element, :url => restore_project_planning_element_path(planning_element.project, planning_element), :html => {:method => 'post'} do |f| %>
      <%= submit_tag l("timelines.button_restore"), :class => 'icon icon-cancel input-as-link' %>
    <% end %>

    <%= link_to_if_authorized(l(:button_delete),
                              {:controller => '/planning_elements',
                               :action => 'confirm_destroy',
                               :project_id => planning_element.project,
                               :id => planning_element},
                               :class => 'icon icon-del') %>
  <% else %>
    <%= link_to_if_authorized(l(:button_update),
                              {:controller => '/planning_elements',
                               :action => 'edit',
                               :project_id => planning_element.project,
                               :id => planning_element},
                              :class => 'icon icon-edit') %>

    <%= watcher_link planning_element, User.current %>

    <%= link_to_if_authorized(l("timelines.button_move_to_trash"),
                              {:controller => '/planning_elements',
                               :action => 'confirm_move_to_trash',
                               :project_id => planning_element.project,
                               :id => planning_element},
                              :class => 'icon icon-del') %>
  <% end %>
</div>
