<%#-- copyright
OpenProject is a project management system.

Copyright (C) 2012-2013 the OpenProject Team

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 3.

See doc/COPYRIGHT.rdoc for more details.

++#%>

<%= error_messages_for 'planning_element' %>

<h2 class="subject">
  <% if planning_element.new_record? %>
    <%= l("timelines.new_planning_element") %>
  <% else %>
    *<%=h planning_element.id %> <%=h planning_element.subject %>
  <% end %>
</h2>

<%
  date_input_options = {:size => 10}
  unless planning_element.leaf?
    date_input_options[:disabled] = "disabled"
    date_input_options[:title] = l("timelines.dates_are_calculated_based_on_sub_elements")
  end
%>

<div class="issue details">
  <div class="meta">
    <table class="attributes timelines-attributes">
      <tr>
        <th class="name">
          <label for="planning_element_subject">
            <%= PlanningElement.human_attribute_name(:subject) %><span class="required"> *</span>:
          </label>
        </th>
        <td>
          <%= f.text_field(:subject, :size => 50) %>
        </td>
      </tr>
      <tr>
        <th class="parent">
          <label for="planning_element_parent_id">
            <%= PlanningElement.human_attribute_name(:parent) %>:
          </label>
        </th>
        <td>
          <%= parent_id_select_tag(f, planning_element) %>
        </td>
      </tr>
      <tr>
        <th class="description">
          <label for="planning_element_description">
            <%= PlanningElement.human_attribute_name(:description)%>:
          </label>
        </th>
        <td class="description">
          <%= f.text_area(:description, :class => 'timelines-planning-element-description wiki-edit', :rows => 3) %>
          <%= wikitoolbar_for 'planning_element_description' %>
        </td>
      </tr>
      <tr>
        <th class="responsible">
          <label for="planning_element_responsible_id">
            <%= PlanningElement.human_attribute_name(:responsible) %>:
          </label>
        </th>
        <td class="responsible">
          <%= f.select :responsible_id, options_for_responsible(project), :include_blank => true %>
        </td>
      </tr>
      <tr>
        <th>
          <%= l('timelines.current_planning')%><span class="required"> *</span>:
        </th>
        <td>
          <label for="planning_element_start_date" class="hidden-for-sighted">
            <%= l('timelines.current_planning') %>
            <%= PlanningElement.human_attribute_name(:start_date) %>
          </label>
          <%= f.text_field :start_date, date_input_options %><%= calendar_for('planning_element_start_date') if planning_element.leaf? %>

           -

          <label for="planning_element_due_date" class="hidden-for-sighted">
            <%= l('timelines.current_planning') %>
            <%= PlanningElement.human_attribute_name(:due_date) %>
          </label>
          <%= f.text_field :due_date, date_input_options %><%= calendar_for('planning_element_due_date') if planning_element.leaf? %>
        </td>
        <td>&nbsp;</td>
      </tr>
    </table>
  </div>
</div>

<% unless planning_element.new_record? %>
  <h3><%= l(:field_notes) %></h3>
  <label for="planning_element_journal_notes" class="hidden-for-sighted">
    <%= l(:field_notes) %>
  </label>
  <%= f.text_area 'journal_notes', :cols => 60, :rows => 3, :class => 'wiki-edit' %>
  <%= wikitoolbar_for 'planning_element_journal_notes' %>
<% end %>

<%= submit_tag l(:button_save) %>

<% if planning_element.new_record? %>
  <%= link_to l(:button_cancel), project_planning_elements_path(project),
  :name => "cancelButton" %>
<% else %>
  <%= link_to l(:button_cancel), project_planning_element_path(project,
    planning_element),
    :name => "cancelButton" %>
<% end %>
