<%#-- copyright
OpenProject is a project management system.

Copyright (C) 2012-2013 the OpenProject Team

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 3.

See doc/COPYRIGHT.rdoc for more details.

++#%>

<% show_deleted ||= false %>
<tr class="<%= cycle('odd', 'even') %>">
  <td class="timelines-pe-id">
    <%= link_to_work_package(planning_element, :id_only => true) %>
  </td>
  <td class="timelines-pe-type">
    <%= icon_for_type(planning_element.type) %>
    <%=h planning_element.type.try(:name) %>
  </td>
  <td class="timelines-pe-name">
    <%= link_to_work_package(planning_element, :subject_only => true) %>
  </td>
  <td class="timelines-pe-responsible">
    <% if planning_element.responsible.present? %>
      <%= avatar(planning_element.responsible, :size => "14") %>
      <%= link_to_user(planning_element.responsible) %>
    <% else %>
      -
    <% end %>
  </td>
  <td class="timelines-pe-start_date"><%=h planning_element.start_date %></td>
  <td class="timelines-pe-end_date"><%=h planning_element.due_date %></td>
  <td class="timelines-pe-update_at"><%= timelines_time_tag(planning_element.updated_at) %></td>
  <% if show_deleted %>
    <td class="timelines-pe-actions">
      <% if planning_element.parent.nil? ||  !(planning_element.parent.deleted?) %>
        <%= form_for planning_element, :url => restore_project_planning_element_path(planning_element.project, planning_element), :html => {:method => 'post'} do |f| %>
          <%= submit_tag l("timelines.button_restore"), :class => 'icon icon-cancel input-as-link' %>
        <% end %>
      <% end %>
      <%= link_to_if_authorized(l(:button_delete),
                                {:controller => '/planning_elements',
                                 :action => 'confirm_destroy',
                                 :project_id => planning_element.project,
                                 :id => planning_element},
                                 :class => 'icon icon-del') %>
    </td>
  <% end %>
</tr>
