<%#-- copyright
OpenProject is a project management system.

Copyright (C) 2012-2013 the OpenProject Team

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 3.

See doc/COPYRIGHT.rdoc for more details.

++#%>

<%= header_tags %>
<%= form_for @planning_elements, :url => restore_all_project_planning_elements_path(@project), :html => {:method => 'post'} do |f| %>
  <div class='flash warning'>
    <%= l('timelines.really_restore_all_planning_elements') %>
  </div>

  <%= submit_tag l("timelines.button_restore_all") %>
  <%= link_to l(:button_cancel), recycle_bin_project_planning_elements_path(@project) %>
<% end %>

<hr/>

<%= render :partial => 'deleted_elements', :object => @planning_elements %>
