<%#-- copyright
OpenProject is a project management system.

Copyright (C) 2012-2013 the OpenProject Team

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 3.

See doc/COPYRIGHT.rdoc for more details.

++#%>

<%= header_tags %>
<%= render :partial => 'breadcrumb', :locals => {:planning_element => @planning_element} %>

<%= form_for @planning_element, :url => project_planning_element_path(@project, @planning_element), :html => {:method => 'delete'} do |f| %>
  <div class='flash warning'>
    <%= l('timelines.really_delete_planning_element') %>
  </div>

  <%= submit_tag l(:button_delete) %>
  <%= link_to l(:button_cancel), project_planning_elements_path(@project) %>
<% end %>

<hr/>

<%= render :partial => 'planning_element', :object => @planning_element %>
