<%#-- copyright
OpenProject is a project management system.

Copyright (C) 2012-2013 the OpenProject Team

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 3.

See doc/COPYRIGHT.rdoc for more details.

++#%>

<%= header_tags %>

<div class="contextual">
  <%= link_to_if_authorized(l("timelines.new_planning_element"),
                            { :controller => "/work_packages",
                              :action => "new",
                              :project_id => @project,
                              :sti_type => PlanningElement.to_s},
                              :title => l("timelines.new_planning_element"),
                              :class => "icon icon-add") %>
</div>

<% html_title l("timelines.project_menu.planning_elements") %>
<h2><%= l("timelines.project_menu.planning_elements") %></h2>

<p class="subtitle"><%= l("timelines.you_are_viewing_all_planning_elements_in_this_project") %></p>

<% if @planning_elements.blank? %>
  <p class="nodata"><%= l(:label_no_data) %></p>
<% else %>
  <table class="list issues">
    <%= render :partial => 'table_header' %>
    <tbody>
      <% @planning_elements.each do |planning_element| %>
        <%= render :partial => 'table_row', :locals => {:planning_element => planning_element} %>
      <% end %>
    </tbody>
  </table>
<% end %>
