<%#-- copyright
OpenProject is a project management system.

Copyright (C) 2012-2013 the OpenProject Team

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 3.

See doc/COPYRIGHT.rdoc for more details.

++#%>

<%= header_tags %>

<div class="contextual">
  <%= link_to_if_authorized(l("timelines.restore_all"),
                            {:controller => "/planning_elements", :action => "confirm_restore_all", :project_id => @project.id},
                            :title => l("timelines.restore_all"),
                            :class => "icon icon-cancel") %>
  <%= link_to_if_authorized(l("timelines.delete_all"),
                            {:controller => "/planning_elements", :action => "confirm_destroy_all", :project_id => @project.id},
                            :title => l("timelines.delete_all"),
                            :class => "icon icon-del") %>
</div>

<% html_title l("timelines.project_menu.recycle_bin") %>
<h2><%= l("timelines.project_menu.recycle_bin") %></h2>

<%= render :partial => 'deleted_elements', :object => @planning_elements %>
