<table <%= placeholder_table_styles(width:'100%', style: "width:100%;min-width:100%") %>>
  <tr>
    <td>
      <table <%= placeholder_table_styles %>>
        <tr>
          <td>
            <table <%= placeholder_table_styles(width:'100%',style: "width:100%;") %>>
              <tr>
                <td>
                  <table <%= placeholder_table_styles(style: 'font-size:24px;font-weight:bold') %>>
                    <tr>
                      <td style="white-space: nowrap;">
                        <%= headline %>
                      </td>
                      <%= placeholder_cell('4px', vertical: true) %>
                      <td style="color: <%= type_color(work_package.type, '#333333') %>;white-space: nowrap;">
                        <%= work_package.type.to_s.upcase %>
                      </td>
                      <%= placeholder_cell('4px', vertical: true) %>
                      <td width="100%" style="color: #333333;">
                        #<%= work_package.id %>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr>
                <%= placeholder_cell('8px', vertical: false) %>
              </tr>
              <tr>
                <td>
                  <span style="font-size:16px; color: #1A67A3; font-weight: bold;">
                     <%= summary %>
                  </span>
                </td>
              </tr>
            </table>
          </td>

          <td>
            <%= image_tag 'icon_logo.png',
                          size: '48x48',
                          style: 'width:48px;height:48px;' %>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <%= placeholder_cell('40px', vertical: false) %>
  </tr>
</table>
