<table <%= placeholder_table_styles(width:'100%', style: "width:100%;min-width:100%") %>>
  <tr>
    <td>
      <table <%= placeholder_table_styles(width:'100%', style: "width:100%;min-width:100%") %>>
        <tr>
          <td>
            <span>
              <%= salutation %>
            </span>
          </td>
        </tr>

        <tr>
          <%= placeholder_cell('40px', vertical: false) %>
        </tr>

        <tr>
          <td>
            <span style="color: #1A67A3;">
              <%= sharer.name %>
            </span>
            <span>
              <%= t('mail.sharing.work_packages.reason', role_rights: role_rights) %>
            </span>
          </td>
        </tr>

      </table>
    </td>
  </tr>
  <tr>
    <%= placeholder_cell('16px', vertical: false) %>
  </tr>
  <tr>
    <td>
      <%= render layout: 'sharing_mailer/notification_row',
                 locals: {
                   work_package: work_package,
                   unique_reasons: [nil],
                   show_count: false,
                 } do %>
        <table <%= placeholder_table_styles(width:'100%',style: 'width:100%;') %>>
          <tr>
            <td style="<%= placeholder_text_styles %>">
              <%= t('mail.sharing.work_packages.allowed_actions', allowed_actions: allowed_work_package_actions).html_safe %>
            </td>
          </tr>
        </table>
      <% end %>
    </td>
  </tr>
  <tr>
    <%= placeholder_cell('24px', vertical: false) %>
  </tr>

  <tr>
    <td>
      <span>
        <%= t('mail.sharing.work_packages.support_text', contact_us_link: '<a style="color: #1A67A3;text-decoration: none;" href="mailto:support@openproject.com" target="_blank">contact us</a>').html_safe %>
      </span>
    </td>
  </tr>

  <tr>
    <%= placeholder_cell('36px', vertical: false) %>
  </tr>

  <tr>
    <td>
      <span>
        <%= t('mail.sharing.work_packages.signature').html_safe %>
      </span>
    </td>
  </tr>
</table>
