<table>
  <tr>
    <%= placeholder_cell('20px', vertical: false) %>
  </tr>
</table>

<table <%= placeholder_table_styles(width: '100%', style: 'width:100%;max-width:700px') %>>
  <tr>
    <%= placeholder_cell('12px', vertical: true) %>
    <td>
      <%= render partial: 'sharing_mailer/notification_mailer_header',
                 locals: {
                   headline: I18n.t('mail.sharing.work_packages.headline'),
                   summary: I18n.t('mail.sharing.work_packages.summary'),
                   work_package: @work_package
                 } %>
    </td>
    <%= placeholder_cell('12px', vertical: true) %>
  </tr>
  <tr>
    <%= placeholder_cell('12px', vertical: true) %>
    <td>
      <%= render partial: 'sharing_mailer/notification_mailer_body',
                 locals: {
                   sharer: @sharer,
                   salutation: I18n.t('mail.sharing.work_packages.salutation'),
                   role_rights: @role_rights,
                   work_package: @work_package,
                   allowed_work_package_actions: @allowed_work_package_actions
                 } %>
    </td>
    <%= placeholder_cell('12px', vertical: true) %>
  </tr>
  <tr>
    <%= placeholder_cell('72px', vertical: false) %>
  </tr>
</table>
