<%#-- copyright
OpenProject is a project management system.
Copyright (C) 2012-2017 the OpenProject Foundation (OPF)

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 3.

OpenProject is a fork of ChiliProject, which is a fork of Redmine. The copyright follows:
Copyright (C) 2006-2017 Jean-Philippe Lang
Copyright (C) 2010-2013 the ChiliProject Team

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.

See doc/COPYRIGHT.rdoc for more details.

++#%>
<% reported = WorkPackage.visible.where(author_id: User.current.id)
                                 .limit(10)
                                 .includes(:status, :project, :type)
                                 .order("#{WorkPackage.table_name}.updated_at DESC")
%>

<% if defined? block_name %>
  <%= content_for "#{block_name}-remove-block" %>
<% end %>

<h3 class="widget-box--header">
  <%= op_icon('icon-context icon-reported-by-me') %>
  <span class="widget-box--header-title"><%=l(:label_reported_work_packages)%> (<%= @user.reported_work_package_count %>)</span>
</h3>

<%= render partial: 'work_packages/list_simple',
           locals: {
                        work_packages: reported,
                        list_for: :reported
                      } %>

<% if reported.length > 0 %>
  <div class="generic-table--action-buttons">
    <%= link_to l(:label_work_package_view_all_reported_by_me),
                work_packages_reported_by_me_path,
                class: 'button -highlight' %>
  </div>
<% end %>
<% content_for :header_tags do %>
  <%= auto_discovery_link_tag(:atom,
                            work_packages_reported_by_me_path({format: 'atom', key: User.current.rss_key}),
                            {title: l(:label_reported_work_packages)}) %>
<% end %>
