<%#-- copyright
OpenProject is a project management system.
Copyright (C) 2012-2015 the OpenProject Foundation (OPF)

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 3.

OpenProject is a fork of ChiliProject, which is a fork of Redmine. The copyright follows:
Copyright (C) 2006-2013 Jean-Philippe Lang
Copyright (C) 2010-2013 the ChiliProject Team

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.

See doc/COPYRIGHT.rdoc for more details.

++#%>

<% watched = WorkPackage.visible.open.on_active_project.watched_by(user.id).recently_updated.with_limit(10) %>

<% watched_count = WorkPackage.visible.open.watched_by(user.id).count %>

<h3><%=l(:label_watched_work_packages)%> (<%= watched_count %>)</h3>

<% if defined? block_name %>
  <%= content_for "#{block_name}_remove_block" %>
<% end %>

<%= render :partial => 'work_packages/list_simple', :locals => { :work_packages => watched } %>
<% if watched.length > 0 %>
  <p class="small">
    <%= link_to l(:label_work_package_view_all_watched),
                work_packages_watched_path,
                :class => 'button -highlight' %>
  </p>
<% end %>
