<table class="list transitions-<%= name %>">
<thead>
	<tr>
		<th align="left">
			<%= link_to_function(image_tag('toggle_check.png'), "toggleCheckboxesBySelector('table.transitions-#{name} input')",
			                                              			:title => "#{l(:button_check_all)}/#{l(:button_uncheck_all)}") %>
      <%=l(:label_current_status)%>
    </th>
		<th align="center" colspan="<%= @statuses.length %>"><%=l(:label_new_statuses_allowed)%></th>
	</tr>
	<tr>
		<td></td>
		<% for new_status in @statuses %>
		<td width="<%= 75 / @statuses.size %>%" align="center">
			<%= link_to_function(image_tag('toggle_check.png'), "toggleCheckboxesBySelector('table.transitions-#{name} input.new-status-#{new_status.id}')",
	                                              			:title => "#{l(:button_check_all)}/#{l(:button_uncheck_all)}") %>
			<%=h new_status.name %>
		</td>
		<% end %>
	</tr>
</thead>
<tbody>
	<% for old_status in @statuses %>
	<tr class="<%= cycle("odd", "even") %>">
		<td>
			<%= link_to_function(image_tag('toggle_check.png'), "toggleCheckboxesBySelector('table.transitions-#{name} input.old-status-#{old_status.id}')",
			                                              			:title => "#{l(:button_check_all)}/#{l(:button_uncheck_all)}") %>
			
			<%=h old_status.name %>
		</td>
		<% for new_status in @statuses -%>
		<td align="center">
			<%= check_box_tag "issue_status[#{ old_status.id }][#{new_status.id}][]", name, workflows.detect {|w| w.old_status_id == old_status.id && w.new_status_id == new_status.id},
						:class => "old-status-#{old_status.id} new-status-#{new_status.id}" %>			
		</td>
		<% end -%>
	</tr>
	<% end %>
</tbody>
</table>