<%#-- copyright
OpenProject is a project management system.
Copyright (C) 2012-2017 the OpenProject Foundation (OPF)

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 3.

OpenProject is a fork of ChiliProject, which is a fork of Redmine. The copyright follows:
Copyright (C) 2006-2017 Jean-Philippe Lang
Copyright (C) 2010-2013 the ChiliProject Team

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.

See doc/COPYRIGHT.rdoc for more details.

++#%>

<%#
  Form for Project Types.

  needs locals:
  f: labelled form builder
  project_type: ProjectType
%>

<%= error_messages_for 'project_type' %>
<div class="form--field">
  <%= f.text_field :name, required: true, container_class: '-middle' %>
</div>
<div class="form--field">
  <%= f.check_box :allows_association %>
</div>

<fieldset class="form--fieldset -with-control" id="project-type-statuses">
  <legend class="form--fieldset-legend"><%= ProjectType.human_attribute_name(:reported_project_statuses) %></legend>

  <div class="form--fieldset-control">
    <span class="form--fieldset-control-container">
      (<%= check_all_links 'project-type-statuses' %>)
    </span>
  </div>

  <% ReportedProjectStatus.all.each do |association| %>
  <div class="form--field">
    <%= f.collection_check_box :reported_project_status_ids,
                               association.id,
                               project_type.reported_project_statuses.include?(association),
                               association.name %>

  </div>
  <% end %>
</fieldset>


<%= f.button t(:button_save), class: 'button -highlight -with-icon icon-checkmark' %>
<%= link_to t(:button_cancel), project_types_path, class: 'button' %>
