<%#-- copyright
OpenProject is a project management system.

Copyright (C) 2012-2013 the OpenProject Team

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 3.

See doc/COPYRIGHT.rdoc for more details.

++#%>

<%#
  Form for Project Types.

  needs locals:
  :f            => form builder
  :project_type => ProjectType
%>

<%= error_messages_for 'project_type' %>

<h2>
  <% if project_type.new_record? %>
    <% html_title l("timelines.new_project_type") %>
    <%= l("timelines.new_project_type") %>
  <% else %>
    <% html_title "#{l("timelines.edit_project_type")}: #{h(@project_type.name)}" %>
    <%= l("timelines.edit_project_type") %>: <%=h @project_type.name %>
  <% end %>
</h2>

<div class="box">
  <p>
    <%= f.label :name, ProjectType.human_attribute_name(:name) %>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :allows_association, ProjectType.human_attribute_name(:allows_association) %>
    <%= f.check_box :allows_association %>
  </p>
  <p>
    <label><%= ProjectType.human_attribute_name(:types) %></label>
    <%= render :partial => "checkbox_list",
               :locals  => {:model          => project_type,
                            :attribute_name => :type_ids,
                            :active_list    => project_type.types,
                            :available_list => Type.all} %>
  </p>
  <p>
    <label><%= ProjectType.human_attribute_name(:reported_project_statuses) %></label>
    <%= render :partial => "checkbox_list",
               :locals  => {:model          => project_type,
                            :attribute_name => :reported_project_status_ids,
                            :active_list    => project_type.reported_project_statuses,
                            :available_list => ReportedProjectStatus.all} %>
  </p>
</div>

<%= f.submit l(:button_save) %>
<%= link_to l(:button_cancel), project_types_path %>
