<%#-- copyright
OpenProject is a project management system.
Copyright (C) 2012-2015 the OpenProject Foundation (OPF)

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 3.

OpenProject is a fork of ChiliProject, which is a fork of Redmine. The copyright follows:
Copyright (C) 2006-2013 Jean-Philippe Lang
Copyright (C) 2010-2013 the ChiliProject Team

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.

See doc/COPYRIGHT.rdoc for more details.

++#%>

<%#
  Form for Project Types.

  needs locals:
  :f            => labelled form builder
  :project_type => ProjectType
%>

<%= error_messages_for 'project_type' %>
<div class="form--field">
  <%= f.text_field :name, required: true %>
</div>
<div class="form--field">
  <%= f.check_box :allows_association %>
</div>

<div class="box">
  <p>
    <label><%= ProjectType.human_attribute_name(:reported_project_statuses) %></label>
    <%= render partial: "checkbox_list",
               locals: { model: project_type,
                         attribute_name: :reported_project_status_ids,
                         active_list: project_type.reported_project_statuses,
                         available_list: ReportedProjectStatus.all,
                         f: f
                       } %>
  </p>
</div>

<%= f.button l(:button_save), class: 'button -highlight -with-icon icon-yes' %>
<%= link_to l(:button_cancel), project_types_path, class: 'button' %>
