<%#-- copyright
OpenProject is a project management system.
Copyright (C) 2012-2014 the OpenProject Foundation (OPF)

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 3.

OpenProject is a fork of ChiliProject, which is a fork of Redmine. The copyright follows:
Copyright (C) 2006-2013 Jean-Philippe Lang
Copyright (C) 2010-2013 the ChiliProject Team

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.

See doc/COPYRIGHT.rdoc for more details.

++#%>

<%= error_messages_for "query_menu_item", object: @query_menu_item %>

<h2><%= l(:query_menu_item_for, title: @query.name) %></h2>

<%= form_for @query_menu_item, html: {class: 'menu-item-form'}, url: update_query_menu_item_path(@project, @query_menu_item) do |form| %>
  <p class="item-name">
    <%= form.label :name, l(:label_menu_item_name), {id: 'name_of_item'} %>
    <%= form.text_field :title, size: 20 %>
  </p>

  </br>
  <div style="clear: both;"></div>

  <p>
    <%= submit_tag l(:button_save), method: :post %>
    <%= link_to l(:button_cancel), project_work_packages_path(@project) %>
  </p>
<% end %>
