<%#-- copyright
OpenProject Costs Plugin

Copyright (C) 2009 - 2014 the OpenProject Foundation (OPF)

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
version 3.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.

++#%>

<% cost_types = @cost_types.reject(&:deleted_at) -%>

<% if cost_types.empty? %>
<p class="nodata"><%= l(:label_no_data) %></p>
<% else %>
<table class="list cost_types">
  <thead><tr>
    <%= sort_header_tag "name", :caption => CostType.model_name.human %>
    <%= sort_header_tag "unit", :caption => CostType.human_attribute_name(:unit) %>
    <%= sort_header_tag "unit_plural", :caption => CostType.human_attribute_name(:unit_plural) %>
    <th class="currency"><%= CostType.human_attribute_name(:current_rate) %></th>
    <th><%= l(:caption_set_rate) %></th>
    <th><%= l(:caption_default) %></th>
    <th></th>
  </tr></thead>
  <tbody>
    <% cost_types.each do |cost_type| %>
    <% odd_even = cycle('odd', 'even') %>
    <tr class="<%= odd_even %>">
      <%= content_tag :td, link_to(cost_type.name, {:controller => '/cost_types', :action => 'edit', :id => cost_type}) %>
      <%= content_tag :td, cost_type.unit %>
      <%= content_tag :td, cost_type.unit_plural %>
      <%= content_tag :td, to_currency_with_empty(cost_type.rate_at(@fixed_date)), :class => "currency", :id => "cost_type_#{cost_type.id}_rate"%>
      <td>
        <%= form_for cost_type, :url => { :controller => '/cost_types', :action => 'set_rate', :id => cost_type }  do |f| %>
          <span class="inline-label">
            <label class="hidden-for-sighted" for="<%= "rate_field_#{cost_type.id}" %>"><%= l(:caption_set_rate) %></label>
            <%= f.text_field :rate, :value => "", :name => :rate, :size => 7, :id => "rate_field_#{cost_type.id}" %>
            <span class="form-label">
              <%= Setting.plugin_openproject_costs['costs_currency'] %>
            </span>
            <span class="form-label">
              <a href="#" onclick="submitFormWithConfirmation(event, this, false);" class="submit_cost_type"><%= icon_wrapper('icon icon-save1', I18n.t(:caption_save_rate)) %></a>
            </span>
          </span>
        <% end %>
      </td>
      <%= content_tag :td, cost_type.is_default? ? icon_wrapper('icon icon-yes', I18n.t(:general_text_Yes)) : "" %>
      <td>
        <%= form_for cost_type, :url => toggle_delete_cost_type_path(cost_type),
                                :html => { :id => "delete_cost_type_#{cost_type.id}",
                                           :class => "delete_cost_type" } do |f| %>
          <a href="#" onclick="submitForm(event, this);" class="submit_cost_type"><%= icon_wrapper('icon icon-locked', I18n.t(:button_lock)) %></a>
        <% end %>
      </td>
    </tr>
    <tr style="display:none;" class="<%= odd_even %>">
    </tr>
    <% end %>
  </tbody>
</table>
<% end %>
