<%#-- copyright
OpenProject Costs Plugin

Copyright (C) 2009 - 2014 the OpenProject Foundation (OPF)

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
version 3.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.

++#%>

<%= render :partial => 'shared/costs_header' %>

<% html_title l(:label_cost_type_plural) %>
<%= toolbar title: CostType.model_name.human(count: 2) do %>
  <li class="toolbar-item">
    <%= link_to new_cost_type_path, class: 'button -alt-highlight' do%>
      <i class="button--icon icon-add"></i> <%= l(:button_add_cost_type) %>
    <% end %>
  </li>
<% end %>

<%= styled_form_tag(cost_types_path, { :method => :get, :id => 'query_form' }) do %>
  <fieldset id="filters">
    <legend><%= l(:label_filter_plural) %></legend>
    <div class="form--field">
      <%= styled_label_tag :fixed_date, l(:label_fixed_date) %>
      <%= styled_text_field_tag :fixed_date, @fixed_date %>
      <%= calendar_for :fixed_date %>
    </div>
    <div class="form--field">
      <%= styled_label_tag :include_deleted, l(:caption_show_locked) %>
      <%= styled_check_box_tag :include_deleted, "1", @include_deleted, :autocomplete => "off" %>
    </div>
  </fieldset>
<hr class="form--separator">
<%= link_to_remote l(:button_apply),
                   { :update => "content",
                     :with => "Form.serialize('query_form')",
                     :method => :get
                   }, :class => 'button -with-icon icon-checkmark' %>

<%= link_to_remote l(:button_clear),
                   { :url => { :clear_filter => true },
                     :method => :get,
                     :update => "content",
                   }, :class => 'button icon-context icon-undo' %>
<% end %>

<div id="cost_type_flash_notice_outer" style="display:none">
<div class="flash notice" id="cost_type_flash_notice"><%= l(:notice_successful_update) %></div>
</div>
<%= render :partial => 'list' %>

<% if @include_deleted %>
  <h3><%= l(:label_deleted_cost_types) %></h3>
  <%= render :partial => 'list_deleted' %>
<% end %>
