<% roles = Role.find_all_givable %>
<% projects = Project.active.find(:all, :order => 'lft') %>

<div class="splitcontentleft">
<% if @group.memberships.any? %>
<table class="list memberships">
	<thead><tr>
	  <th><%= l(:label_project) %></th>
	  <th><%= l(:label_role_plural) %></th>
	  <th style="width:15%"></th>
	</tr></thead>
	<tbody>
	<% @group.memberships.each do |membership| %>
	<% next if membership.new_record? %>
	<tr id="member-<%= membership.id %>" class="<%= cycle 'odd', 'even' %> class">
	<td class="project"><%=h membership.project %></td>
  <td class="roles">
    <span id="member-<%= membership.id %>-roles"><%=h membership.roles.sort.collect(&:to_s).join(', ') %></span>
    <% remote_form_for(:membership, :url => { :action => 'edit_membership', :id => @group, :membership_id => membership },
      														  :html => { :id => "member-#{membership.id}-roles-form", :style => 'display:none;'}) do %>
      	<p><% roles.each do |role| %>
        <label><%= check_box_tag 'membership[role_ids][]', role.id, membership.roles.include?(role) %> <%=h role %></label><br />
        <% end %></p>
        <p><%= submit_tag l(:button_change) %>
        <%= link_to_function l(:button_cancel), "$('member-#{membership.id}-roles').show(); $('member-#{membership.id}-roles-form').hide(); return false;" %></p>
    <% end %>
  </td>
  <td class="buttons">
      <%= link_to_function l(:button_edit), "$('member-#{membership.id}-roles').hide(); $('member-#{membership.id}-roles-form').show(); return false;", :class => 'icon icon-edit' %>
      <%= link_to_remote l(:button_delete), { :url => { :controller => 'groups', :action => 'destroy_membership', :id => @group, :membership_id => membership },
      																				:method => :post },
      																		  :class => 'icon icon-del' %>
  </td>
	</tr>
	</tbody>
<% end; reset_cycle %>
</table>
<% else %>
<p class="nodata"><%= l(:label_no_data) %></p>
<% end %>
</div>

<div class="splitcontentright">
<%= render :partial => 'members/membership_assignment', :locals => {:principal => @group, :projects => projects, :roles => roles } %>
</div>
