<%#-- copyright
OpenProject is an open source project management software.
Copyright (C) 2012-2020 the OpenProject GmbH

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 3.

OpenProject is a fork of ChiliProject, which is a fork of Redmine. The copyright follows:
Copyright (C) 2006-2017 Jean-Philippe Lang
Copyright (C) 2010-2013 the ChiliProject Team

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.

See docs/COPYRIGHT.rdoc for more details.

++#%>

<div class="grid-block -visible-overflow">

  <div class="grid-content medium-6">
    <% if @group.users.any? %>
      <div class="generic-table--container">
        <div id="group_users_table" class="generic-table--results-container">
          <%= render partial: 'groups/users_table' %>
        </div>
      </div>
    <% else %>
      <%= no_results_box %>
    <% end %>
  </div>

  <div class="grid-content medium-6 -visible-overflow">
    <% users = User
      .not_builtin
      .active
      .not_in_group(@group)
      .limit(1) %>
    <% if users.any? %>
      <%= styled_form_tag(members_of_group_path(@group), method: :post) do %>

        <fieldset class="form--fieldset">
          <legend class="form--fieldset-legend"><%=l(:label_user_new)%></legend>
          <div class="form--field -vertical">
            <%= hidden_field_tag :user_ids, nil  %>
            <user-autocompleter data-update-input="user_ids"
                                data-additional-filter="<%= @autocompleter_filters&.to_json %>"
                                class="new-group-members--autocomplete">
            </user-autocompleter>
          </div>
          <div>
            <%= styled_button_tag l(:button_add),
                                  class: '-highlight -with-icon icon-checkmark' %>
          </div>
        </fieldset>
      <% end %>
    <% end %>
  </div>
</div>
