<%#-- copyright
OpenProject Global Roles Plugin

Copyright (C) 2010 - 2014 the OpenProject Foundation (OPF)

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
version 3.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.

++#%>

<%= render :partial => 'shared/global_roles_header' %>

<div class="grid-block">
  <div id="assigned_principal_roles" class="grid-content">
  <table id="table_principal_roles" class="list principal_roles">
    <thead>
      <tr>
          <th><%= Role.model_name.human %></th>
          <%= call_hook(:view_users_global_roles_table_header, :user => @user )%>
          <th style="width:15%"></th>
          </tr>
    </thead>
    <tbody id="table_principal_roles_body">
    <% @user.principal_roles.each do |principal_role| %>
      <%= render :partial => 'principal_roles/show_table_row', :locals => {:principal_role => principal_role} %>
    <%end%>
    </tbody>
  </table>
  <p id="no_data" class="nodata"><%= l(:label_no_data) %></p>
  </div>

  <%= render :partial => 'users/available_global_roles', :locals => {:user => @user, :global_roles => @global_roles}%>
</div>
