<%#-- copyright
OpenProject is a project management system.
Copyright (C) 2012-2015 the OpenProject Foundation (OPF)

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 3.

OpenProject is a fork of ChiliProject, which is a fork of Redmine. The copyright follows:
Copyright (C) 2006-2013 Jean-Philippe Lang
Copyright (C) 2010-2013 the ChiliProject Team

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.

See doc/COPYRIGHT.rdoc for more details.

++#%>

<div class="form--field">
  <%= label_tag "user_mail_notification",
        l(:description_user_mail_notification),
        :class => "hidden-for-sighted" %>
  <div class="form--field-container">
    <%= styled_select_tag 'user[mail_notification]',
          options_for_select(user_mail_notification_options(@user),
          @user.mail_notification),
          :onchange => 'if (this.value == "selected") {Element.show("notified-projects")} else {Element.hide("notified-projects")}' %>
  </div>
</div>

<%= content_tag 'div', :id => 'notified-projects', :style => (@user.mail_notification == 'selected' ? '' : 'display:none;') do %>
  <div class="form--field">
    <div class="form--field-container -vertical">
      <% @user.projects.each do |project| %>
        <label class="form--label-with-check-box"l>
          <%= styled_check_box_tag 'notified_project_ids[]', project.id, @user.notified_projects_ids.include?(project.id) %>
          <%= project.name %>
        </label>
      <% end %>
    </div>
    <div> <%# TODO: Apply form--field-instructions %>
      <em><%= l(:text_user_mail_option) %></em>
    </div>
  </div>
<% end %>

<div class="form--field">
  <div class="form--field-container">
    <label class="form--label-with-check-box">
      <%= styled_check_box_tag 'no_self_notified', 1, @user.pref[:no_self_notified] %>
      <%= l(:label_user_mail_no_self_notified) %>
    </label>
  </div>
</div>
