<%#-- copyright
OpenProject is a project management system.

Copyright (C) 2012-2013 the OpenProject Team

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 3.

See doc/COPYRIGHT.rdoc for more details.

++#%>

<div class="contextual">
<%= link_to l(:label_profile), user_path(@user), :class => 'icon icon-user' %>
<% if Setting.users_deletable_by_admins? %>
  <%= link_to l(:button_delete), { :controller => '/users', :action => 'deletion_info', :id => @user.id }, :class => 'icon icon-del' %>
<% end %>
</div>

<h2><%= link_to l(:label_user_plural), :controller => '/users', :action => 'index' %> &#187; <%=h @user.login %></h2>

<%= render_tabs user_settings_tabs %>

<% html_title(User.model_name.human, h(@user.login), l(:label_administration)) -%>
