<%#-- copyright
OpenProject is a project management system.
Copyright (C) 2012-2015 the OpenProject Foundation (OPF)

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 3.

OpenProject is a fork of ChiliProject, which is a fork of Redmine. The copyright follows:
Copyright (C) 2006-2013 Jean-Philippe Lang
Copyright (C) 2010-2013 the ChiliProject Team

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.

See doc/COPYRIGHT.rdoc for more details.

++#%>

<% content_for :header_tags do %>
  <%= call_hook :users_show_head %>
<% end %>

<%= toolbar title: "#{avatar @user} #{h(@user.name)}" do %>
  <% if User.current.admin? %>
    <li class="toolbar-item">
      <%= link_to edit_user_path(@user), class: 'button', accesskey: accesskey(:edit) do %>
        <i class="button--icon icon-edit"></i>
        <span class="button--text"><%= l(:button_edit) %></span>
      <% end %>
    </li>
  <% end %>
<% end %>

<div class="grid-block medium-up-2">
  <div class="grid-content">
    <%= call_hook :view_account_left_top, :user => @user %>
    <ul>
      <% unless @user.pref.hide_mail %>
        <li><%= User.human_attribute_name(:mail) %>: <%= mail_to(h(escape_javascript(@user.mail)), nil, :encode => 'javascript') %></li>
      <% end %>
      <% @user.visible_custom_field_values.each do |custom_value| %>
        <% if !custom_value.value.blank? %>
          <li><%=h custom_value.custom_field.name%>: <%=h show_value(custom_value) %></li>
        <% end %>
      <% end %>
    </ul>

    <%= call_hook :view_account_left_middle, :user => @user %>

    <% unless @memberships.empty? %>
      <h3><%=l(:label_project_plural)%></h3>
      <ul>
        <% for membership in @memberships %>
          <li>
            <%= link_to_project(membership.project) %>
            (<%=h membership.roles.sort.collect(&:to_s).join(', ') %>, <%= format_date(membership.created_on) %>)
          </li>
        <% end %>
      </ul>
    <% end %>
    <%= call_hook :view_account_left_bottom, :user => @user %>
  </div>

  <div class="grid-content">
    <% unless @events_by_day.empty? %>
      <h3>
        <%= link_to l(:label_activity), :controller => '/activities', :action => 'index', :id => nil, :user_id => @user, :from => @events_by_day.keys.first %>
      </h3>
      <p>
        <%=l(:label_reported_work_packages)%>: <%= @user.reported_work_package_count %>
      </p>
      <div id="activity">
        <% @events_by_day.keys.sort.reverse.each do |day| %>
          <h4><%= format_activity_day(day) %></h4>
          <dl>
            <% @events_by_day[day].sort {|x,y| y.event_datetime <=> x.event_datetime }.each do |e| -%>
              <dt class="<%= e.event_type %>">
                <%= icon_wrapper("icon-context icon-#{e.event_type}", e.event_name) %>
                <span class="time"><%= format_time(e.event_datetime, false) %></span>
                <%= content_tag('span', h(e.project), :class => 'project') %>
                <%= link_to format_activity_title(e.event_title), e.event_url %>
              </dt>
              <dd><span class="description"><%= format_activity_description(e.event_description) %></span></dd>
            <% end -%>
          </dl>
        <% end -%>
      </div>

      <%= other_formats_links do |f| %>
        <%= f.link_to 'Atom', :url => {:controller => '/activities', :action => 'index', :id => nil, :user_id => @user, :key => User.current.rss_key} %>
      <% end %>

      <% content_for :header_tags do %>
        <%= auto_discovery_link_tag(:atom, :controller => '/activities', :action => 'index', :user_id => @user, :format => :atom, :key => User.current.rss_key) %>
      <% end %>
    <% end %>
    <%= call_hook :view_account_right_bottom, :user => @user %>
  </div>
</div>

<% html_title h(@user.name) %>
