<div class="advanced-filters--filter-value <%= value_visibility %>">
  <% if filter.type == :string %>
      <div>
        <%= text_field_tag :value, filter.values.first, class: 'advanced-filters--text-field -slim' %>
      </div>
  <% elsif filter.type == :text %>
      <div>
        <%= text_field_tag :value, filter.values.first, class: 'advanced-filters--text-field -slim' %>
      </div>
  <% elsif filter.type == :integer %>
      <div>
        <%= number_field_tag :value, filter.values.first, class: 'advanced-filters--text-field -slim', step: 'any'  %>
      </div>
  <% elsif filter.type == :float %>
      <div>
        <%= number_field_tag :value, filter.values.first, class: 'advanced-filters--text-field -slim', step: 'any' %>
      </div>
  <% end %>
</div>
