<%= render :partial => 'shared/backlogs_header' %>

<% content_for :header_tags do %>
  <%= javascript_include_tag 'app/master_backlog',
                             'app/backlog',
                             'app/model',
                             'app/editable_inplace',
                             'app/sprint',
                             'app/issue',
                             'app/story',
                             'app/board_updater',
                             'app/master_backlog_updater',
                             :plugin => 'redmine_backlogs' %>

  <%= javascript_include_tag url_for(:controller => 'rb_server_variables',
                                     :action => 'show',
                                     :id => @project,
                                     :format => :js) %>

  <%= stylesheet_link_tag 'jqplot.css', :plugin => 'redmine_backlogs' %>
  <%= theme_stylesheet_link_tag 'master_backlog.css', :media => 'print,screen' %>
  <%= theme_stylesheet_link_tag 'master_backlog_print.css', :media => 'print' %>
<% end %>

<div id="rb">
  <div class="breadcrumbs">
    <%= l(:label_master_backlog) %>
  </div>

  <div id="main">
    <div id="backlogs_container">
      <div id="owner_backlogs_container">
        <%= render :partial => 'backlog', :collection => @owner_backlogs %>
      </div>
      <div id="sprint_backlogs_container">
        <%= render :partial => 'backlog', :collection => @sprint_backlogs %>
      </div>
    </div>
  </div>

  <div id="helpers">
    <%= render :partial => "rb_stories/helpers" %>
    <div id="last_updated"><%= date_string_with_milliseconds(@last_update, 0.001) %></div>
  </div>
</div>
