<%= render :partial => 'shared/backlogs_header' %>

<% content_for :header_tags do %>
  <%= javascript_include_tag 'app/master_backlog',
                             'app/backlog',
                             'app/burndown',
                             'app/model',
                             'app/editable_inplace',
                             'app/sprint',
                             'app/issue',
                             'app/story',
                             :plugin => 'chiliproject_backlogs' %>

  <%= javascript_include_tag url_for(:controller => 'rb_server_variables',
                                     :action => 'show',
                                     :project_id => @project,
                                     :format => :js) %>

  <%= stylesheet_link_tag 'jqplot.css', :plugin => 'chiliproject_backlogs' %>
  <%= stylesheet_link_tag 'master_backlog.css', :media => 'print,screen', :plugin => 'chiliproject_backlogs' %>
  <%= stylesheet_link_tag 'master_backlog_print.css', :media => 'print', :plugin => 'chiliproject_backlogs' %>
<% end %>

<div class='contextual'></div>
<h2>
  <%= link_to l(:label_backlogs), rb_master_backlog_path(@project) %>
</h2>

<div id="rb">
  <div id="backlogs_container">
    <div id="owner_backlogs_container">
      <%= render :partial => 'backlog', :collection => @owner_backlogs %>
    </div>
    <div id="sprint_backlogs_container">
      <%= render :partial => 'backlog', :collection => @sprint_backlogs %>
    </div>
  </div>

  <div id="helpers">
    <%= render :partial => "rb_stories/helpers" %>
    <div id="last_updated"><%= date_string_with_milliseconds(@last_update, 0.001) %></div>
  </div>
</div>
