<%#-- copyright
OpenProject is an open source project management software.
Copyright (C) 2012-2023 the OpenProject GmbH

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 3.

OpenProject is a fork of ChiliProject, which is a fork of Redmine. The copyright follows:
Copyright (C) 2006-2013 Jean-Philippe Lang
Copyright (C) 2010-2013 the ChiliProject Team

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.

See COPYRIGHT and LICENSE files for more details.

++#%>
<turbo-frame id="<%=dom_id(meeting_agenda_item)%>" class="meeting-agenda-item d-flex flex-justify-between my-3 flex-items-center">
  <div class="d-flex flex-items-center">
    <%= render(Primer::Beta::Octicon.new(:grabber, size: :medium)) %>
    TOP <%= meeting_agenda_item.position %>:
    <%= meeting_agenda_item.title %>
  </div>
  <div class="d-flex flex-items-center">
    <div class="px-3">
      <%= meeting_agenda_item.start_time.strftime("%H:%M") %>
      -
      <%= meeting_agenda_item.end_time.strftime("%H:%M") %>
      (<%= meeting_agenda_item.duration_in_minutes %> min)
    </div>
    <div>
      <%= button_to 'Edit', edit_meeting_agenda_item_path(meeting_agenda_item.meeting, meeting_agenda_item), method: :get, data: { "turbo-stream": true } %>
      <%= button_to 'Delete', meeting_agenda_item_path(meeting_agenda_item.meeting, meeting_agenda_item), method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  </div>
</turbo-frame>
