<%#-- copyright
OpenProject is a project management system.
Copyright (C) 2012-2014 the OpenProject Foundation (OPF)

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 3.

OpenProject is a fork of ChiliProject, which is a fork of Redmine. The copyright follows:
Copyright (C) 2006-2013 Jean-Philippe Lang
Copyright (C) 2010-2013 the ChiliProject Team

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.

See doc/COPYRIGHT.rdoc for more details.

++#%>

<h2><%=l('backlogs.definition_of_done')%></h2>

<% statuses_done_for_project = @project.done_statuses.select(:id).map(&:id) %>

<%= form_tag(:controller => '/projects', :action => "project_done_statuses", :id => @project) do %>

<table class="list">
  <thead>
    <tr>
      <th><%= Status.model_name.human %></th>
      <th style="text-align:center"><%=l('backlogs.work_package_is_closed')%></th>
    </tr>
  </thead>
  <tbody>
<% for status in @statuses %>
  <tr class="<%= cycle("odd", "even") %>">
    <td>
      <%= status.name %>
    </td>
    <td style="text-align:center">
      <% checkbox_id = status.name.parameterize.underscore %>
      <%= label_tag checkbox_id, l('backlogs.label_is_done_status', status_name: status.name), class: 'hidden-for-sighted' %>
      <%= (check_box_tag 'statuses[][status_id]', status.id.to_s, statuses_done_for_project.include?(status.id), id: checkbox_id) %>
    </td>
  </tr>
<% end %>
  </tbody>
</table>

<p><%= submit_tag l(:button_save), class: 'button -highlight' %></p>
<% end %>

<h2><%=l('backlogs.rebuild_positions')%></h2>

<%= form_tag(:controller => '/projects', :action => "rebuild_positions", :id => @project) do %>
  <p><%= submit_tag l('backlogs.rebuild'), class: 'button' %></p>
<% end %>
