<% extend TimelinesHelper %>
<%= timelines_header_tags %>

<h3><%= Timelines::PlanningElementType.model_name.human %></h3>

<%= form_tag(:controller => "projects", :action => "timelines_planning_element_types", :id => @project) do %>
  <table class='list'>
    <thead>
      <tr>
        <th><%= Timelines::PlanningElementType.human_attribute_name(:is_default) %></th>
        <th><%= Timelines::PlanningElementType.human_attribute_name(:active) %></th>
        <th><%= Timelines::PlanningElementType.human_attribute_name(:name) %></th>
        <th><%= Timelines::PlanningElementType.human_attribute_name(:in_aggregation) %></th>
      </tr>
    </thead>

    <tbody>
      <% Timelines::PlanningElementType.all.each do |type| %>
        <tr class="<%= cycle('odd', 'even', :name => "pet_table") %>">
          <td class='center'>
            <%= checked_image(type.enabled_in?(@project.timelines_project_type)) %>
          </td>
          <td class='center'>
            <%= check_box_tag "project[timelines_planning_element_type_ids][]",
                              type.id,
                              @project.timelines_planning_element_types.include?(type),
                              :id => "project_timelines_planning_element_type_ids_#{type.id}" %>
            <label class='hidden-for-sighted' for="project_timelines_planning_element_type_ids_<%= type.id %>">
              <%= l('timelines.enable_planning_element_in_project', :type => type.name) %>
            </label>
          </td>
          <td>
            <label for="project_timelines_planning_element_type_ids_<%= type.id %>">
              <%= icon_for_planning_element_type(type) %>
              <%=h type.name %>
            </label>
          </td>
          <td class='center'>
            <%= checked_image(type.in_aggregation) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <p><%= submit_tag l(:button_save) %></p>
<% end %>

<br/>

<%= render :partial => 'timelines/timelines_scenarios/index' %>
