<%#-- copyright
OpenProject is a project management system.

Copyright (C) 2012-2013 the OpenProject Team

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 3.

See doc/COPYRIGHT.rdoc for more details.

++#%>

<% extend TimelinesHelper %>
<%= header_tags %>

<h3><%= Type.model_name.human %></h3>

<%= form_tag(:controller => "/projects", :action => "types", :id => @project) do %>
  <table class='list'>
    <thead>
      <tr>
        <th><%= Type.human_attribute_name(:is_default) %></th>
        <th><%= Type.human_attribute_name(:active) %></th>
        <th><%= Type.human_attribute_name(:name) %></th>
        <th><%= Type.human_attribute_name(:in_aggregation) %></th>
      </tr>
    </thead>

    <tbody>
      <% Type.all.each do |type| %>
        <tr class="<%= cycle('odd', 'even', :name => "pet_table") %>">
          <td class='center'>
            <%= checked_image(type.enabled_in?(@project)) %>
          </td>
          <td class='center'>
            <%= check_box_tag "project[planning_element_type_ids][]",
                              type.id,
                              @project.types.include?(type),
                              :id => "project_planning_element_type_ids_#{type.id}" %>
            <label class='hidden-for-sighted' for="project_planning_element_type_ids_<%= type.id %>">
              <%= l('timelines.enable_planning_element_in_project', :type => type.name) %>
            </label>
          </td>
          <td>
            <label for="project_planning_element_type_ids_<%= type.id %>">
              <%= icon_for_type(type) %>
              <%=h type.name %>
            </label>
          </td>
          <td class='center'>
            <%= checked_image(type.in_aggregation) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <p><%= submit_tag l(:button_save) %></p>
<% end %>

<br/>
