<fieldset class="box" id="project_modules">
  <legend><%= l(:label_module_plural) %>
    <span style="font-size:0.9em">(<%= check_all_links 'project_modules' %>)</span>
  </legend>
  <% Redmine::AccessControl.available_project_modules.each do |m| %>
    <label class="floating">
      <%= check_box_tag 'project[enabled_module_names][]', 
                        m,
                        project.module_enabled?(m),
                        :id => "project_enabled_module_names_#{m}" %>
      <%= l_or_humanize(m, :prefix => "project_module_") %>
    </label>
  <% end %>
  <%= hidden_field_tag 'project[enabled_module_names][]', '' %>
  <%= javascript_tag 'observeProjectModules()' %>
</fieldset>