<%= render :partial => "projects/form/attributes/name", :locals => { :form => form } %>
<%= render :partial => "projects/form/attributes/parent_id", :locals => { :project => project } %>
<%= render :partial => "projects/form/attributes/summary", :locals => { :form => form } %>
<%= render :partial => "projects/form/attributes/description", :locals => { :form => form } %>
<%= render :partial => "projects/form/attributes/identifier", :locals => { :form => form, :project => project } %>

<p><%= form.text_field :homepage, :size => 60 %></p>
<p><%= form.check_box :is_public %></p>

<% project.custom_field_values.each do |value| %>
  <p><%= custom_field_tag_with_label :project, value %></p>
<% end %>