<%#-- copyright
OpenProject is a project management system.

Copyright (C) 2012-2013 the OpenProject Team

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 3.

See doc/COPYRIGHT.rdoc for more details.

++#%>

<%= error_messages_for 'enumeration' %>
<div class="box">
<!--[form:optvalue]-->
<%= hidden_field 'enumeration', 'type' %>

<p><label for="enumeration_name"><%= Enumeration.human_attribute_name(:name) %></label>
<%= text_field 'enumeration', 'name' %></p>

<p><label for="enumeration_active"><%= Enumeration.human_attribute_name(:active) %></label>
<%= check_box 'enumeration', 'active' %></p>

<p><label for="enumeration_is_default"><%= Enumeration.human_attribute_name(:is_default) %></label>
<%= check_box 'enumeration', 'is_default' %></p>
<!--[eoform:optvalue]-->

<% @enumeration.custom_field_values.each do |value| %>
  <p><%= custom_field_tag_with_label :enumeration, value %></p>
<% end %>
</div>
