<%#-- copyright
OpenProject is a project management system.

Copyright (C) 2012-2013 the OpenProject Team

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 3.

See doc/COPYRIGHT.rdoc for more details.

++#%>

<h2><%= link_to l(@enumeration.option_name), enumerations_path %> &#187; <%=h @enumeration %></h2>

<%= labelled_tabular_form_for @enumeration do %>
  <%= render :partial => 'form' %>
  <%= submit_tag l(:button_save) %>
<% end %>

<%= form_tag(enumeration_path(@enumeration), :method => :delete) do %>
  <%= submit_tag l(:button_delete) %>
<% end %>
