
<%= render partial: 'header_tags' %>
<% html_title(t(:label_administration), t('webhooks.outgoing.label_edit')) -%>
<% local_assigns[:additional_breadcrumb] = [
  link_to(t('webhooks.plural'), admin_outgoing_webhooks_path),
  t('webhooks.outgoing.label_edit')
  ]
%>

<%= toolbar title: t('webhooks.outgoing.label_edit') %>

<%= error_messages_for @webhook %>

<%= labelled_tabular_form_for @webhook,
                              url: { action: :update },
                              as: 'webhook',
                              html: { class: 'form', autocomplete: 'off' } do |f| %>
  <%= render partial: "form", locals: { f: f, webhook: @webhook } %>
  <p>
    <%= styled_button_tag l(:button_save), class: '-highlight -with-icon icon-checkmark' %>
    <%= link_to t(:button_cancel), { action: :index }, class: 'button -with-icon icon-cancel' %>
  </p>
<% end %>