<% html_title t(:label_administration), t("webhooks.outgoing.label_add_new") %>

<%=
  render(Primer::OpenProject::PageHeader.new) do |header|
    header.with_title { t("webhooks.outgoing.label_add_new") }
    header.with_breadcrumbs([{ href: admin_index_path, text: t("label_administration") },
                             { href: admin_settings_api_path, text: t("menus.admin.api_and_webhooks") },
                             { href: admin_outgoing_webhooks_path, text: t("webhooks.plural") },
                             t("webhooks.outgoing.label_add_new")])
  end
%>

<%= error_messages_for @webhook %>

<%= labelled_tabular_form_for @webhook,
                              url: { action: :create },
                              as: 'webhook',
                              html: { class: 'form', autocomplete: 'off' } do |f| %>
  <%= render partial: "form", locals: { f: f, webhook: @webhook } %>
  <p>
    <%= styled_button_tag t(:button_create), class: '-primary -with-icon icon-checkmark' %>
    <%= link_to t(:button_cancel), { action: :index }, class: 'button -with-icon icon-cancel' %>
  </p>
<% end %>
