<% html_title t(:label_administration), t("webhooks.plural"), @webhook.name %>

<%=
  render Webhooks::Outgoing::Webhooks::ShowPageHeaderComponent.new(webhook: @webhook)
%>

<%= render ::Components::OnOffStatusComponent.new({
             is_on: @webhook.enabled?,
             on_text: t('webhooks.outgoing.status.enabled'),
             on_description: t('webhooks.outgoing.status.enabled_text'),
             off_text: t('webhooks.outgoing.status.disabled'),
             off_description: t('webhooks.outgoing.status.disabled_text')
           }) %>

<div class="account--section">
  <%= render(AttributeGroups::AttributeGroupComponent.new) do |component|
    component.with_attribute(key: ::Webhooks::Webhook.human_attribute_name('events'),
                             value: @webhook.event_names.join(', '))
    component.with_attribute(key: ::Webhooks::Webhook.human_attribute_name('events'),
                             value: if @webhook.all_projects?
                                      (t(:label_all))
                                    else
                                      @webhook.projects.join(', ')
                                    end)
    component.with_attribute(key: ::Webhooks::Webhook.human_attribute_name('description'),
                             value: @webhook.description)
  end %>
</div>

<div class="account--section">
  <h2><%= t 'webhooks.outgoing.deliveries.title' %></h2>
  <%= render ::Webhooks::Outgoing::Deliveries::TableComponent.new(rows: @webhook.deliveries.newest) %>
</div>
