<% content_for :header_tags do %>
  <script type="text/javascript">
    jQuery(function($) {
      var enable_apply = function () {
        var tasktype,
            submit,
            disable;

        tasktype = $("#settings_task_type").val();
        submit = $('input[type=submit]');

        disable = false;

        $("#settings_story_types :selected").each(function(i, selected) {
          disable = disable || ($(selected).attr('value') === tasktype);
        });

        if (disable) {
          submit.attr('disabled', 'disabled');
        }
        else {
          submit.removeAttr('disabled');
        }
      };

      $("#settings_task_type").change(enable_apply);
      $("#settings_story_types").change(enable_apply);

      enable_apply();
    });
  </script>
<% end %>

<p>
  <%= label_tag("settings[story_types]", l(:backlogs_story_type)) %>
  <%= select_tag("settings[story_types]",
                 options_from_collection_for_select(Type.all, :id, :name, Story.types), :multiple => true) %>
</p>
<p>
  <%= label_tag("settings[task_type]", l(:backlogs_task_type)) %>
  <%= select_tag("settings[task_type]",
                 options_from_collection_for_select(Type.all, :id, :name, Task.type)) %>
</p>
<p>
  <%= label_tag("settings[points_burn_direction]", l(:backlogs_points_burn_direction)) %>
  <%= select_tag("settings[points_burn_direction]",
                 options_for_select([[l(:label_points_burn_up), 'up'], [l(:label_points_burn_down), 'down']],
                                    Setting.plugin_openproject_backlogs["points_burn_direction"])) %>
</p>
<p>
  <%= label_tag("settings[card_spec]", l(:backlogs_card_specification)) %>
  <%= select_tag("settings[card_spec]",
                 options_for_select(OpenProject::Backlogs::TaskboardCard::PageLayout::LABELS.keys.sort.collect{|label| [label, label]},
                                    Setting.plugin_openproject_backlogs["card_spec"])) %>
</p>
<p>
  <%= label_tag("settings[wiki_template]", l(:backlogs_wiki_template)) %>
  <%= text_field_tag("settings[wiki_template]",
                     Setting.plugin_openproject_backlogs["wiki_template"]) %>
</p>
