<div>
    <% if sprints && sprints.size > 0 %>
        <h3><%= l(:backlogs_sprints) %></h3>
        <% sprints.each do |sp| %>
            <%= link_to(sp.name, {
                    :controller => 'rb_queries',
                    :action => 'show',
                    :project_id => project.id,
                    :sprint_id => sp.id
                    }) %><br/>
        <% end %>
    <% end %>

    <% if Setting.rest_api_enabled? && key %>
      <a href="<%= url_for({
                    :only_path  => false,
                    :protocol   => webcal,
                    :controller => :rb_calendars,
                    :action     => :show,
                    :project_id => project,
                    :format     => 'xml',
                    :key        => key }) %>"><%= l(:label_webcal) %></a><br>
    <% end %>

    <% if sprint.present? %>
        <h3><%= l(:label_sprint_name, {:name => sprint.name}) %></h3>
        <%= link_to(l(:label_task_board), {
                :controller => 'rb_taskboards',
                :action => 'show',
                :sprint_id => sprint.id
                })
        %><br/>

        <% if TaskboardCard::PageLayout.available? %>
          <%= link_to(l(:label_sprint_cards), {
                  :controller => 'rb_stories',
                  :action => 'index',
                  :project_id => project.id,
                  :sprint_id => sprint.id,
                  :format => 'pdf'
                  })
          %><br/>
        <% end %>

        <% if project.module_enabled? "wiki" %>
          <%= link_to(l(:label_wiki), {
                  :controller => 'rb_wikis',
                  :action => 'show',
                  :project_id => project.id,
                  :sprint_id => sprint.id
                  })
          %><br/>
        <% end %>

        <% if sprint.has_burndown? %>
          <%= render :partial => 'shared/backlogs_header' %>

          <%= javascript_include_tag 'app/burndown',
                                     :plugin => 'redmine_backlogs' %>

          <%= javascript_include_tag url_for(:controller => 'rb_server_variables',
                                             :action => 'show',
                                             :id => project,
                                             :format => :js) %>

          <%= link_to(l('backlogs.show_burndown_chart'),
                      {},
                      :class => 'show_burndown_chart')
          %><br/>

          <%= javascript_tag "
                jQuery(document).ready(function(){
                  var burndown = RB.Factory.initialize(RB.Burndown,       jQuery('.show_burndown_chart'));
                  burndown.setSprintId(#{sprint.id});
                });" %>
        <% end %>
    <% end %>
</div>
