<%= timelines_header_tags %>
<%= render :partial => 'breadcrumb', :locals => {:planning_element => @planning_element} %>

<%= form_for @planning_element, :url => timelines_project_planning_element_path(@project, @planning_element), :html => {:method => 'delete'} do |f| %>
  <div class='flash warning'>
    <%= l('timelines.really_delete_planning_element') %>
  </div>

  <%= submit_tag l(:button_delete) %>
  <%= link_to l(:button_cancel), timelines_project_planning_elements_path(@project) %>
<% end %>

<hr/>

<%= render :partial => 'planning_element', :object => @planning_element %>
