<%= timelines_header_tags %>
<%= form_for @planning_elements, :url => destroy_all_timelines_project_planning_elements_path(@project.id), :html => {:method => 'delete'} do |f| %>
  <div class='flash warning'>
    <%= l('timelines.really_delete_all_planning_elements') %>
  </div>

  <%= submit_tag l("timelines.button_delete_all") %>
  <%= link_to l(:button_cancel), recycle_bin_timelines_project_planning_elements_path(@project) %>
<% end %>

<hr/>

<%= render :partial => 'deleted_elements', :object => @planning_elements %>
