<div class="<%= multi_value ? 'multi-select' : 'single-select' %>">
  <span class="inline-label">
    <% select_options = [ :value,
                          options_from_collection_for_select(
                              filter.allowed_values,
                              :second,
                              :first,
                              selected_values),
                          {
                            class: 'form--select -slim',
                            'data-filters-target': 'filterValueSelect',
                            'data-filter-name': filter.name
                          }]
       if multi_value
         select_options.third[:multiple] = true
       end %>
    <%= select_tag *select_options %>
    <a href=""
       class="form-label no-decoration-on-hover -transparent multi-select-toggle"
       tabindex="0"
       data-action="click->filters#toggleMultiSelect"
       data-filters-filter-name-param="<%= filter.name %>">
      <span class="icon-context icon-button <%= multi_value ? 'icon-minus2' : 'icon-add' %> icon4" title="<%= t(:label_enable_multi_select) %>">
        <span class="hidden-for-sighted"><%= t(:label_enable_multi_select) %></span>
      </span>
    </a>
  </span>
</div>
