<table width="100%" border="0" cellpadding="0" cellspacing="0" style="border-bottom: 1px solid #cccccc; margin-bottom: 30px;">
  <tr>
    <td style="font-size: 24px; color: #333333; padding-bottom: 10px;">
      <%= I18n.t(:'mail.digests.salutation', user: @user.firstname) %>
    </td>
  </tr>
  <tr>
    <td style="font-size:14px; color: #1A67A3; font-weight: bold; padding-bottom: 10px;">
      <%= digest_timespan_text(@notification_ids.length, @aggregated_notifications.length) %>
    </td>
  </tr>
  <tr>
    <td style="padding: 10px 0 25px 0;">
      <a href="<%= notifications_center_url %>"
         target="_blank"
         style="background: #D1E5F5; padding: 8px 12px; color: #1A67A3; border: 1px solid #1A67A3; border-radius: 16px; text-decoration: none;">
        <%= I18n.t(:'mail.digests.center') %>
      </a>
    </td>
  </tr>
</table>

<% @aggregated_notifications.first(DigestMailer::MAX_SHOWN_WORK_PACKAGES).each do | work_package, notifications_by_work_package| %>
  <a style="border: 1px solid #E0E0E0;
            margin-bottom: 15px;
            padding: 12px;
            border-radius: 10px;
            text-decoration: none;
            display: block;"
       href="<%= notifications_path(work_package.id) %>"
       target="_blank">
    <table width="100%" border="0" cellpadding="0" cellspacing="0" style="margin-bottom: 10px; font-size: 12px;">
      <tr>
        <td style="<%= status_colors(work_package.status) %>
                   white-space: nowrap;
                   padding: 0 5px;">
          <%= work_package.status %>
        </td>
        <td style="padding-left: 5px;
                   color: #878787;">
          #<%= work_package.id %>
        </td>
        <td style="white-space: nowrap;
                   padding-left: 5px;
                   color: #878787;">
          - <%= work_package.project %> -
        </td>
        <td style="padding-left: 5px;
                   color: #878787;
                   white-space: nowrap;">
          <% unique_reasons = unique_reasons_of_notifications(notifications_by_work_package) %>
          <% unique_reasons.each_with_index do |reason, index| %>
            <%= I18n.t(
                  :"mail.digests.work_packages.reason.#{reason || :unknown}",
                  default: '-') %><%= ', ' unless unique_reasons.size-1 == index  %>
          <% end %>
        </td>
        <td width="100%" style="text-align: right;">
          <span style="background-color: #00A3FF;
                       color: white;
                       border-radius: 8px;
                       padding: 2px 7px;
                       font-size: 10px;">
           <%= notifications_by_work_package.length %>
          </span>
        </td>
      </tr>
    </table>
    <table width="100%" border="0" cellpadding="0" cellspacing="0" style="margin-bottom: 10px; font-size: 14px; font-weight: bold;">
      <tr>
        <td style="color: <%= type_color(work_package.type) %>;">
          <%= work_package.type.to_s.upcase %>
        </td>
        <td width="100%" style="padding-left: 5px; color: #333333;">
          <%= work_package.subject %>
        </td>
      </tr>
    </table>
    <table width="100%" border="0" cellpadding="0" cellspacing="0" style="font-size: 12px;">
      <% notifications_by_work_package.each do | notification | %>
        <% if notification.journal.notes.present? %>
          <tr style="color: #878787; line-height: 20px; white-space: nowrap;">
            <td>
              <%= I18n.t(:'mail.digests.work_packages.comment_added').html_safe %>
              <%= digest_notification_timestamp_text(notification) %>
            </td>
          </tr>
        <% end %>
        <% notification.journal.details.each do |detail| %>
          <tr style="color: #878787; line-height: 20px; white-space: nowrap;">
            <td>
              <%= notification.journal.render_detail(detail, only_path: false) %>
              <%= digest_notification_timestamp_text(notification) %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </table>
  </a>
<% end %>

<table width="100%" border="0" cellpadding="0" cellspacing="0" style="margin: 30px 0;">
  <tr>
    <td width="100%">
      <% if @aggregated_notifications.length > DigestMailer::MAX_SHOWN_WORK_PACKAGES %>
        <span>
          <% number_of_overflowing_work_packages = @aggregated_notifications.length - DigestMailer::MAX_SHOWN_WORK_PACKAGES %>
          <% if number_of_overflowing_work_packages === 1 %>
            <%= I18n.t(:'mail.digests.work_packages.more_to_see_singular') %>
          <% else %>
            <%= I18n.t(:'mail.digests.work_packages.more_to_see_plural', number: number_of_overflowing_work_packages) %>
          <% end %>
        </span>
        <a
          target="_blank"
          style="background-color: #D1E5F5; padding: 8px 12px; color: #1A67A3; border: 1px solid #1A67A3; border-radius: 16px; text-decoration: none; white-space: nowrap;">
          <%= I18n.t(:'mail.digests.work_packages.see_all') %>
        </a>
      <% end %>
    </td>
    <td>
      <a href="<%= my_notifications_url %>"
         target="_blank"
         style="padding: 8px 12px; color: #333333; border: 1px solid #878787; border-radius: 16px; text-decoration: none; white-space: nowrap;">
        <%= I18n.t(:'mail.digests.settings') %>
      </a>
    </td>
  </tr>
</table>

