<%= render partial: 'mailer/notification_mailer_header',
           locals: {
             summary: digest_summary_text(@notification_ids.length, @aggregated_notifications.length)
           } %>

<% @aggregated_notifications.first(DigestMailer::MAX_SHOWN_WORK_PACKAGES).each do | work_package, notifications_by_work_package| %>
  <%= render layout: 'mailer/notification_row',
             locals: {
               work_package: work_package,
               notifications_by_work_package: notifications_by_work_package
             } do %>
    <table width="100%" border="0" cellpadding="0" cellspacing="0" style="font-size: 12px;">
      <% notifications_by_work_package.each do | notification | %>
        <% if notification.journal.notes.present? %>
          <tr style="color: #878787; line-height: 20px; white-space: nowrap;">
            <td>
              <%= digest_comment_text(notification) %>
              <%= digest_notification_timestamp_text(notification) %>
            </td>
          </tr>
        <% end %>
        <% notification.journal.details.each do |detail| %>
          <tr style="color: #878787; line-height: 20px; white-space: nowrap;">
            <td>
              <%= notification.journal.render_detail(detail, only_path: false) %>
              <%= digest_notification_timestamp_text(notification) %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </table>
  <% end %>
<% end %>

<table width="100%" border="0" cellpadding="0" cellspacing="0" style="margin: 30px 0;">
  <tr>
    <td width="100%">
      <% if @aggregated_notifications.length > DigestMailer::MAX_SHOWN_WORK_PACKAGES %>
        <span>
          <% number_of_overflowing_work_packages = @aggregated_notifications.length - DigestMailer::MAX_SHOWN_WORK_PACKAGES %>
          <% if number_of_overflowing_work_packages === 1 %>
            <%= I18n.t(:'mail.digests.work_packages.more_to_see_singular') %>
          <% else %>
            <%= I18n.t(:'mail.digests.work_packages.more_to_see_plural', number: number_of_overflowing_work_packages) %>
          <% end %>
        </span>
        <a
          target="_blank"
          style="background-color: #D1E5F5; padding: 8px 12px; color: #1A67A3; border: 1px solid #1A67A3; border-radius: 16px; text-decoration: none; white-space: nowrap;">
          <%= I18n.t(:'mail.digests.work_packages.see_all') %>
        </a>
      <% end %>
    </td>
    <td>
      <%= render partial: 'mailer/notification_settings_button' %>
    </td>
  </tr>
</table>

