<%#-- copyright
OpenProject is a project management system.

Copyright (C) 2012-2013 the OpenProject Team

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 3.

See doc/COPYRIGHT.rdoc for more details.

++#%>

<table class="list time-entries">
<thead>
<tr>
<%= sort_header_tag('spent_on', :caption => TimeEntry.human_attribute_name(:spent_on), :default_order => 'desc') %>
<%= sort_header_tag('user', :caption => TimeEntry.human_attribute_name(:user)) %>
<%= sort_header_tag('activity', :caption => TimeEntry.human_attribute_name(:activity)) %>
<%= sort_header_tag('project', :caption => TimeEntry.human_attribute_name(:project)) %>
<%= sort_header_tag('issue', :caption => TimeEntry.human_attribute_name(:issue), :default_order => 'desc') %>
<th><%= TimeEntry.human_attribute_name(:comments) %></th>
<%= sort_header_tag('hours', :caption => TimeEntry.human_attribute_name(:hours)) %>
<th></th>
</tr>
</thead>
<tbody>
<% entries.each do |entry| -%>
<tr class="time-entry <%= cycle("odd", "even") %>">
<td class="spent_on"><%= format_date(entry.spent_on) %></td>
<td class="user"><%= link_to_user(entry.user) %></td>
<td class="activity"><%=h entry.activity %></td>
<td class="project"><%= link_to_project(entry.project) %></td>
<td class="subject">
<% if entry.work_package -%>
<%= entry.work_package.visible? ? link_to_work_package(entry.work_package, :truncate => 50) : "##{entry.work_package.id}" -%>
<% end -%>
</td>
<td class="comments"><%=h entry.comments %></td>
<td class="hours"><%= html_hours("%.2f" % entry.hours) %></td>
<td align="center">
<% if entry.editable_by?(User.current) -%>
    <%= link_to image_tag('edit.png'), edit_time_entry_path(entry),
                                       :title => l(:button_edit) %>
    <%= link_to image_tag('delete.png'), time_entry_path(entry),
                                         :confirm => l(:text_are_you_sure),
                                         :method => :delete,
                                         :title => l(:button_delete) %>
<% end -%>
</td>
</tr>
<% end -%>
</tbody>
</table>
