<%#-- copyright
OpenProject is a project management system.
Copyright (C) 2012-2017 the OpenProject Foundation (OPF)

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 3.

OpenProject is a fork of ChiliProject, which is a fork of Redmine. The copyright follows:
Copyright (C) 2006-2017 Jean-Philippe Lang
Copyright (C) 2010-2013 the ChiliProject Team

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.

See doc/COPYRIGHT.rdoc for more details.

++#%>

<%= toolbar title: t(:label_spent_time) %>
<%= labelled_tabular_form_for [@time_entry.project, @time_entry], as: :time_entry do |f| %>
  <%= error_messages_for 'time_entry' %>
  <%= back_url_hidden_field_tag %>

  <div class="form--field">
    <%= f.text_field :work_package_id, size: 6, container_class: '-xslim' %>
    <div class="form--field-instructions">
      <%= h("#{(@time_entry.work_package.kind.nil?) ? '' : @time_entry.work_package.kind.name} ##{@time_entry.work_package.id}: #{@time_entry.work_package.subject}") if @time_entry.work_package%>
    </div>
  </div>

  <div class="form--field -required">
    <%= f.text_field :spent_on, size: 10, required: true, container_class: '-xslim' %>
    <%= calendar_for('time_entry_spent_on') %>
  </div>

  <div class="form--field -required">
    <%= f.text_field :hours, size: 6, required: true, container_class: '-xslim' %>
  </div>

  <div class="form--field">
    <%= f.text_field :comments, size: 100, container_class: '-wide' %>
  </div>

  <div class="form--field -required">
    <%= f.select :activity_id,
                 activity_collection_for_select_options(@time_entry),
                 required: true,
                 container_class: '-slim' %>
  </div>

  <%= render partial: "customizable/form",
             locals: { form: f, all_fields: true, only_required: false } %>

  <%= call_hook(:view_timelog_edit_form_bottom, { time_entry: @time_entry, form: f }) %>
  <%= f.button t(:button_save), class: 'button -highlight -with-icon icon-checkmark' %>
<% end %>
