<h2><%= h(@page.pretty_title) %></h2>

<h3><%= l(:label_history) %></h3>

<% form_tag({:action => "diff"}, :method => :get) do %>
<table class="list wiki-page-versions">
<thead><tr>
    <th>#</th>
    <th></th>
    <th></th>
    <th><%= l(:field_updated_on) %></th>
    <th><%= l(:field_author) %></th>
    <th><%= l(:field_comments) %></th>
    <th></th>
</tr></thead>
<tbody>
<% show_diff = @versions.size > 1 %>
<% line_num = 1 %>
<% @versions.each do |ver| %>
<tr class="wiki-page-version <%= cycle("odd", "even") %>">
    <td class="id"><%= link_to h(ver.version), :action => 'show', :id => @page.title, :project_id => @page.project, :version => ver.version %></td>
    <td class="checkbox">
      <% if show_diff && (line_num < @versions.size)  %>
      <label for="<%="cb-#{line_num}"%>" class="hidden-for-sighted"><%=l(:description_compare_from) + " " + h(ver.version.to_s) %></label>
        <%= radio_button_tag('version', ver.version, (line_num==1), :id => "cb-#{line_num}", :onclick => "$('cbto-#{line_num+1}').checked=true;") %>
      <% end %>
    </td>
    <td class="checkbox">
      <% if show_diff && (line_num > 1) %>
        <label for="<%="cbto-#{line_num}"%>" class="hidden-for-sighted"><%=l(:description_compare_to) + " " + h(ver.version.to_s) %></label>
        <%= radio_button_tag('version_from', ver.version, (line_num==2), :id => "cbto-#{line_num}") %>
      <% end %>
    </td>
    <td class="updated_on"><%= format_time(ver.created_at) %></td>
    <td class="author"><%= link_to_user ver.user %></td>
    <td class="comments"><%=h ver.notes %></td>
    <td class="buttons"><%= link_to l(:button_annotate), :action => 'annotate', :id => @page.title, :version => ver.version %></td>
</tr>
<% line_num += 1 %>
<% end %>
</tbody>
</table>
<%= submit_tag l(:label_view_diff), :class => 'small' if show_diff %>
<span class="pagination"><%= pagination_links_full @version_pages, @version_count, :page_param => :p %></span>
<% end %>
