<%#-- copyright
OpenProject is a project management system.
Copyright (C) 2012-2017 the OpenProject Foundation (OPF)

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 3.

OpenProject is a fork of ChiliProject, which is a fork of Redmine. The copyright follows:
Copyright (C) 2006-2017 Jean-Philippe Lang
Copyright (C) 2010-2013 the ChiliProject Team

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.

See doc/COPYRIGHT.rdoc for more details.

++#%>

<% if @related_page %>
  <% breadcrumb_for_page(@related_page, t(:label_table_of_contents)) %>
<% else %>
  <% breadcrumb_paths(t(:label_table_of_contents)) %>
<% end %>

<% content_for :action_menu_specific do %>
  <%= content_tag(:li, watcher_link(@wiki, User.current), class: 'toolbar-item') %>
<% end %>

<% html_title t(:label_wiki_toc) %>

<%= render partial: 'layouts/action_menu_specific' %>
<div class="wiki-content">
<h2 class="legacy-heading"><%= t(:label_index_by_title) %></h2>
<%= render_page_hierarchy(@pages_by_parent_id, nil, timestamp: true) %>
</div>

<% content_for :sidebar do %>
  <%= render partial: 'sidebar' %>
<% end %>

<% unless @pages.empty? %>
  <%= other_formats_links do |f| %>
    <%= f.link_to 'Atom', url: {controller: '/activities', action: 'index', show_wiki_edits: 1, key: User.current.rss_key} %>
    <%= f.link_to('HTML', url: {action: 'export'}) if User.current.allowed_to?(:export_wiki_pages, @project) %>
  <% end %>
<% else %>
  <%= no_results_box(action_url:     new_project_wiki_path(@project),
                     display_action: authorize_for('wiki', 'new')) %>
<% end %>

<% content_for :header_tags do %>
  <%= auto_discovery_link_tag(:atom, controller: '/activities', action: 'index', id: @project, show_wiki_edits: 1, format: 'atom', key: User.current.rss_key) %>
<% end %>
