<% wiki_menu_item = WikiMenuItem.find_by_title_and_wiki_id(params[:id], @wiki.id) %>
<% breadcrumb_paths(link_to(h(wiki_menu_item.name), {:id => wiki_menu_item.title, :project_id => @wiki.project, :action => 'show'}), l(:label_table_of_contents)) %>

<div class="contextual">
  <%= watcher_link(@wiki, User.current) %>
</div>

<h2><%= l(:label_index_by_title) %></h2>

<% if @pages.empty? %>
<p class="nodata"><%= l(:label_no_data) %></p>
<% end %>

<%= render_page_hierarchy(@pages_by_parent_id, nil, :timestamp => true) %>

<% content_for :sidebar do %>
  <%= render :partial => 'sidebar' %>
<% end %>

<% unless @pages.empty? %>
<% other_formats_links do |f| %>
	<%= f.link_to 'Atom', :url => {:controller => 'activities', :action => 'index', :id => @project, :show_wiki_edits => 1, :key => User.current.rss_key} %>
	<%= f.link_to('HTML', :url => {:action => 'export'}) if User.current.allowed_to?(:export_wiki_pages, @project) %>
<% end %>
<% end %>

<% content_for :header_tags do %>
<%= auto_discovery_link_tag(:atom, :controller => 'activities', :action => 'index', :id => @project, :show_wiki_edits => 1, :format => 'atom', :key => User.current.rss_key) %>
<% end %>
