<%#-- copyright
OpenProject is a project management system.
Copyright (C) 2012-2017 the OpenProject Foundation (OPF)

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 3.

OpenProject is a fork of ChiliProject, which is a fork of Redmine. The copyright follows:
Copyright (C) 2006-2017 Jean-Philippe Lang
Copyright (C) 2010-2013 the ChiliProject Team

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.

See doc/COPYRIGHT.rdoc for more details.

++#%>

<h2 class="legacy-heading">
  <% if @page.parent %>
    <% breadcrumb_for_page(@page.parent, t("create_new_page")) %>
  <% else %>
    <% breadcrumb_paths(t("create_new_page")) %>
  <% end %>
  <%= t("create_new_page") %>
</h2>

<% html_title t("create_new_page") %>

<%= labelled_tabular_form_for @content, as: :content, url: create_project_wiki_index_path(project_id: @project), html: { method: :post, multipart: true, id: 'wiki_form' } do |f| %>
  <%= error_messages_for 'page' %>

    <div class="form--field -required">
      <%= f.fields_for :page, @page do |page_fields| %>
        <%= page_fields.hidden_field :parent_id %>
        <%= page_fields.text_field :title, required: true, size: 120 %>
      <% end %>
    </div>
    <div class="form--field -required">
      <%= f.fields_for :page, @page do |page_fields| %>
        <%= page_fields.select :parent_id,
                               wiki_page_options_for_select(@wiki.pages),
                               { label: WikiPage.human_attribute_name(:parent_title), include_blank: false },
                               { class: "parent-select form--select" } %>
      <% end%>
    </div>
    <div class="attributes-group">
      <div class="attributes-group--header">
        <div class="attributes-group--header-container">
          <h3 class="attributes-group--header-text"><%= WikiPage.human_attribute_name(:text) %></h3>
         </div>
       </div>
      <%= f.text_area :text, :cols => 100, :rows => 25, :class => 'wiki-edit op-auto-complete', :accesskey => accesskey(:edit) %>
    </div>

    <div class="form--field">
      <%= f.text_field :comments, size: 120 %>
    </div>

    <%= render partial: 'attachments/form', f: f %>

  <hr class="form--separator" />
  <%= f.button t(:button_save), class: 'button -highlight -with-icon icon-checkmark' %>
  <%= preview_link preview_project_wiki_index_path(@project), 'wiki_form-preview' %>

  <%= wikitoolbar_for 'content_text' %>
<% end %>

<div id="preview"></div>

<% content_for :header_tags do %>
  <%= robot_exclusion_tag %>
<% end %>

<% html_title @page.title %>
