<%#-- copyright
OpenProject is a project management system.
Copyright (C) 2012-2015 the OpenProject Foundation (OPF)

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 3.

OpenProject is a fork of ChiliProject, which is a fork of Redmine. The copyright follows:
Copyright (C) 2006-2013 Jean-Philippe Lang
Copyright (C) 2010-2013 the ChiliProject Team

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.

See doc/COPYRIGHT.rdoc for more details.

++#%>

<%= call_hook :wiki_navigation %>
<% html_title h(@page.pretty_title) %>
<%= content_header title: h(@page.pretty_title), scrollable: true do |h| %>
  <%= h.toolbar do |t| %>
    <%= t.button l(:button_edit), edit_project_wiki_path(@project, @page),
                 icon: :edit, accesskey: :edit,
                 if: @editable && @content.version == @page.content.version && authorize_for(:wiki, :edit)
    %>
    <%= t.watch_button @page, User.current,
                       if: Setting.notified_events.include?("wiki_content_added") or Setting.notified_events.include?("wiki_content_updated")
    %>
    <% if User.current.allowed_to?(:export_wiki_pages, @project) %>
      <%= t.submenu title: '', icon: :rss2 do %>
        <%= t.submenu_item 'Atom', project_activity_index_path(@project, format: :atom, key: User.current.rss_key, show_wiki_edits: 1),
                     icon: :'page-atom',
                     if: Setting.feeds_enabled?
        %>
        <%= t.submenu_item 'HTML', url_for(format: :html, version: @content.version, id: @page), icon: :publish %>
        <%= t.submenu_item 'TXT', url_for(format: :txt, version: @content.version, id: @page), icon: :ticket2 %>
        <%= call_hook(:view_wiki_show_other_formats) %>
      <% end %>
    <% end %>
    <%= t.submenu title: l(:more_actions), icon: :'grid-view1', last: true, unless: User.current.anonymous? do %>
      <%= t.submenu_item l(:button_lock), protect_project_wiki_path(@project, @page, protected: 1),
                         icon: :locked,
                         data: { method: :post },
                         unless: @page.protected? || !authorize_for(:wiki, :protect)
      %>
      <%= t.submenu_item l(:button_unlock), protect_project_wiki_path(@project, @page, protected: 0),
                         icon: :unlocked,
                         data: { method: :post },
                         if: @page.protected? && authorize_for(:wiki, :protect)
      %>
      <%= t.submenu_item l(:create_child_page), wiki_new_child_path(@project, @page),
                         icon: :duplicate,
                         if: User.current.allowed_to?(:edit_wiki_pages, @project)
      %>
      <%= t.submenu_item l(:button_rename), rename_project_wiki_path(@project, @page),
                         icon: :rename,
                         if: @content.version == @page.content.version && authorize_for(:wiki, :rename)
      %>
      <%= t.submenu_item l(:button_change_parent_page), parent_page_project_wiki_path(@project, @page),
                         icon: :link,
                         if: @content.version == @page.content.version && authorize_for(:wiki, :edit_parent_page)
      %>
      <% if @content.version < @page.content.version && authorize_for(:wiki, :edit) %>
        <%= t.submenu_divider %>
        <%= t.submenu_item l(:button_rollback), edit_project_wiki_path(@project, @page, version: @content.version), icon: :cancel %>
      <% end %>
      <%= t.submenu_item l(:label_history), history_project_wiki_path(@project, @page), icon: :wiki, if: authorize_for(:wiki, :history)  %>
      <%= t.submenu_item l(:button_manage_menu_entry), edit_wiki_menu_item_path(@project, @page), icon: :settings, if: authorize_for(:wiki_menu_items, :edit) %>
      <%= t.submenu_divider %>
      <%= t.submenu_item l(:button_delete), project_wiki_path(@project, @page),
                         icon: :delete,
                         data: { method: :delete, confirm: l(:text_are_you_sure) },
                         if: authorize_for(:wiki, :destroy)
      %>
    <% end %>
  <% end %>
<% end %>
<% breadcrumb_paths(*(@page.ancestors.reverse.collect {|parent| link_to h(parent.breadcrumb_title), {:id => parent, :project_id => parent.project}} + [h(@page.breadcrumb_title)])) %>
<% if @content.version != @page.content.version %>
  <p>
    <%= link_to(l(:label_previous), { :action => 'show', :id => @page, :project_id => @page.project, :version => (@content.version - 1) }, :class => 'navigate-left') + " - " if @content.version > 1 %>
    <%= "#{Version.model_name.human} #{@content.version}/#{@page.content.version}" %>
    <%= '(' + link_to(l(:label_diff), :controller => '/wiki', :action => 'diff', :id => @page, :project_id => @page.project, :version => @content.version) + ')' if @content.version > 1 %> -
    <%= link_to(l(:label_next), :action => 'show', :id => @page, :project_id => @page.project, :version => (@content.version + 1), :class => 'navigate-right') + " - " if @content.version < @page.content.version %>
    <%= link_to(l(:label_current_version), :action => 'show', :id => @page, :project_id => @page.project) %>
    <br />
    <em><%= @content.author ? link_to_user(@content.author) : l(:label_user_anonymous) %>, <%= format_time(@content.updated_on) %> </em><br />
    <%=h @content.comments %>
  </p>
  <hr />
<% end %>
<%= render(:partial => "wiki/content", :locals => {:content => @content}) %>
<%= link_to_attachments @page %>
<% if @editable && authorize_for('wiki', 'add_attachment') %>
  <div id="wiki_add_attachment">
    <p><%= link_to l(:label_attachment_new), {}, :onclick => "Element.show('add_attachment_form'); Element.hide(this); Element.scrollTo('add_attachment_form'); return false;",
                                             :id => 'attach_files_link' %></p>
    <%= form_tag({ :controller => '/wiki', :action => 'add_attachment', :project_id => @project, :id => @page }, :multipart => true, :id => "add_attachment_form", :style => "display:none;") do %>
      <div class="box">
        <p><%= render :partial => 'attachments/form' %></p>
      </div>
      <%= submit_tag l(:button_add), class: 'button -highlight' %>
      <%= link_to l(:button_cancel), {},
      :onclick => "Element.hide('add_attachment_form'); Element.show('attach_files_link'); return false;",
      class: 'button' %>
    <% end %>
  </div>
<% end %>

<% content_for :header_tags do %>
  <%= auto_discovery_link_tag(:atom, :controller => '/activities', :action => 'index', :id => @project, :show_wiki_edits => 1, :format => 'atom', :key => User.current.rss_key) %>
<% end %>

<% content_for :sidebar do %>
  <%= render :partial => 'wiki/sidebar' %>
<% end %>

