<% html_title(t(:label_administration), t('two_factor_authentication.settings.title')) -%>

<%= breadcrumb_toolbar(t('two_factor_authentication.settings.title')) %>
<section class="admin--edit-section">
  <%= styled_form_tag({ action: :update },
                      method: :post,
                      id: 'update-ldap-group-settings-form') do %>
    <fieldset class="form--fieldset">
      <legend class="form--fieldset-legend"><%= t('two_factor_authentication.settings.current_configuration') %></legend>
      <p>
        <%= t('two_factor_authentication.settings.text_configuration') %>
        <br/>
        <% configuration_link = OpenProject::Static::Links.links.fetch :configuration_guide %>
        <%= link_to t('two_factor_authentication.settings.text_configuration_guide'),
                    configuration_link[:href],
                    target: '_blank' %>
      </p>
      <%= render(AttributeGroups::AttributeGroupComponent.new) do |component|
        component.with_attribute(key: t('two_factor_authentication.settings.label_active_strategies'),
                                 value: if configuration['active_strategies'].empty?
                                          t(:label_none)
                                        else
                                          configuration['active_strategies'].join(content_tag(:br)) do |key|
                                            content_tag(:span) do
                                              t("two_factor_authentication.strategies.#{key}")
                                            end
                                          end
                                        end)

        component.with_attribute(key: t('two_factor_authentication.settings.label_enforced'),
                                 value: !!configuration['enforced'])

        component.with_attribute(key: t('two_factor_authentication.settings.label_remember'),
                                 value: if configuration['allow_remember_for_days'].to_i == 0
                                          t(:label_disabled)
                                        else
                                          "#{configuration['allow_remember_for_days']} (#{t(:label_day_plural)})"
                                        end)
      end %>
    </fieldset>
    <fieldset class="form--fieldset">
      <legend class="form--fieldset-legend"><%= t(:label_setting_plural) %></legend>
      <div class="form--field">
        <label class="form--label" for='settings[enforced]'><%= t('two_factor_authentication.settings.label_enforced') %></label>
        <div class="form--field-container ">
          <%= styled_check_box_tag 'settings[enforced]',
                                   '1',
                                   !!configuration['enforced'],
                                   disabled: strategy_manager.enforced_by_configuration? || configuration['active_strategies'].empty?,
                                   container_class: '-middle' %>
        </div>
        <div class="form--field-instructions">
          <%= I18n.t('two_factor_authentication.settings.text_enforced') %>
        </div>
      </div>
      <div class="form--field">
        <label class="form--label" for='settings[allow_remember_for_days]'><%= t('two_factor_authentication.settings.label_remember') %></label>
        <div class="form--field-container">
          <%= styled_number_field_tag 'settings[allow_remember_for_days]',
                                      configuration['allow_remember_for_days'],
                                      min: '0',
                                      max: '365',
                                      step: '1',
                                      container_class: '-middle' %>
        </div>
        <div class="form--field-instructions">
          <%= I18n.t('two_factor_authentication.settings.text_remember') %>
        </div>
      </div>
    </fieldset>
    <%= styled_submit_tag t(:button_apply), class: '-highlight' %>
  <% end %>
</section>
