<% @gantt.view = self %>
<h2><%= l(:label_gantt) %></h2>

<% form_tag(gantt_path(:month => params[:month], :year => params[:year], :months => params[:months]), :method => :put, :id => 'query_form') do %>
  <%= hidden_field_tag('project_id', @project.to_param) if @project%>
<fieldset id="filters" class="collapsible">
  <legend onclick="toggleFieldset(this);"><%= l(:label_filter_plural) %></legend>
	<div>
    <%= render :partial => 'queries/filters', :locals => {:query => @query} %>
  </div>
</fieldset>

<p class="contextual">
  <%= gantt_zoom_link(@gantt, :in) %>
  <%= gantt_zoom_link(@gantt, :out) %>
</p>

<p class="buttons">
<%= text_field_tag 'months', @gantt.months, :size => 2 %>
<%= l(:label_months_from) %>
<%= select_month(@gantt.month_from, :prefix => "month", :discard_type => true) %>
<%= select_year(@gantt.year_from, :prefix => "year", :discard_type => true) %>
<%= hidden_field_tag 'zoom', @gantt.zoom %>

<%= link_to_remote l(:button_apply), 
                   { :url => { :set_filter => (@query.new_record? ? 1 : nil) },
                     :update => "content",
                     :with => "Form.serialize('query_form')"
                   }, :class => 'icon icon-checked' %>
                   
<%= link_to_remote l(:button_clear),
                   { :url => { :project_id => @project, :set_filter => (@query.new_record? ? 1 : nil) }, 
                   	 :method => :put,
                     :update => "content",
                   }, :class => 'icon icon-reload' if @query.new_record? %>
</p>
<% end %>

<%= error_messages_for 'query' %>
<% if @query.valid? %>
<% zoom = 1
@gantt.zoom.times { zoom = zoom * 2 }

subject_width = 330
header_heigth = 18

headers_height = header_heigth
show_weeks = false
show_days = false

if @gantt.zoom >1
    show_weeks = true
    headers_height = 2*header_heigth
    if @gantt.zoom > 2
        show_days = true
        headers_height = 3*header_heigth
    end
end

# Width of the entire chart    
g_width = (@gantt.date_to - @gantt.date_from + 1)*zoom

@gantt.render(:top => headers_height + 8, :zoom => zoom, :g_width => g_width)

g_height = [(20 * (@gantt.number_of_rows + 6))+150, 206].max
t_height = g_height + headers_height


%>
<table width="100%" style="border:0; border-collapse: collapse;">
<tr>
<td style="width:<%= subject_width %>px; padding:0px;">

<div style="position:relative;height:<%= t_height + 24 %>px;width:<%= subject_width + 1 %>px;">
<div style="right:-2px;width:<%= subject_width %>px;height:<%= headers_height %>px;background: #eee;" class="gantt_hdr"></div>
<div style="right:-2px;width:<%= subject_width %>px;height:<%= t_height %>px;border-left: 1px solid #c0c0c0;overflow:hidden;" class="gantt_hdr"></div>

<%= @gantt.subjects %>

</div>
</td>
<td>

<div style="position:relative;height:<%= t_height + 24 %>px;overflow:auto;">
<div style="width:<%= g_width-1 %>px;height:<%= headers_height %>px;background: #eee;" class="gantt_hdr">&nbsp;</div>
<% 
#
# Months headers
#
month_f = @gantt.date_from
left = 0
height = (show_weeks ? header_heigth : header_heigth + g_height)
@gantt.months.times do 
	width = ((month_f >> 1) - month_f) * zoom - 1
	%>
	<div style="left:<%= left %>px;width:<%= width %>px;height:<%= height %>px;" class="gantt_hdr">
	<%= link_to "#{month_f.year}-#{month_f.month}", @gantt.params.merge(:year => month_f.year, :month => month_f.month), :title => "#{month_name(month_f.month)} #{month_f.year}"%>
	</div>
	<% 
	left = left + width + 1
	month_f = month_f >> 1
end %>

<% 
#
# Weeks headers
#
if show_weeks
	left = 0
	height = (show_days ? header_heigth-1 : header_heigth-1 + g_height)
	if @gantt.date_from.cwday == 1
	    # @date_from is monday
        week_f = @gantt.date_from
	else
	    # find next monday after @date_from
		week_f = @gantt.date_from + (7 - @gantt.date_from.cwday + 1)
		width = (7 - @gantt.date_from.cwday + 1) * zoom-1
		%>
		<div style="left:<%= left %>px;top:19px;width:<%= width %>px;height:<%= height %>px;" class="gantt_hdr">&nbsp;</div>
		<% 
		left = left + width+1
	end %>
	<%
	while week_f <= @gantt.date_to
		width = (week_f + 6 <= @gantt.date_to) ? 7 * zoom -1 : (@gantt.date_to - week_f + 1) * zoom-1
		%>
		<div style="left:<%= left %>px;top:19px;width:<%= width %>px;height:<%= height %>px;" class="gantt_hdr">
		<small><%= week_f.cweek if width >= 16 %></small>
		</div>
		<% 
		left = left + width+1
		week_f = week_f+7
	end
end %>

<% 
#
# Days headers
#
if show_days
	left = 0
	height = g_height + header_heigth - 1
	wday = @gantt.date_from.cwday
	(@gantt.date_to - @gantt.date_from + 1).to_i.times do 
	width =  zoom - 1
	%>
	<div style="left:<%= left %>px;top:37px;width:<%= width %>px;height:<%= height %>px;font-size:0.7em;<%= "background:#f1f1f1;" if wday > 5 %>" class="gantt_hdr">
	<%= day_name(wday).first %>
	</div>
	<% 
	left = left + width+1
	wday = wday + 1
	wday = 1 if wday > 7
	end
end %>

<%= @gantt.lines %>

<%
#
# Today red line (excluded from cache)
#
if Date.today >= @gantt.date_from and Date.today <= @gantt.date_to %>
    <div style="position: absolute;height:<%= g_height %>px;top:<%= headers_height + 1 %>px;left:<%= ((Date.today-@gantt.date_from+1)*zoom).floor()-1 %>px;width:10px;border-left: 1px dashed red;">&nbsp;</div>
<% end %>

</div>
</td>
</tr>
</table>

<table width="100%">
<tr>
<td align="left"><%= link_to_remote ('&#171; ' + l(:label_previous)), {:url => @gantt.params_previous, :method => :get, :update => 'content', :complete => 'window.scrollTo(0,0)'}, {:href => url_for(@gantt.params_previous)} %></td>
<td align="right"><%= link_to_remote (l(:label_next) + ' &#187;'), {:url => @gantt.params_next, :method => :get, :update => 'content', :complete => 'window.scrollTo(0,0)'}, {:href => url_for(@gantt.params_next)} %></td>
</tr>
</table>

<% other_formats_links do |f| %>
	<%= f.link_to 'PDF', :url => @gantt.params %>
	<%= f.link_to('PNG', :url => @gantt.params) if @gantt.respond_to?('to_image') %>
<% end %>
<% end # query.valid? %>

<% content_for :sidebar do %>
    <%= render :partial => 'issues/sidebar' %>
<% end %>

<% html_title(l(:label_gantt)) -%>
