<%#-- copyright
OpenProject is a project management system.

Copyright (C) 2012-2013 the OpenProject Team

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 3.

See doc/COPYRIGHT.rdoc for more details.

++#%>

<div class="news">
<%= link_to_project(news.project) + ': ' unless @project %>
  <h4 class='overview'><%= link_to h(news.title), news_path(news) %></h4>
  <p class="author additional-information"><%= authoring news.created_on, news.author %></p>
  <div>
    <%= "(#{l(:label_x_comments, :count => news.comments_count)})" if news.comments_count > 0 %>
    <% unless news.summary.blank? %>
      <div class="summary"><%=h news.summary %></div>
    <% end %>
  </div>
</div>
