<h2><%= News.model_name.human %></h2>

<%= labelled_tabular_form_for @news, :html => { :id => 'news-form' } do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>
  <%= submit_tag l(:button_save) %>
  <%= link_to l(:label_preview),
              news_preview_path(@news),
              :class => 'preview',
              :id => 'news-form-preview' %>
  <% end %>
<div id="preview" class="wiki"></div>
