<h2><%=l(:label_news_new)%></h2>

<%= labelled_tabular_form_for :news, @news, :url => project_news_index_path(@project),
                                           :html => { :id => 'news-form' } do |f| %>
  <%= render :partial => 'news/form', :locals => { :f => f } %>
  <%= submit_tag l(:button_create) %>
  <%= link_to l(:label_preview),
              project_news_preview_path(@project, @news),
              :class => 'preview',
              :id => 'news-form-preview' %>
<% end %>
<div id="preview" class="wiki"></div>
