<%#-- copyright
OpenProject is a project management system.

Copyright (C) 2012-2013 the OpenProject Team

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 3.

See doc/COPYRIGHT.rdoc for more details.

++#%>

<h2><%=l(:label_news_new)%></h2>

<%= labelled_tabular_form_for [@project, @news], :html => { :id => 'news-form' } do |f| %>
  <%= render :partial => 'news/form', :locals => { :f => f } %>
  <%= submit_tag l(:button_create) %>
  <%= link_to l(:label_preview),
              project_news_preview_path(@project, @news),
              :class => 'preview',
              :id => 'news-form-preview' %>
<% end %>
<div id="preview" class="wiki"></div>
