<%#-- copyright
OpenProject is an open source project management software.
Copyright (C) 2012-2023 the OpenProject GmbH

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 3.

OpenProject is a fork of ChiliProject, which is a fork of Redmine. The copyright follows:
Copyright (C) 2006-2013 Jean-Philippe Lang
Copyright (C) 2010-2013 the ChiliProject Team

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.

See COPYRIGHT and LICENSE files for more details.

++#%>
<%= component_wrapper do %>
  <%= render(Primer::Beta::BorderBox.new(padding: :spacious, mt: 3)) do |component| %>
    <%= component.with_row do %>
      <div class="d-flex">
        <div class="flex-1 mr-5">
          <div class="mb-2">
            <div>
              <%= 
                render(Primer::Beta::Text.new(font_size: :normal, font_weight: :bold, color: :muted)) do 
                  "New agenda item" 
                end 
              %>
            </div>  
          </div>
          <div>
            <%= primer_form_with(
              model: @meeting_agenda_item, 
              method: :post, 
              url: meeting_agenda_items_path(@meeting)
            ) do |f| %>
              <%= hidden_field_tag :work_package_id, @active_work_package&.id %>
              <%= render(MeetingAgendaItemForm.new(f, preselected_work_package: @active_work_package)) %>
            <% end %>
          </div>
        </div>
        <div>
          <%= form_with( 
            url: cancel_new_meeting_agenda_items_path(@meeting), 
            method: :get, 
            data: { "turbo-stream": true, confirm: 'Are you sure?' } 
          ) do |form| %>
            <%= hidden_field_tag :work_package_id, @active_work_package&.id %>
            <%= 
              render(Primer::Beta::IconButton.new(
                size: :medium,
                disabled: false,
                icon: :x,
                show_tooltip: true,
                type: :submit,
                "aria-label": "Cancel editing"
              )) 
            %>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
  

