<%#-- copyright
OpenProject is a project management system.

Copyright (C) 2012-2013 the OpenProject Team

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 3.

See doc/COPYRIGHT.rdoc for more details.

++#%>

<fieldset class="timelines-reporting-properties">
  <legend><%= l('timelines.properties') %></legend>

  <p>
    <label for="reporting_reported_project_status_id">
      <%= Reporting.human_attribute_name(:reported_project_status_id) %>:
    </label>
    <span class="timelines-value">
      <%=h @reporting.reported_project_status.try(:name) || '-' %>
    </span>
  </p>
  <p>
    <label for="reporting_reported_project_status_comment">
      <%= Reporting.human_attribute_name(:reported_project_status_comment) %>:
    </label><br/>
    <%= textilizable(@reporting, :reported_project_status_comment) %>
  </p>
</fieldset>
