<% type ||= :show %>
<% actions ||= false %>
<div class="toolbar-container">
  <div id="toolbar">
    <div class="title-container">
      <h2>
        <%= l("timelines.reporting_for_project.#{type}",
              :title => link_to_project(@reporting.reporting_to_project)).html_safe %>
      </h2>
    </div>
    <% if actions %>
      <ul id="toolbar-items">
        <% if authorize_for :reportings, :edit %>
          <li class="toolbar-item">
            <%= link_to edit_project_reporting_path(@project, @reporting), class: 'button' do %>
              <i class="button--icon icon-edit"></i> <%= l(:button_edit) %>
            <% end %>
          </li>
        <% end %>
        <% if authorize_for :reportings, :destroy %>
          <%= link_to confirm_destroy_project_reporting_path(@project, @reporting), class: 'button' do %>
              <i class="button--icon icon-delete"></i> <%= l(:button_delete) %>
            <% end %>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>
