<%#-- copyright
OpenProject is a project management system.
Copyright (C) 2012-2015 the OpenProject Foundation (OPF)

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 3.

OpenProject is a fork of ChiliProject, which is a fork of Redmine. The copyright follows:
Copyright (C) 2006-2013 Jean-Philippe Lang
Copyright (C) 2010-2013 the ChiliProject Team

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.

See doc/COPYRIGHT.rdoc for more details.

++#%>


<% unless User.current.impaired? %>
  <%# TODO: Require autocompleter inside select_boxes.js
    For lack of a requiring policy (such as requirejs), just include the
    autocompleter on its own.
  %>
  <%= javascript_include_tag "autocompleter.js" %>
  <%= javascript_include_tag "timelines_select_boxes.js" %>
<% end %>

<% html_title l('timelines.new_reporting') %>
<%= toolbar title: l('timelines.new_reporting') %>

<%= labelled_tabular_form_for :reporting,
            :url  => project_reportings_path(@project),
            :html => {:method => 'post'} do |f| %>

  <%= error_messages_for 'project' %>

  <fieldset class="form--fieldset">
    <legend class="form--fieldset-legend"><%= l('timelines.properties') %></legend>

    <span class='inline-label'>
      <label for="reporting_reporting_to_project_id" class="form-label -transparent">
        <%= Reporting.human_attribute_name(:reporting_to_project_id) %>
      </label>

      <% if User.current.impaired? %>
        <%= f.select(:reporting_to_project_id, @reporting_to_project_candidates.collect { |p| [p.name, p.id] }) %>
      <% else %>
        <%= select("reporting", :reporting_to_project_id,
                 options_for_select([]),
                 {},
                 { :'data-ajaxURL' => url_for({:controller => "/api/v2/reportings",
                                               :action     => "available_projects",
                                               :format     => "json"})
                 })
      %>
      <% end %>

    </span>
  </fieldset>

  <hr class="form--separator">
  <%= f.button l(:button_create), :name => nil, class: 'button -highlight -with-icon icon-yes' %>
  <%= link_to l(:button_cancel), project_reportings_path(@project), class: 'button' %>
<% end %>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'timelines.css', :media => "all" %>
<% end %>
