<%= header_tags %>

<%= form_for :project_association,
            :url  => project_project_association_path(@project, @project_association),
            :html => {:method => 'delete'} do |f| %>

  <div class='flash warning'>
    <%= l('timelines.really_delete_project_association_between_project_a_and_project_b',
          :project_a => @project, :project_b => @project_association.project(@project)) %>
  </div>

  <%= textilizable @project_association, :description %>

  <%= submit_tag l(:button_delete) %>
  <%= link_to l(:button_cancel), project_project_associations_path(@project) %>
<% end %>
