<%#-- copyright
OpenProject is an open source project management software.
Copyright (C) 2012-2023 the OpenProject GmbH

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 3.

OpenProject is a fork of ChiliProject, which is a fork of Redmine. The copyright follows:
Copyright (C) 2006-2013 Jean-Philippe Lang
Copyright (C) 2010-2013 the ChiliProject Team

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.

See COPYRIGHT and LICENSE files for more details.
++#%>

<% content_controller 'storages--oauth-client-form',
                      dynamic: true,
                      'storages--oauth-client-form-client-id-missing-value': t(:"storages.instructions.#{@storage.short_provider_type}.missing_client_id_for_redirect_uri")
%>

<fieldset class="form--fieldset">
  <div class="form--field -required">
    <%= f.text_field :client_id,
                     label: Storages::Admin::LABEL_OAUTH_CLIENT_ID,
                     required: true,
                     size: 40,
                     container_class: '-wide',
                     data: {
                       'storages--oauth-client-form-target': "clientId",
                       action: 'input->storages--oauth-client-form#setRedirectUriValue'
                     } %>
    <span class="form--field-instructions">
      <%= t("storages.instructions.#{@storage.short_provider_type}.oauth_client_id") %>
    </span>
  </div>

  <div class="form--field -required">
    <%= f.text_field :client_secret,
                     label: Storages::Admin::LABEL_OAUTH_CLIENT_SECRET,
                     required: true,
                     size: 40,
                     container_class: '-wide' %>
    <span class="form--field-instructions">
      <%= t("storages.instructions.#{@storage.short_provider_type}.oauth_client_secret") %>
    </span>
  </div>

  <div class="form--field">
    <label class="form--label" for="oauth-client-redirect-uri"><%= Storages::Admin::LABEL_OAUTH_REDIRECT_URI %></label>
    <div class="form--field-container">
      <div class="form--text-field-container -wide">
        <input id="oauth-client-redirect-uri"
               type="text"
               class="form--text-field"
               readonly
               data-storages--oauth-client-form-target="redirectUri">
      </div>
      <div class="form--field-affix">
        <% csp_onclick('this.focus(); this.select();', '#secret') %>
        <copy-to-clipboard click-target=".callback-copy-button"
                           clipboard-target="#oauth-client-redirect-uri">
        </copy-to-clipboard>
        <button class="callback-copy-button button -without-button-styling"
                title="<%= t(:button_copy_to_clipboard) %>">
          <%= op_icon('icon-copy') %>
          <span class="hidden-for-sighted"><%= t(:button_copy_to_clipboard) %></span>
        </button>
      </div>
    </div>
  </div>
</fieldset>

<% if @storage.oauth_client %>
  <%= styled_button_tag t(:button_replace), class: "-highlight -with-icon icon-checkmark" %>
<% else %>
  <%= styled_button_tag t("storages.buttons.save_and_complete_setup"), class: "-highlight -with-icon icon-checkmark" %>
<% end %>
