<%#-- copyright
OpenProject Documents Plugin

Former OpenProject Core functionality extracted into a plugin.

Copyright (C) 2009-2014 the OpenProject Foundation (OPF)

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 3.

OpenProject is a fork of ChiliProject, which is a fork of Redmine. The copyright follows:
Copyright (C) 2006-2013 Jean-Philippe Lang
Copyright (C) 2010-2013 the ChiliProject Team

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.

See doc/COPYRIGHT.rdoc for more details.

++#%>

<%= stylesheet_link_tag 'documents/documents.css' %>

<%= toolbar title: l(:label_document_plural) do %>
  <% if authorize_for(:documents, :new) %>
    <li class="toolbar-item">
      <%= link_to({:controller => '/documents', :action => 'new', :project_id => @project}, class: 'button -alt-highlight') do %>
        <i class="button--icon icon-add"></i> <%= l(:label_document_new) %>
      <% end %>
    </li>
  <% end %>
<% end %>

<% if @grouped.empty? %>
  <p class="nodata"><%= l(:label_no_data) %></p>
<% end %>

<% @grouped.keys.sort.each do |group| %>
  <h3><%= group %></h3>
  <%= render :partial => 'documents/document', :collection => @grouped[group] %>
<% end %>

<% content_for :sidebar do %>
  <h3><%= l(:label_sort_by, '') %></h3>
  <%= form_tag({}, :method => :get, class: 'sidebar--document-sort') do %>
    <label>
      <%= radio_button_tag 'sort_by', 'category', (@sort_by == 'category'), :onclick => 'this.form.submit();' %>
      <%= Document.human_attribute_name(:category) %>
    </label><br />
    <label>
      <%= radio_button_tag 'sort_by', 'date', (@sort_by == 'date'), :onclick => 'this.form.submit();' %>
      <%= l(:label_date) %>
    </label><br />
    <label>
      <%= radio_button_tag 'sort_by', 'title', (@sort_by == 'title'), :onclick => 'this.form.submit();' %>
      <%= Document.human_attribute_name(:title) %>
    </label><br />
    <label>
      <%= radio_button_tag 'sort_by', 'author', (@sort_by == 'author'), :onclick => 'this.form.submit();' %>
      <%= Document.human_attribute_name(:author) %>
    </label>
  <% end %>
<% end %>

<% html_title(l(:label_document_plural)) -%>
