<%= form_tag({}, method: :get, class: "project-filters #{filter_set? ? '-expanded' : ''}") do %>
  <% operators_without_values = ['*', '!*', 't', 'w'] %>
  <fieldset class="advanced-filters--container">
    <a id="projects-filter-close-button" title="{{ ::I18n.t('js.close_form_title') }}" class="advanced-filters--close icon-context icon-close"></a>
    <legend><%= t(:label_filter_plural) %></legend>
    <ul class="advanced-filters--filters">
      <% allowed_filters(query).each do |filter| %>
        <li class="advanced-filters--filter <%= query.find_active_filter(filter.name) ? '' : 'hidden' %>" filter-name="<%= filter.name %>" filter-type="<%= filter.type %>">
          <label class='advanced-filters--filter-name' for="<%= filter.name %>">
            <%= filter.human_name %>
          </label>
          <div class="advanced-filters--filter-operator">
            <% selected_operator = (query
                .find_active_filter(filter.name)
                .try(:operator) ||
                filter.default_operator.symbol) %>
            <%= select_tag :operator,
                           options_from_collection_for_select(
                             filter.available_operators,
                             :symbol,
                             :human_name,
                             selected_operator),
                           class: 'advanced-filters--select' %>
          </div>
          <% value_visibility = operators_without_values.include?(selected_operator) ? 'hidden' : '' %>
          <% if %i(list list_optional list_all).include? filter.type %>
            <% is_multi_value = (query.find_active_filter(filter.name).try(:values).try(:size).to_i > 1 ) %>
            <div class="advanced-filters--filter-value <%= value_visibility %> <%= is_multi_value ? 'multi-value' : '' %>">
              <div class="single-select">
                <span class="inline-label">
                  <%= select_tag :value,
                                 options_from_collection_for_select(
                                   filter.allowed_values,
                                   :second,
                                   :first,
                                   query.find_active_filter(filter.name)
                                     .try(:values)
                                     .try(:first)),
                                 class: 'form--select -slim' %>
                  <a href="" class="form-label no-decoration-on-hover -transparent multi-select-toggle" tabindex="0">
                    <span class="icon-context icon-button icon-add icon4" title="<%= t(:label_enable_multi_select) %>">
                      <span class="hidden-for-sighted"><%= t(:label_enable_multi_select) %></span>
                    </span>
                  </a>
                </span>
              </div>
              <div class="multi-select">
                <span class="inline-label">
                  <%= select_tag :value,
                                 options_from_collection_for_select(
                                   filter.allowed_values,
                                   :second,
                                   :first,
                                   query.find_active_filter(filter.name)
                                     .try(:values)
                                 ),
                                 class: 'form--select -slim',
                                 multiple: true %>
                  <a href="" class="form-label no-decoration-on-hover -transparent multi-select-toggle" tabindex="0">
                    <span class="icon-context icon-button icon-minus2 icon4" title="<%= t(:label_enable_multi_select) %>">
                      <span class="hidden-for-sighted"><%= t(:label_enable_multi_select) %></span>
                    </span>
                  </a>
                </span>
              </div>
            </div>
          <% elsif [:datetime_past, :date].include? filter.type %>
            <%
              value_format = ''
              if ['>t-', '<t-', 't-', '<t+', '>t+', 't+'].include? selected_operator
                value_format = 'days'
              elsif selected_operator == '=d'
                value_format = 'on-date'
              elsif selected_operator == '<>d'
                value_format = 'between-dates'
              end
            %>
            <div class="advanced-filters--filter-value <%= value_visibility %> <%= value_format %>">
              <div class="days">
                <div class="form--field-container">
                  <div class="form--text-field-container -xslim">
                    <span class="inline-label">
                      <%= number_field_tag :value, value_format == 'days' ? filter.values.first : '', class: 'advanced-filters--text-field -slim' %>
                      <label for="value" class="form-label -transparent">days</label>
                    </span>
                  </div>
                </div>
              </div>
              <div class="on-date">
                <div class="form--field-container">
                  <div class="form--text-field-container -slim">
                    <%= text_field_tag :value, value_format == 'on-date' ? filter.values.first : '', id: "on-date-value-#{filter.name}", class: 'advanced-filters--text-field -slim', size: '10' %>
                    <%= calendar_for("on-date-value-#{filter.name}") %>
                  </div>
                </div>
              </div>
              <div class="between-dates">
                <span><%= t(:label_date_from) %>:</span>
                <%= text_field_tag :from_value, value_format == 'between-dates' ? filter.values.first : '', id: "between-dates-from-value-#{filter.name}", class: 'advanced-filters--text-field -slim', size: '10' %>
                <%= calendar_for("between-dates-from-value-#{filter.name}") %>
                <span><%= t(:label_date_to) %>:</span>
                <%= text_field_tag :to_value, value_format == 'between-dates' ? filter.values.second : '', id: "between-dates-to-value-#{filter.name}", class: 'advanced-filters--text-field -slim', size: '10' %>
                <%= calendar_for("between-dates-to-value-#{filter.name}") %>
              </div>
            </div>
          <% else %>
            <%# All other simple types %>
            <div class="advanced-filters--filter-value <%= value_visibility %>">
              <% if filter.type == :string %>
                <div>
                  <%= text_field_tag :value, filter.values.first, class: 'advanced-filters--text-field -slim' %>
                </div>
              <% elsif filter.type == :text %>
                <div>
                  <%= text_field_tag :value, filter.values.first, class: 'advanced-filters--text-field -slim' %>
                </div>
              <% elsif filter.type == :integer %>
                <div>
                  <%= number_field_tag :value, filter.values.first, class: 'advanced-filters--text-field -slim', step: 'any'  %>
                </div>
              <% elsif filter.type == :float %>
                <div>
                  <%= number_field_tag :value, filter.values.first, class: 'advanced-filters--text-field -slim', step: 'any' %>
                </div>
              <% end %>
            </div>
          <% end %>

          <% unless filter.name == :status %>
            <div class="advanced-filters--remove-filter">
              <a href="#" class="filter_rem">
                <op-icon icon-classes="icon-close advanced-filters--remove-filter-icon" icon-title="{{I18n.t('js.button_delete')}}"></op-icon>
              </a>
            </div>
          <% end %>
        </li>
      <% end %>

      <li class="advanced-filters--spacer"></li>

      <li class="advanced-filters--add-filter">
        <!-- Add filters -->
        <label for="add_filter_select" aria-hidden="true" class="advanced-filters--add-filter-label ng-binding">
          <op-icon icon-classes="icon-add icon4" class="op-icon--wrapper">
            <i class="icon-add icon4" aria-hidden="true"></i>
          </op-icon>
          Add filter:
        </label>
        <label for="add_filter_select" class="hidden-for-sighted ng-binding">
          Add filter
          Open this filter with 'ALT' and arrow keys.
          To select an entry leave the focus for example by pressing enter. To leave without filter select the first (empty) entry.
        </label>

        <div class="advanced-filters--add-filter-value">
          <%= select_tag 'add_filter_select',
                         options_from_collection_for_select(
                             allowed_filters(query),
                             :name,
                             :human_name,
                             disabled: query.filters.map(&:name)
                         ),
                         prompt: t(:actionview_instancetag_blank_option),
                         class: 'advanced-filters--select',
                         focus: "false",
                         'aria-invalid': "false" %>
        </div>
      </li>
      <li class="advanced-filters--controls">
        <%= submit_tag t('button_filter'), class: 'button -highlight', name: nil %>
      </li>
    </ul>
  </fieldset>
<% end %>
