<h2><%=l(:label_confirmation)%></h2>
<div class="warning">
<p><strong><%=h @project_to_destroy %></strong><br />
<%=l(:text_project_destroy_confirmation)%>

<% if @project_to_destroy.descendants.any? %>
<br /><%= l(:text_subprojects_destroy_warning, content_tag('strong', h(@project_to_destroy.descendants.collect{|p| p.to_s}.join(', ')))) %>
<% end %>
</p>
<p>
    <%= form_tag(project_path(@project_to_destroy), :method => :delete) do %>
    <label><%= check_box_tag 'confirm', 1 %> <%= l(:general_text_Yes) %></label>
    <%= submit_tag l(:button_delete) %>
    <% end %>
</p>
</div>
