<%= toolbar title: t('bcf.bcf_xml.import_title') %>

<%= form_tag({ action: :prepare_import }, multipart: true, method: :post) do %>

  <div class="form--field">
    <%= styled_label_tag 'bcf_file', t('bcf.bcf_xml.xml_file') %>
    <div class="form--field-container">
      <%= styled_file_field_tag :bcf_file, required: true %>
    </div>
    <div class="form--field-instructions">
      <p><%= t('bcf.bcf_xml.import.description') %></p>
    </div>
  </div>

  <%= submit_tag t('bcf.bcf_xml.import.button_prepare'), class: 'button -highlight' %>
  <%= link_to t(:button_cancel),
              defaults_bcf_project_ifc_models_path(@project),
              class: 'button' %>
<% end %>
