<%#-- copyright
OpenProject is a project management system.

Copyright (C) 2012-2013 the OpenProject Team

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 3.

See doc/COPYRIGHT.rdoc for more details.

++#%>

<h2><%= link_to l(:label_work_package_status_plural), :controller => '/issue_statuses', :action => 'index' %> &#187; <%=l(:label_work_package_status_new)%></h2>

<%= form_tag({:action => 'create'}, :class => "tabular") do %>
  <%= render :partial => 'form' %>
  <%= submit_tag l(:button_create) %>
<% end %>
