<%#-- copyright
OpenProject is a project management system.

Copyright (C) 2012-2013 the OpenProject Team

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 3.

See doc/COPYRIGHT.rdoc for more details.

++#%>

<h2><%=l(:label_attachment_new)%></h2>
<%= error_messages_for 'attachment' %>

<div class="box">
  <%= form_tag(project_files_path(@project), :multipart => true, :class => "tabular") do %>
    <% if @versions.any? %>
      <p>
        <label for="version_id"><%= Journal.human_attribute_name(:version) %></label>
        <%= select_tag "version_id", content_tag('option', '') +
                                 options_from_collection_for_select(@versions, "id", "name") %>
      </p>
    <% end %>
    <p>
      <label><%= l(:label_attachment_plural) %></label>
      <%= render :partial => 'attachments/form' %>
    </p>
    <%= submit_tag l(:button_add) %>
  <% end %>
</div>
