<div class="model issue impediment <%= mark_if_closed(impediment) %>" id="issue_<%= impediment.id %>" <%= build_inline_style(impediment) %>>
  <div class="id">
    <div class="t"><%= issue_link_or_empty(impediment) %></div>
    <div class="v"><%= id_or_empty(impediment) %></div>
  </div>
  <div class="subject editable" fieldtype="textarea" fieldname="subject"><%= impediment.subject %></div>
  <div class="blocks editable" fieldname="blocks_ids" fieldlabel="<%= l(:field_blocks_ids) %>"><%= blocks_ids(impediment.blocks_ids) %></div>
  <div class="assigned_to_id editable" fieldtype="select" fieldname="assigned_to_id">
    <div class="t"><%= assignee_name_or_empty(impediment) %></div>
    <div class="v"><%= assignee_id_or_empty(impediment) %></div>
  </div>
  <div class="remaining_hours editable" fieldname="remaining_hours"><%= remaining_hours(impediment) %></div>
  <div class="indicator"> </div>
  <div class="meta">
    <div class="story_id"><%= impediment.parent_id %></div>
    <div class="status_id"><%= impediment.status_id %></div>
    <%= render :partial => "shared/model_errors", :object => impediment.errors %>
  </div>
</div>
