<h2><%= @query.new_record? ? l(:label_calendar) : h(@query.name) %></h2>

<% form_tag(calendar_path, :method => :put, :id => 'query_form') do %>
  <%= hidden_field_tag('project_id', @project.to_param) if @project%>
<fieldset id="filters" class="collapsible <%= @query.new_record? ? "" : "collapsed" %>">
  <legend onclick="toggleFieldset(this);"><%= l(:label_filter_plural) %></legend>
  <div style="<%= @query.new_record? ? "" : "display: none;" %>">
    <%= render :partial => 'queries/filters', :locals => {:query => @query} %>
  </div>
</fieldset>

<p style="float:right;">
  <%= link_to_previous_month(@year, @month, :project => @project) %> | <%= link_to_next_month(@year, @month, :project => @project) %>
</p>

<p class="buttons">
<%= label_tag('month', l(:label_month)) %>
<%= select_month(@month, :prefix => "month", :discard_type => true) %>
<%= label_tag('year', l(:label_year)) %>
<%= select_year(@year, :prefix => "year", :discard_type => true) %>

<%= link_to_remote l(:button_apply),
                   { :url => { :set_filter => 1 },
                     :update => "content",
                     :with => "Form.serialize('query_form')"
                   }, :class => 'icon icon-checked' %>

<%= link_to_remote l(:button_clear),
                   { :url => { :project_id => @project, :set_filter => 1 },
                     :method => :put,
                     :update => "content",
                   }, :class => 'icon icon-reload' %>
</p>
<% end %>

<%= error_messages_for 'query' %>
<% if @query.valid? %>
<%= render :partial => 'common/calendar', :locals => {:calendar => @calendar} %>

<p class="legend cal">
	<span class="starting"><%= l(:text_tip_issue_begin_day) %></span>
	<span class="ending"><%= l(:text_tip_issue_end_day) %></span>
	<span class="starting ending"><%= l(:text_tip_issue_begin_end_day) %></span>
</p>
<% end %>

<% content_for :sidebar do %>
    <%= render :partial => 'issues/sidebar' %>
<% end %>

<% html_title(l(:label_calendar)) -%>
