<li class="<%= li_css_class %>">
  <a href="<%= dynamic_path %>"
     id="<%= id %>"
     title="<%= title %>"
     arial-label="<%= aria_label %>"
     class="<%= link_css_class %>">
    <%= icon %>
    <%= label %>
  </a>
</li>
