<%#-- copyright
OpenProject is a project management system.
Copyright (C) 2012-2015 the OpenProject Foundation (OPF)

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 3.

OpenProject is a fork of ChiliProject, which is a fork of Redmine. The copyright follows:
Copyright (C) 2006-2013 Jean-Philippe Lang
Copyright (C) 2010-2013 the ChiliProject Team

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.

See doc/COPYRIGHT.rdoc for more details.

++#%>

<% edit_allowed = current_user.allowed_to?(:edit_work_packages, project) %>

<%= labelled_tabular_form_for work_package,
                              :url => work_package_path(work_package),
                              :html => {
                                        :id => 'work_package-form',
                                        :multipart => true,
                                        :class => 'form'
                                       } do |f| %>

  <% if defined? back_url %>
    <%= hidden_field_tag 'back_url', back_url %>
  <% end %>
  <%= error_messages_for work_package %>

  <% if edit_allowed || !allowed_statuses.empty? %>
      <% edit_form = (edit_allowed ? 'form' : 'form_update') %>
      <%= render :partial => edit_form,
                 :locals => { :f => f,
                              :work_package => work_package,
                              :priorities => priorities,
                              :project => project,
                              :user => user,
                              :time_entry => time_entry } %>
  <% end %>

  <div class="form--field -vertical">
    <%= f.text_area :journal_notes, :cols => 60,
                                    :rows => 10,
                                    :class => 'wiki-edit',
                                    :label => Journal.human_attribute_name(:notes),
                                    :'data-wp_autocomplete_url' => work_packages_auto_complete_path(:project_id => project, :format => :json) %>

    <%= wikitoolbar_for 'work_package_journal_notes' %>
  </div>

  <%= call_hook(:view_work_packages_edit_notes_bottom, { :issue => work_package,
                                                         :notes => work_package.journal_notes,
                                                         :form => f }) %>

  <% if authorize_for('timelog', 'edit') %>
    <%= render :partial => 'time_entry',
               :locals => { :time_entry => time_entry,
                            :f => f } %>
  <% end %>

  <%= render :partial => 'attachments/nested_form',
             :locals => { :prefix => 'work_package' } %>

  <hr class="form--separator -invisible">

  <%= send_notification_option(params['send_notification'] != '0') %>

  <%= f.hidden_field :lock_version %>
  <%= f.button l(:button_submit), :class => 'button -highlight -with-icon icon-yes' %>
  <%= link_to_work_package_preview(work_package) %>
<% end %>

<div id="preview">
</div>
