<%#-- copyright
OpenProject is a project management system.

Copyright (C) 2012-2013 the OpenProject Team

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 3.

See doc/COPYRIGHT.rdoc for more details.

++#%>

<%= call_hook(:view_issues_form_details_top, { :issue => work_package, :form => f }) %>

<div id="work_package_descr_fields"<% unless work_package.new_record? || work_package.errors.any? %> style="display:none;"<% end %>>

  <% work_package_form_top_attributes(f, work_package,
                                         :priorities => priorities,
                                         :project => project).each do |attribute| %>
    <p>
      <%= attribute.field %>
    </p>

  <% end %>

</div>

<div id="attributes" class="attributes">
  <%= render :partial => 'attributes', :locals => { :f => f,
                                                    :work_package => work_package,
                                                    :project => project,
                                                    :priorities => priorities,
                                                    :user => user
                                                  } %>
</div>

<% if work_package.new_record? %>
  <div class="handle_attachments">
    <%= label_tag('attachments[1][file]', l(:label_attachment_plural))%>
    <%= render :partial => 'attachments/form' %>
  </div>
<% end %>

<% if work_package.new_record? && User.current.allowed_to?(:add_work_package_watchers, project) -%>
  <p id="watchers_form">
    <label><%= l(:label_issue_watchers) %></label>
    <% work_package.project.users.sort.each do |user| -%>
      <label class="floating"><%= check_box_tag 'work_package[watcher_user_ids][]', user.id, work_package.watched_by?(user) %> <%=h user %></label>
    <% end -%>
  </p>
<% end %>

<%= call_hook(:view_issues_form_details_bottom, { :issue => work_package, :form => f }) %>

<%= wikitoolbar_for 'work_package_description' %>
