<%#-- copyright
OpenProject is a project management system.
Copyright (C) 2012-2015 the OpenProject Foundation (OPF)

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 3.

OpenProject is a fork of ChiliProject, which is a fork of Redmine. The copyright follows:
Copyright (C) 2006-2013 Jean-Philippe Lang
Copyright (C) 2010-2013 the ChiliProject Team

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.

See doc/COPYRIGHT.rdoc for more details.

++#%>

<%= call_hook(:view_work_packages_form_details_top, { :issue => work_package, :form => f }) %>

<div class="grid-block">
  <div class="form--column">
    <div class="form--field">
      <%= f.select :type_id, work_package_form_type_selectable_types(project), {}, class: '-narrow' %>
      <%= observe_field :work_package_type_id, url: work_package_form_type_observable_url(work_package, project),
                                                  update: :attributes,
                                                  method: :get,
                                                  with: "Form.serialize('work_package-form')" %>
    </div>
  </div>
  <% if user_can_manage_subtasks?(project) %>
    <div class="form--column">
      <div class="form--field">
        <%= f.text_field :parent_id, title: l(:description_autocomplete) %>
      </div>
    </div>
  <% end %>
</div>
<% if user_can_manage_subtasks?(project) %>
  <div id="parent_issue_candidates" class="autocomplete"></div>
  <script>
    observeWorkPackageParentField('<%= work_package_form_parent_autocomplete_path(work_package, project) %>')
  </script>
<% end %>
<div class="form--field -vertical">
  <%= f.text_field :subject, required: true %>
</div>
<div class="form--field -vertical">
  <%= f.text_area :description, accesskey: accesskey(:edit), class: 'wiki-edit', rows: 10, :'ng-non-bindable' => '',
                  :'data-wp_autocomplete_url' => work_packages_auto_complete_path(project_id: work_package.project, format: :json) %>
</div>

<div id="attributes" class="attributes">
  <%= render :partial => 'attributes', :locals => { :f => f,
                                                    :work_package => work_package,
                                                    :project => project,
                                                    :priorities => priorities,
                                                    :user => user
                                                  } %>
</div>


<% if work_package.new_record? && User.current.allowed_to?(:add_work_package_watchers, project) -%>
  <% watcher_blocks = work_package.possible_watcher_users.sort.in_groups(3, false) %>

  <fieldset id="timelog" class="form--fieldset -collapsible">
    <legend class="form--fieldset-legend" title="<%=l(:label_work_package_watchers)%>" onclick="toggleFieldset(this);">
      <a href="javascript:"><%=l(:label_work_package_watchers)%></a>
    </legend>
    <div id="watchers_form" class="grid-block">
      <% watcher_blocks.each do |block| %>
        <div class="grid-content">
          <% block.each do |user| %>
            <div class="form--field -wide-label">
              <%= f.collection_check_box(:watcher_user_ids,
                                         user.id,
                                         work_package.watched_by?(user) && work_package.visible?(user),
                                         user.name,
                                         unchecked_value: nil) %>
            </div>
          <% end %>
        </div>
      <% end -%>
    </div>
  </fieldset>

<% end %>

<% if work_package.new_record? %>
  <%= render :partial => 'attachments/nested_form', locals: { open: true } %>
<% end %>

<%= call_hook(:view_work_packages_form_details_bottom, { :issue => work_package, :form => f }) %>

<%= wikitoolbar_for 'work_package_description' %>
