<%#-- copyright
OpenProject is a project management system.
Copyright (C) 2012-2015 the OpenProject Foundation (OPF)

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 3.

OpenProject is a fork of ChiliProject, which is a fork of Redmine. The copyright follows:
Copyright (C) 2006-2013 Jean-Philippe Lang
Copyright (C) 2010-2013 the ChiliProject Team

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.

See doc/COPYRIGHT.rdoc for more details.

++#%>
<% if work_packages && work_packages.any? %>
  <%= form_tag({}) do %>
    <table class="list issues work_packages">
      <thead>
        <tr>
          <th>#</th>
          <th><%= WorkPackage.human_attribute_name(:project)%></th>
          <th><%= WorkPackage.human_attribute_name(:type)%></th>
          <th><%= WorkPackage.human_attribute_name(:subject)%></th>
        </tr>
      </thead>
      <tbody>
        <% for work_package in work_packages %>
          <tr id="work_package-<%= h(work_package.id) %>" class="hascontextmenu <%= cycle('odd', 'even') %> <%= work_package_css_classes(work_package) %>">
            <td class="id">
              <%= check_box_tag("ids[]", work_package.id, false, :style => 'display:none;') %>
              <%= link_to_work_package(work_package, :id_only => true) %>
            </td>
            <td class="project"><%= link_to_project(work_package.project) %></td>
            <td class="type"><%=h work_package.type %></td>
            <td class="subject">
              <%= link_to_work_package(work_package, :subject_only => true) %> (<%=h work_package.status %>)
      </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
<% else %>
  <p class="nodata"><%= l(:label_no_data) %></p>
<% end %>
