<%#-- copyright
OpenProject is a project management system.
Copyright (C) 2012-2015 the OpenProject Foundation (OPF)

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 3.

OpenProject is a fork of ChiliProject, which is a fork of Redmine. The copyright follows:
Copyright (C) 2006-2013 Jean-Philippe Lang
Copyright (C) 2010-2013 the ChiliProject Team

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.

See doc/COPYRIGHT.rdoc for more details.

++#%>

<tr id="work_package_relation_<%= relation.id %>">
  <td>
    <%= l(relation.label_for(work_package)) %> <%= "(#{l('datetime.distance_in_words.x_days', :count => relation.delay)})" if relation.delay && relation.delay != 0 %>
    <%= h(relation.other_work_package(work_package).project) + ' - ' if Setting.cross_project_work_package_relations? %>
    <%= link_to_work_package(relation.other_work_package(work_package), :truncate => 60) %>
  </td>
  <td>
    <%= format_date(relation.other_work_package(work_package).start_date) %>
  </td>
  <td>
    <%= format_date(relation.other_work_package(work_package).due_date) %>
  </td>
  <td>
    <%= link_to(icon_wrapper('icon-context icon-delete',l(:label_relation_delete)), work_package_relation_path(work_package, relation),
                                         :method => :delete,
                                         :remote => true,
                                         :class => 'no-decoration-on-hover',
                                         :title => l(:label_relation_delete),
                                         :alt   => l(:label_relation_delete)) if authorize_for('work_package_relations', 'destroy') %>
  </td>
</tr>
