<%#-- copyright
OpenProject is a project management system.
Copyright (C) 2012-2015 the OpenProject Foundation (OPF)

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 3.

OpenProject is a fork of ChiliProject, which is a fork of Redmine. The copyright follows:
Copyright (C) 2006-2013 Jean-Philippe Lang
Copyright (C) 2010-2013 the ChiliProject Team

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.

See doc/COPYRIGHT.rdoc for more details.

++#%>

<div class="attributes-group--header">
  <div class="attributes-group--header-container">
    <h3 class="attributes-group--header-text"><%=l(:label_related_work_packages)%></h3>
  </div>
  <div class="attributes-group--header-control">
    <% if authorize_for('work_package_relations', 'create') %>
      <%= toggle_link icon_wrapper('icon icon-add', l(:label_add_related_work_packages)),
                      'new-relation-form',
                      { focus: 'relation_to_id' },
                      { :class => 'no-decoration-on-hover', :title => l(:label_add_related_work_packages) } %>
    <% end %>
  </div>
</div>

<div class="single-attribute">
  <table id="work-package-relations-table" class="attributes-table <%= '-hidden' if relations.empty? %>">
    <colgroup>
      <col style="width: 50%" />
      <col />
      <col />
      <col style="width: 1rem" />
    </colgroup>
    <thead>
      <tr>
        <th><%= Relation.human_attribute_name(:to)%></th>
        <th><%= WorkPackage.human_attribute_name(:start_date)%></th>
        <th><%= WorkPackage.human_attribute_name(:due_date)%></th>
        <th><span class="hidden-for-sighted"><%= t('button_delete') %></span></th>
      </tr>
    </thead>
    <tbody>
      <%= render :partial => 'relation', :collection => relations,
                                         :as => :relation,
                                         :locals => { :work_package => work_package } -%>
    </tbody>
  </table>

  <%= form_for(work_package.new_relation,
               :as => :relation,
               :url => work_package_relations_path(work_package),
               :method => :post,
               :remote => true,
               :complete => "Form.Element.focus('relation_to_id');",
               :html => {:id => 'new-relation-form', :style => (@relation ? '' : 'display: none;')}) do |f| %>
    <%= render :partial => 'work_package_relations/form', :locals => {:f => f}%>

  <% end %>
</div>
