<%#-- copyright
OpenProject is a project management system.
Copyright (C) 2012-2015 the OpenProject Foundation (OPF)

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 3.

OpenProject is a fork of ChiliProject, which is a fork of Redmine. The copyright follows:
Copyright (C) 2006-2013 Jean-Philippe Lang
Copyright (C) 2010-2013 the ChiliProject Team

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.

See doc/COPYRIGHT.rdoc for more details.

++#%>

<%= f.fields_for :time_entry,
                 time_entry,
                 { :builder => TabularFormBuilder,
                 :lang => current_language} do |fields| %>
  <fieldset id="timelog" class="form--fieldset -collapsible">
    <legend class="form--fieldset-legend" title="<%=l(:button_log_time)%>" onclick="toggleFieldset(this);">
      <a href="javascript:"><%=l(:button_log_time)%></a>
    </legend>

    <div>
      <div class="grid-block small-up-2">
        <div class="form--field">
          <%= fields.text_field :hours,
                                :value => number_with_delimiter(time_entry.hours, locale: I18n.locale),
                                :label => :label_spent_time,
                                :placeholder => TimeEntry.human_attribute_name(:hours),
                                :class => 'short' %>
        </div>

        <div class="form--field">
          <%= fields.select :activity_id, activity_collection_for_select_options %>
        </div>

        <div class="form--field">
          <%= fields.text_field :comments %>
        </div>

        <%= render partial: "customizable/form",
                   locals: { form: fields } %>
      </div>


    </div>
  </fieldset>
<% end %>
