<%#-- copyright
OpenProject is a project management system.
Copyright (C) 2012-2014 the OpenProject Foundation (OPF)

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 3.

OpenProject is a fork of ChiliProject, which is a fork of Redmine. The copyright follows:
Copyright (C) 2006-2013 Jean-Philippe Lang
Copyright (C) 2010-2013 the ChiliProject Team

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.

See doc/COPYRIGHT.rdoc for more details.

++#%>

<%
possible_project_types = @project ? @project.types : Project.all.map(&:types).reduce{|memo,t| memo & t} || []
gon.project_types = possible_project_types.map{ |type| [type.id, type.name] }
# TODO fetch data from API endpoint
# TODO: move this out of the view

if User.current.allowed_to? :export_work_packages, project, global: project.nil?
  gon.export_formats = {
    atom:     url_for(format: 'atom',project_id: project, query_id: (query.new_record? ? nil : query), key: User.current.rss_key),
    csv:      url_for(format: 'csv', project_id: project),
    pdf:      url_for(format: 'pdf', project_id: project),
    pdf_desc: url_for(format: 'pdf', project_id: project, show_descriptions: true)
  }
  # I18n.t(:label_pdf_with_descriptions)
  # call_hook(:view_work_packages_index_other_formats, link_formatter: f, project: project)
end
%>

<%= include_gon %>

<div id="work-packages-index" ng-controller="WorkPackagesController">

  <div class="toolbar-container">
    <toolbar>
      <selectable-title selected-title="selectedTitle"
                        reload-method="reloadQuery"
                        data-groups="dataGroups"
                        groups="groups">
      </selectable-title>

      <ul>
        <li><button class="button_highlight" with-dropdown dropdown-id="tasksDropdown"><i class="icon-add icon4"></i>New Task<i class="icon-pulldown-arrow1 icon-dropdown"></i></button></li>
        <li>
          <button class="button"
                  ng-click="showFiltersOptions = !showFiltersOptions"
                  ng-class="{active: showFiltersOptions}">
            <i class="icon-pin icon-buttons"></i>Filter
          </button>
        </li>
        <li><button class="button last" with-dropdown dropdown-id="settingsDropdown"><i class="icon-settings"></i><i class="icon-pulldown-arrow1 icon-dropdown"></i></button></li>
      </ul>
    </toolbar>
  </div>

  <div class="dropdown dropdown-relative dropdown-anchor-right" id="tasksDropdown">
    <ul class="dropdown-menu">
      <li><a ng-href="" ng-repeat="(id, obj) in projectTypes">{{obj[1]}}</a></li>
    </ul>
  </div>

  <div options-dropdown class="dropdown dropdown-relative dropdown-anchor-right" id="settingsDropdown">
    <ul class="dropdown-menu">
      <li><a href ng-click="showColumnsModal()">Columns…</a></li>
      <li><a href ng-click="showSortingModal()">Sorting…</a></li>
      <li><a href ng-click="showGroupingModal()">Group by ...</a></li>
      <li><a href ng-click="toggleDisplaySums()">Display sums</a></li>
      <li class="dropdown-divider"></li>
      <li><a href ng-click="showSaveModal()">Save</a></li>
      <li><a href ng-click="showSaveModal(true)">Save as</a></li>
      <li><a href ng-click="showExportModal()">Export</a></li>
      <li ng-show="!query.isNew()"><a href ng-click="showShareModal()">Share</a></li>
      <li><a href ng-click="showSettingsModal()">Page settings</a></li>
    </ul>
  </div>

  <div class="title-bar" ng-show="showFiltersOptions">
    <div class="title-bar-extras">
      <%= error_messages_for 'query' %>
      <%= render partial: 'query_form', locals: { project: project, query: query } %>
    </div>
  </div>

  <% if query.valid? %>
    <%= render :partial => 'work_packages/list', :locals => { :query => query } %>
  <% end %>
</div>

<%= call_hook(:view_work_packages_index_bottom, { :project => project, :query => query }) %>

<% content_for :sidebar do %>
  <%= render :partial => 'sidebar' %>
<% end %>

<% content_for :header_tags do %>
  <%= auto_discovery_link_tag(:atom, {:query_id => query, :format => 'atom', :page => nil, :key => User.current.rss_key}, :title => l(:label_work_package_plural)) %>
  <%= auto_discovery_link_tag(:atom, {:controller => '/journals', :action => 'index', :query_id => query, :format => 'atom', :page => nil, :key => User.current.rss_key}, :title => l(:label_changes_details)) %>
<% end %>
