<%#-- copyright
OpenProject is a project management system.
Copyright (C) 2012-2015 the OpenProject Foundation (OPF)

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 3.

OpenProject is a fork of ChiliProject, which is a fork of Redmine. The copyright follows:
Copyright (C) 2006-2013 Jean-Philippe Lang
Copyright (C) 2010-2013 the ChiliProject Team

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.

See doc/COPYRIGHT.rdoc for more details.

++#%>

<% html_title l(:label_work_package_new) %>
<%= toolbar title: l(:label_work_package_new) %>

<%= labelled_tabular_form_for work_package,
                              :url => project_work_packages_path(project),
                              :html => { :multipart => true,
                                         :id => 'work_package-form',
                                         :class => 'new-work_package-form form' } do |f| %>

  <%= error_messages_for :object => work_package %>

  <%= render :partial => 'form', :locals => { :f => f,
                                              :work_package => work_package,
                                              :project => project,
                                              :priorities => priorities,
                                              :user => user } %>

  <hr class="form--separator -invisible">

  <%= send_notification_option(params['send_notification'] != '0') %>

  <%= f.button l(:button_create), :class => "button -highlight -with-icon icon-yes" %>
  <!-- not supported by controller for now -->
  <%= link_to_work_package_preview(project) %>

  <%= javascript_tag "Form.Element.focus('#{f.object_name}_subject');" %>
<% end %>

<div id="preview"></div>

<% content_for :header_tags do %>
  <%= robot_exclusion_tag %>
<% end %>
