<%#-- copyright
OpenProject PDF Export Plugin

Copyright (C)2014 the OpenProject Foundation (OPF)

This program is free software; you can redistribute it and/or modify it under
the terms of the GNU General Public License version 3.

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.

See doc/COPYRIGHT.md for more details.

++#%>


<div class="box tabular">
<p><%= f.error_messages %></p>
<!--[form:export_card_configuration]-->
<p><%= f.text_field :name, :required => true %></p>
<p><%= f.text_area :description, :class => "wiki-edit" %></p>
<p><%= f.text_field :per_page, :required => true %></p>
<p><%= f.text_field :page_size, :required => true, :value => "A4", :readonly => true %></p>
<P><%= f.select :orientation, [:landscape, :portrait], :required => true %></p>

<!-- Hack alert: This is stolen from the HTML produced by the work package descripion RTF editor. -->
<div class="jstElements">
  <div class="help"><a href="https://github.com/finnlabs/openproject-pdf_export#usage" class="icon icon-help" onclick="window.open(&quot;https://github.com/finnlabs/openproject-pdf_export#usage&quot;, &quot;&quot;, &quot;resizable=yes, location=no, width=800, height=800, menubar=no, status=no, scrollbars=yes&quot;); return false;">Rows Formatting</a></div>
  <span><br><br></span>
</div>
<p>
<%= f.text_area :rows, :required => true %>
</p>

<!--[eoform:export_card_configuration]-->
</div>
<%= submit_tag l(@config.new_record? ? :button_create : :button_save) %>
