<%#-- copyright
OpenProject is an open source project management software.
Copyright (C) 2012-2020 the OpenProject GmbH

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 3.

OpenProject is a fork of ChiliProject, which is a fork of Redmine. The copyright follows:
Copyright (C) 2006-2017 Jean-Philippe Lang
Copyright (C) 2010-2013 the ChiliProject Team

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.

See docs/COPYRIGHT.rdoc for more details.

++#%>

<ul id="costReportsMenu">
  <% [:private, :public].each do |report_type| %>
    <% queries = respond_to?(:"#{report_type}_queries") ? send(:"#{report_type}_queries") : [] %>
    <% if queries.any? %>
      <ul id='<%= "#{report_type}_sidebar_report_list" %>'
          class="report_list list wp-query-menu--search-ul wp-query-menu--search-container"
          data-update-url="<%= url_for(:action => :display_report_list, :report_type => report_type) %>">
        <a tabindex="0"
           class="wp-query-menu--category-icon wp-query-menu--category-toggle"
           data-category="<% report_type %>"
           aria-hidden="true"></a>
        <li class="ui-autocomplete--category wp-query-menu--category-toggle ellipsis"
            title="<%= l(:"label_#{report_type}_report_plural") %>"
            data-category="<% report_type %>">
          <%= l(:"label_#{report_type}_report_plural") %>
        </li>
        <% queries.each do |query| -%>
          <li class="ui-menu-item wp-query-menu--item">
            <%= link_to(h(query.name),
                {:controller => 'cost_reports', :action => 'show', :id => query.id},
                :class => 'wp-query-menu--item-link') %>
          </li>
        <% end -%>
      </ul>
    <% end -%>
  <% end %>
</ul>

