<li class="op-activity-list--item">
  <div class="op-activity-list--item-title">
    <%= link_to @event.event_title.squish, @event.event_path %>
    <%= project_suffix %>
  </div>
  <%=
    render(Activities::ItemSubtitleComponent.new(user: display_user? && @event.event_author,
                                             datetime: @event.event_datetime,
                                             is_creation: @event.journal.initial?))
  %>
  <% if comment.present? -%>
    <ul class="op-activity-list--item-details">
      <li class="op-activity-list--item-detail">
        <strong><%= t('label_comment_added') %></strong>
        <p class="op-uc-p"><%= helpers.truncate_formatted_text(comment) %></p>
      </li>
    </ul>
  <% end -%>
  <% if description.present? -%>
    <div class="op-activity-list--item-description">
      <%= helpers.truncate_formatted_text(description) %>
    </div>
  <% end -%>
  <% if display_details? -%>
    <ul class="op-activity-list--item-details">
      <% rendered_details.each do |detail| -%>
        <li class="op-activity-list--item-detail"><%= detail %></li>
      <% end -%>
    </ul>
  <% end -%>
</li>
