<%= stylesheet_link_tag 'bcf/bcf.css' %>
<%= toolbar title: t('bcf.bcf_xml.import_title') %>

<p><%= t('bcf.bcf_xml.import.num_issues_found', x_bcf_issues: t('bcf.x_bcf_issues', count: @listing.count)) %></p>

<% @listing.each do |entry| %>
  <% issue = @issues.detect { |bcf| bcf.uuid == entry[:uuid] } %>

  <div class="bcf--import-listing">
    <h3><%= entry[:title] %></h3>
    <table class="attributes-table">
      <thead>
        <tr>
          <th>Work package</th>
          <th>Title</th>
          <th>Status</th>
          <th>Priority</th>
          <th>Assignee</th>
          <th>Due date</th>
          <th># Viewpoints</th>
          <th># Comments</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <% if issue && issue.work_package %>
            <td><%= link_to_work_package issue.work_package %></td>
          <% else  %>
            <td>(will be created)</td>
          <% end %>
          <td><%= entry[:title] || '-' %></td>
          <td><%= entry[:status] || '-' %></td>
          <td><%= entry[:priority] || '-' %></td>
          <td><%= entry[:assignee] || '-' %></td>
          <td><%= format_date(entry[:due_date]) || '-' %></td>
          <td><%= entry[:viewpoint_count] %></td>
          <td><%= entry[:comments_count] %></td>
        </tr>
        <% if issue&.work_package %>
          <td></td>
          <td><%= issue.work_package.subject %></td>
          <td><%= issue.work_package.status.name %></td>
          <td><%= issue.work_package.priority.name %></td>
          <td><%= issue.work_package.assigned_to&.name %></td>
          <td><%= format_date(issue.work_package.due_date) %></td>
          <td><%= issue.viewpoints.count %></td>
          <td><%= issue.comments.count %></td>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>

<%= form_tag({ action: :perform_import }, multipart: true, method: :post) do %>
  <p><%= t('bcf.bcf_xml.import.perform_description') %></p>
  <%= submit_tag t('bcf.bcf_xml.import.button_perform_import'), class: 'button -highlight' %>
  <%= link_to t(:button_cancel),
              { action: :index },
              class: 'button' %>
<% end %>
