<%#-- copyright
OpenProject My Project Page Plugin

Copyright (C) 2011-2014 the OpenProject Foundation (OPF)

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 3.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.

See doc/COPYRIGHT.md for more details.

++#%>

<div id="block_<%= block_name.dasherize %>" class="mypage-box">
  <div class="handle">
    <% content_for block_name do %>
        <div id="<%= block_name %>-form-div" style="display: none;">
          <div class="box-actions">
            <a href="#" onclick="return resetTextilizable('<%= block_name %>');"
               class="icon icon-cancel"><%= l(:button_cancel) %></a>

            <a href="#" onclick="return saveTextilizable('<%= block_name %>');"
               class="icon icon-save1"><%= l(:button_save) %></a>
          </div>
          <div style="clear: right;"></div>
            <%= form_for :overview,
                         :url => {:action => 'update_custom_element'},
                         :html => {:id => "block_form_#{block_name.dasherize}",
                                   :class => nil,
                                   :method => :put,
                                   :multipart => true} do |f| %>

              <%= hidden_field_tag 'block_name', block_name %>
              <%= text_field_tag "block_title_#{block_name}", block_title %>
              <%= text_area_tag "textile_#{block_name}", textile, :cols => 40, :rows => 5, :class => 'wiki-edit' %>
              <%= wikitoolbar_for "textile_#{block_name}" %>
              <%= submit_tag l(:button_save),
              :id => "#{block_name}-form-submit", :style => "display:none;" %>
            <p><label><%=l(:label_attachment_plural)%></label><br />
              <%= render :partial => 'attachments/form' %>
            </p>
          <% end %>
        </div>
        <div id="<%= block_name %>-preview-div" class="wiki">
          <div class="box-actions">
            <a href="#" onclick="return editTextilizable('<%= block_name %>');"
               class="icon icon-edit"><%= l(:button_edit) %></a>

            <%= link_to_remote l(:button_delete), {
                  :confirm => l(:label_confirm_delete),
                  :url => { :action => "remove_block", :block => block_name },
                  :complete => "removeBlock('block_#{block_name.dasherize}')" },
                :class => "icon icon-delete"
                %>
          </div>
        </div>
    <% end %>
    <%= render :partial => "textilizable",
               :locals => { :block_title => block_title,
                            :textile => textile,
                            :block_name => block_name }
          %>
  </div>
</div>
