<%#-- copyright
OpenProject My Project Page Plugin

Copyright (C) 2011-2014 the OpenProject Foundation (OPF)

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 3.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.

See doc/COPYRIGHT.md for more details.

++#%>

<% content_for :header_tags do %>
  <%= javascript_include_tag "my_project_page/my_project_page" %>
  <%= auto_discovery_link_tag(:atom, {:controller => 'activities',  :action => 'index', :id => @project, :format => 'atom', :key => User.current.rss_key}) %>
  <%= stylesheet_link_tag "my_project_page/my_projects_overview", :media => 'all' %>
<% end %>

<% html_title(l(:label_overview)) -%>

<%= toolbar title: l(:label_overview) do %>
  <% if User.current.allowed_to?(:edit_project, project) %>
    <li class="toolbar-item" title="<%= l(:label_personalize_page) %>">
      <%= link_to my_projects_overview_path(project), class: 'button', accesskey: accesskey(:edit) do %>
        <i class="icon-settings"></i>
        <span class="hidden-for-sighted"><%= l(:label_personalize_page) %></span>
      <% end %>
    </li>
  <% end %>
<% end %>

<div id="invisible-grid">
  <div class="grid-block medium-up-1">
    <% top_fields.each do |f| %>
      <%= rendered_field f %>
    <% end %>
  </div>
  <div class="grid-block medium-up-2">
    <% middle_fields.each do |f| %>
      <%= rendered_field f %>
    <% end %>
  </div>
</div>

<% content_for :sidebar do %>
  <% if total_hours.present? %>
    <h3><%= l(:label_spent_time) %></h3>
    <p><span class="icon icon-time"><%= l_hours(total_hours) %></span></p>
    <p>
      <%= link_to(l(:label_details), {:controller => 'timelog', :action => 'index', :project_id => project}) %> |

      <%= link_to(l(:label_report), {:controller => 'time_entry_reports', :action => 'report', :project_id => project}) %>
      <% if authorize_for('timelog', 'new') %>
        | <%= link_to l(:button_log_time), {:controller => 'timelog', :action => 'new', :project_id => project} %>
      <% end %>
    </p>
  <% end %>
  <%= call_hook(:view_projects_show_sidebar_bottom, :project => project) %>
<% end %>
