<%#-- copyright
OpenProject is a project management system.

Copyright (C) 2012-2013 the OpenProject Team

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 3.

See doc/COPYRIGHT.rdoc for more details.

++#%>

<h2><%=l(:label_summary)%></h2>

<div class="splitcontentleft">
<%
{ 'type' => { :rows => @types, :data => @issues_by_type, :name => "type_id" },
  'priority' => { :rows => @priorities, :data => @issues_by_priority, :name => "priority_id" },
  'assigned_to' => { :rows => @assignees, :data => @issues_by_assigned_to, :name => "assigned_to_id" },
  'author' => { :rows => @authors, :data => @issues_by_author, :name => "author_id" }
}.each do |detail, variables| %>

  <%= render :partial => 'report_category', :locals => { :detail => detail,
                                                         :data => variables[:data],
                                                         :field_name => variables[:name],
                                                         :rows => variables[:rows] } %>
<% end %>
<%= call_hook(:view_reports_issue_report_split_content_left, :project => @project) %>
</div>

<div class="splitcontentright">
<%
details = {'version' => { :rows => @versions, :data => @version, :name => "fixed_version_id" } }
if @project.children.any?
  details['subproject'] = { :data => @issues_by_subproject, :name => "project_id", :rows => @subprojects }
end
details['category'] = { :data => @issues_by_category, :name => "category_id", :rows => @categories }
%>

<% details.each do |detail, variables| %>
  <%= render :partial => 'report_category', :locals => { :detail => detail,
                                                         :data => variables[:data],
                                                         :field_name => variables[:name],
                                                         :rows => variables[:rows] } %>
  <br />
<% end %>
<%= call_hook(:view_reports_issue_report_split_content_right, :project => @project) %>
</div>

