<%#-- copyright
OpenProject is an open source project management software.
Copyright (C) 2012-2023 the OpenProject GmbH

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 3.

OpenProject is a fork of ChiliProject, which is a fork of Redmine. The copyright follows:
Copyright (C) 2006-2013 Jean-Philippe Lang
Copyright (C) 2010-2013 the ChiliProject Team

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.

See COPYRIGHT and LICENSE files for more details.

++#%>
<%= component_wrapper(class: "d-flex flex-justify-between my-3 flex-items-start") do %>
  <div>
    <div>
      <%= 
        render(Primer::Beta::Text.new(font_size: :normal, font_weight: :bold)) do 
          "#{@meeting.title}" 
        end
      %>
      <%=
        render(Primer::Beta::Counter.new(scheme: :primary, count: count_active_work_package_references_in_meeting || 0, hide_if_zero: true))
      %>
    </div>
    <div>
      <%= 
        render(Primer::Beta::Text.new(font_size: :small, color: :muted)) do 
          "created by #{@meeting.author.name}" 
        end 
      %>
    </div>
  </div>
  <div class="d-flex flex-items-center">
    <div class="px-3">
      <%= 
        render(Primer::Beta::Text.new(font_size: :small, color: :subtle)) do 
          "#{format_date(@meeting.start_time)} #{format_time(@meeting.start_time, false)} - #{format_time(@meeting.end_time, false)}"
        end 
      %>  
    </div>
    <%= form_with( 
        url: show_in_wp_tab_meeting_path(@meeting, work_package_id: @active_work_package&.id), 
        method: :get, 
        data: { "turbo-stream": true } 
      ) do |form| %>
        <%= 
          render(Primer::Beta::IconButton.new(
            mr: 2,
            size: :medium,
            disabled: false,
            icon: "list-ordered",
            show_tooltip: true,
            type: :submit,
            "aria-label": "Show agenda"
          ))
        %>
      <% end %>
  </div>
<% end %>
  

