<table cellpadding="12px" width="100%" style="border: 1px solid #E0E0E0;
              border-radius: 10px;">
  <tr>
    <td>
      <a style="
        text-decoration: none;
        display: block;"
         href="<%= notifications_path(work_package.id) %>"
         target="_blank">
        <table width="100%" border="0" cellpadding="0" cellspacing="0" style="margin-bottom: 9px; font-size: 14px;">
          <tr>
            <td style="color: #333333;
              background-color: #FFFFFF;
              <%= status_colors(work_package.status) %>
              white-space: nowrap;
              padding: 2px 12px;
              height: 18px;">
              <%= work_package.status %>
            </td>
            <td width="100%" style="padding-left: 8px;
                                    color: #878787;">

              #<%= work_package.id %> - <%= work_package.project %>
              <% unique_reasons = unique_reasons_of_notifications(notifications_by_work_package) %>
              <%=  ' - ' unless unique_reasons.length === 1 && unique_reasons.first.nil? %>
              <% unique_reasons.each_with_index do |reason, index| %>
                <%= I18n.t(
                      :"mail.digests.work_packages.reason.#{reason || :unknown}",
                      default: '') %><%= ', ' unless unique_reasons.size-1 == index  %>
              <% end %>
            </td>
            <td style="text-align: right;background-color: #00A3FF;
                      color: white;
                      border-radius: 8px;
                      padding: 2px 8px;
                      font-size: 14px;
                      height: 18px;">
               <%= notifications_by_work_package.length %>
            </td>
          </tr>
        </table>
        <table width="100%" border="0" cellpadding="0" cellspacing="0" style="margin-bottom: 9px; font-size: 16px; font-weight: bold;">
          <tr>
            <td style="color: <%= type_color(work_package.type, '#333333') %>;
                       white-space: nowrap;">
              <%= work_package.type.to_s.upcase %>
            </td>
            <td width="100%" style="padding-left: 5px; color: #333333;">
              <%= work_package.subject %>
            </td>
          </tr>
        </table>

        <%= yield %>
      </a>

    </td>
  </tr>
</table>

<br/>