<a style="text-decoration: none;display: block;"
   href="<%= local_assigns[:notification_url] || notifications_path(work_package.id) %>"
   target="_blank">
  <%= render layout: 'mailer/border_table' do %>
    <tr>
      <td>
        <table <%= placeholder_table_styles(width:'100%',style: 'width:100%;font-size:14px;') %>>
          <tr>
            <%= placeholder_cell('12px', vertical: true) %>
            <td>
              <table <%= placeholder_table_styles %>>
                <tr>
                  <td>
                    <table <%= placeholder_table_styles %>>
                      <tr>
                        <td style="color: #333333;
                          background-color: #FFFFFF;
                          <%= status_colors(work_package.status) %>
                          white-space: nowrap;
                          padding: 2px 12px;
                          height: 18px;
                          border-radius:2px;">
                          <%= work_package.status %>
                        </td>
                      </tr>
                    </table>
                  </td>
                  <%= placeholder_cell('8px', vertical: true) %>
                  <td width="100%" style="color: #878787;">
                    #<%= work_package.id %> - <%= work_package.project %>
                    <%=  ' - ' unless unique_reasons.length === 1 && unique_reasons.first.nil? %>
                    <% unique_reasons.each_with_index do |reason, index| %>
                      <%= I18n.t(
                            :"mail.work_packages.reason.#{reason || :unknown}",
                            default: '') %><%= ', ' unless unique_reasons.size-1 == index  %>
                    <% end %>
                  </td>
                  <td>
                    <table <%= placeholder_table_styles %>>
                      <tr>
                        <% if show_count  %>
                          <td style="background-color: #00A3FF;
                            color: white;
                            border-radius: 10px;
                            padding: 2px 8px;
                            font-size: 14px;
                            height: 18px;
                            line-height: 18px;">
                            <%= count %>
                          </td>
                        <% end %>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </td>
            <%= placeholder_cell('12px', vertical: true) %>
          </tr>
          <tr>
            <%= placeholder_cell('12px', vertical: true) %>
            <%= placeholder_cell('16px', vertical: false) %>
            <%= placeholder_cell('12px', vertical: true) %>
          </tr>
          <tr>
            <%= placeholder_cell('12px', vertical: true) %>
            <td>
              <table <%= placeholder_table_styles(style: 'font-size:16px;font-weight:bold') %>>
                <tr>
                  <td style="color: <%= type_color(work_package.type, '#333333') %>;white-space: nowrap;">
                    <%= work_package.type.to_s.upcase %>
                  </td>
                  <%= placeholder_cell('4px', vertical: true) %>
                  <td width="100%" style="color: #333333;">
                    <%= work_package.subject %>
                  </td>
                </tr>
              </table>
            </td>
            <%= placeholder_cell('12px', vertical: true) %>
          </tr>
          <tr>
            <%= placeholder_cell('12px', vertical: true) %>
            <%= placeholder_cell('12px', vertical: false) %>
            <%= placeholder_cell('12px', vertical: true) %>
          </tr>
          <tr>
            <%= placeholder_cell('12px', vertical: true) %>
            <td><%= yield %></td>
            <%= placeholder_cell('12px', vertical: true) %>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <%= placeholder_cell('12px', vertical: false) %>
    </tr>
  <% end %>
</a>

<table>
  <tr>
    <%= placeholder_cell('0px', vertical: false) %>
  </tr>
</table>

<a style="margin-left: 12px;"
   href="<%= defined?(open_in_browser_path) ? open_in_browser_path : notifications_path(work_package.id) %>"
   target="_blank"
   rel="noopener noreferrer">
  <%= I18n.t('mail.work_packages.open_in_browser') %>
</a>

<table>
  <tr>
    <%= placeholder_cell('20px', vertical: false) %>
  </tr>
</table>
