<table <%= placeholder_table_styles %>>
  <tr>
    <%= placeholder_cell('20px', vertical: false) %>
  </tr>
</table>

<table <%= placeholder_table_styles(width:'100%',style: 'width:100%;max-width:700px;') %>>
  <tr>
    <%= placeholder_cell('12px', vertical: true) %>
    <td>
      <%= yield %>

      <table>
        <tr>
          <%= placeholder_cell('40px', vertical: false) %>
        </tr>
      </table>
    </td>
    <%= placeholder_cell('12px', vertical: true) %>
  </tr>
</table>
