<%#-- copyright
OpenProject is a project management system.
Copyright (C) 2012-2017 the OpenProject Foundation (OPF)

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 3.

OpenProject is a fork of ChiliProject, which is a fork of Redmine. The copyright follows:
Copyright (C) 2006-2017 Jean-Philippe Lang
Copyright (C) 2010-2013 the ChiliProject Team

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.

See doc/COPYRIGHT.rdoc for more details.

++#%>

<section class="form--section">
  <div class="grid-block wrap">
    <div class="grid-content small-12 large-6">
      <div id="types-form-configuration" ng-controller="TypesFormConfigurationCtrl">
        <p><%= I18n.t('text_form_configuration') %></p>

        <button class="button"><i class="button--icon icon-add"></i> Add Group</button>
        <button class="button"><i class="button--icon icon-undo"></i> Reset to defaults</button>

        <div dragula="'groups'">

          <% attributes = ::TypesHelper
            .work_package_form_attributes(merge_date: true)
            .reject { |name, attr|
              # display all custom fields     don't display required fields without a default
              not name =~ /custom_field_/ and (attr[:required] and not attr[:has_default])
            }
          keys = attributes.keys.sort_by do |name|
            translated_attribute_name(name, attributes[name])
          end %>
          
          <% @type.attribute_groups.each do |group_name, group_attributes| %>
            <div class="type-form-conf-group">
              <div class="group-head">
                <span class="group-handle">&#xe0b5;</span>
                <span class="group-name"><%= group_name %></span>

                <div class="attribute-visibility">
                  <%= I18n.t('label_always_visible') %>
                  <span class="delete-group icon icon-close"></span>
                </div>
              </div>
              <div class="attributes" dragula="'attributes'">
                <% group_attributes.each do |name| %>
                  <% next if (
                    [ nil,
                      'default',
                      'visible' ].exclude?(attr_visibility(name, @type)) ||
                    attributes[name].nil?
                  ) %>
                  <div class="type-form-conf-attribute">
                    <span class="attribute-handle">&#xe0b5;</span>
                    <span class="attribute-name">
                      <%= translated_attribute_name(name, attributes[name]) %>
                    </span>

                    <div class="attribute-visibility">
                      <%= check_box_tag "type[attribute_visibility][#{name}]",
                        'visible',
                        attr_visibility(name, @type) == 'visible',
                        id: "type_attribute_visibility_visible_#{name}",
                        title: I18n.t('tooltip.attribute_visibility.visible') %>
                      <span class="delete-group icon icon-close"></span>
                    </div>
                  </div>
                <% end %>
              </div>
            </div> <!-- END attribute group -->
          <% end %>

          <div class="type-form-conf-inactive-group">
            <div class="group-head">
              <span class="group-name">Inactive attributes</span>
              <span class="advice">(Drag attributes from here to activate them)</span>
            </div>
            <div class="attributes" dragula="'attributes'">
              <% keys.each do |name| %>
                <% next if ([nil, 'default', 'visible'].include?(
                    attr_visibility(name, @type))) %>
                <div class="type-form-conf-attribute">
                  <span class="attribute-handle">&#xe0b5;</span>
                  <span class="attribute-name">
                    <%= translated_attribute_name(name, attributes[name]) %>
                  </span>

                  <div class="attribute-visibility hidden">
                    <%= check_box_tag "type[attribute_visibility][#{name}]",
                                      'visible',
                                      attr_visibility(name, @type) == 'visible',
                                      id: "type_attribute_visibility_visible_#{name}",
                                      title: I18n.t('tooltip.attribute_visibility.visible') %>
                    <span class="delete-group icon icon-close"></span>
                  </div>
                </div>
              <% end %>
            </div>
          </div>

        </types-form-configuration> <!-- END type form configurator -->
      </div>
    </div>
  </div>
</section>

<div class="grid-block">
  <div class="generic-table--action-buttons">
  <%= styled_button_tag t(@type.new_record? ? :button_create : :button_save),
      class: '-highlight -with-icon icon-checkmark' %>
  </div>
</div>
