<%#-- copyright
OpenProject is a project management system.
Copyright (C) 2012-2017 the OpenProject Foundation (OPF)

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 3.

OpenProject is a fork of ChiliProject, which is a fork of Redmine. The copyright follows:
Copyright (C) 2006-2017 Jean-Philippe Lang
Copyright (C) 2010-2013 the ChiliProject Team

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.

See doc/COPYRIGHT.rdoc for more details.

++#%>

<section class="form--section">
  <div class="grid-block wrap">
    <div class="grid-content small-12 large-6">

      <%= f.hidden_field :attribute_groups, value: @type.attribute_groups.to_json %>
      <%= f.hidden_field :attribute_visibility, value: @type.attribute_visibility.to_json %>

      <div id="types-form-configuration" ng-controller="TypesFormConfigurationCtrl">
        <p><%= I18n.t('text_form_configuration') %></p>

        <button type="button" class="button" ng-click="addGroup($event)"><i class="button--icon icon-add"></i> Add Group</button>
        <button type="button" class="button" ng-click="resetToDefault($event)"><i class="button--icon icon-undo"></i> Reset to defaults</button>

        <div id="type-form-conf-group-template" class="type-form-conf-group" data-key="">
          <div class="group-head">
            <span class="group-handle">&#xe0b5;</span>
            <span class="group-name"></span>

            <div class="attribute-visibility">
              <%= I18n.t('label_always_visible') %>
              <span class="delete-group icon icon-close" ng-click="deleteGroup($event)"></span>
            </div>
          </div>
          <div class="attributes" dragula='"attributes"'>
          </div>
        </div>

        <div id="draggable-groups" dragula='"groups"'>
          <% form_configuration_groups(@type)[:actives].each do |group, attributes| %>
            <div class="type-form-conf-group" data-key="<%= group[:key] %>">
              <div class="group-head">
                <span class="group-handle">&#xe0b5;</span>
                <span class="group-name"><%= group[:translation] %></span>

                <div class="attribute-visibility">
                  <%= I18n.t('label_always_visible') %>
                  <span class="delete-group icon icon-close" ng-click="deleteGroup($event)"></span>
                </div>
              </div>
              <div class="attributes" dragula='"attributes"'>
                <% attributes.each do |attribute| %>
                  <div class="type-form-conf-attribute" data-key="<%= attribute[:key] %>">
                    <span class="attribute-handle">&#xe0b5;</span>
                    <span class="attribute-name">
                      <%= attribute[:translation] %>
                    </span>

                    <div class="attribute-visibility">
                      <%= check_box_tag "",
                        'visible',
                        attribute[:always_visible],
                        title: I18n.t('tooltip.attribute_visibility.visible'),
                        'ng-click': "updateHiddenFields()" %>
                      <span class="delete-group icon icon-close" ng-click="deactivateAttribute($event)"></span>
                    </div>
                  </div>
                <% end %>
              </div>
            </div> <!-- END attribute group -->
          <% end %>
        </div>
        <div id="type-form-conf-inactive-group">
          <div class="group-head">
            <span class="group-name"><%= t(:label_inactive) %></span>
            <span class="advice">(Drag attributes from here to activate them)</span>
          </div>
          <div class="attributes" dragula='"attributes"'>
            <% form_configuration_groups(@type)[:inactives].each do |inactive_attribute| %>
              <div class="type-form-conf-attribute" data-key="<%= inactive_attribute[:key] %>">
                <span class="attribute-handle">&#xe0b5;</span>
                <span class="attribute-name">
                  <%= inactive_attribute[:translation] %>
                </span>

                <div class="attribute-visibility">
                  <%= check_box_tag "",
                                    'hidden',
                                    false,
                                    title: I18n.t('tooltip.attribute_visibility.visible'),
                                    'ng-click': "updateHiddenFields()" %>
                  <span class="delete-group icon icon-close" ng-click="deactivateAttribute($event)"></span>
                </div>
              </div>
            <% end %>
          </div>
        </div><!-- END type form configurator -->
      </div>
    </div>
  </div>
</section>

<div class="grid-block">
  <div class="generic-table--action-buttons">
  <%= styled_button_tag t(@type.new_record? ? :button_create : :button_save),
      class: '-highlight -with-icon icon-checkmark' %>
  </div>
</div>
