<% content_for :header_tags do %>
<%= javascript_include_tag "global_roles", :plugin => "redmine_global_roles"%>
<% end %>

<h2><%= link_to l(:label_role_plural), :controller => 'roles', :action => 'index' %> &#187; <%=l(:label_role_edit)%></h2>

<% labelled_tabular_form_for :role, @role, :url => { :action => 'update' }, :html => {:id => 'role_form'} do |f| %>
<%= hidden_field_tag :id, @role.id %>
<%= render :partial => 'form', :locals => { :f => f , :role => @role, :member_permissions => (@role.is_a?(GlobalRole) ? nil : @permissions),
:global_permissions => (@role.is_a?(GlobalRole) ? @permissions : nil)} %>
<%= submit_tag l(:button_update) %>
<% end %>