<%#-- copyright
OpenProject is a project management system.

Copyright (C) 2010-2013 the OpenProject Foundation (OPF)

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 3.

See doc/COPYRIGHT.rdoc for more details.

++#%>

<h2><%= link_to Role.model_name.human(:count => 2), roles_path %> &#187; <%=h @role.name %></h2>

<%= labelled_tabular_form_for @role, :url => { :action => 'update' }, :html => {:id => 'role_form'}, :as => :role do |f| %>
<%= hidden_field_tag :id, @role.id %>
<%= render :partial => 'form', :locals => { :f => f , :role => @role, :member_permissions => (@role.is_a?(GlobalRole) ? nil : @permissions),
:global_permissions => (@role.is_a?(GlobalRole) ? @permissions : nil)} %>
<%= submit_tag l(:button_save) %>
<% end %>
