<div class="contextual">
<%= link_to l(:label_role_new), {:action => 'new'}, :class => 'icon icon-add' %>
</div>

<h2><%=l(:label_role_plural)%></h2>

<table class="list">
  <thead><tr>
    <th><%=l(:label_role)%></th>
		<th><%=l(:label_global)%></th>
    <th><%=l(:button_sort)%></th>
	<th></th>
  </tr></thead>
  <tbody>
<% for role in @roles %>
  <tr class="<%= cycle("odd", "even") %>">
  <td><%= content_tag(role.is_a?(Role) && role.builtin? ? 'em' : 'span', link_to(role.name, :action => 'edit', :id => role)) %></td>
	<td align="center" style="width:15%;">
		<%= image_tag('true.png') if role.is_a?(GlobalRole) %>
	</td>
	<td align="center" style="width:15%;">
  <% unless role.is_a?(Role) && role.builtin? %>
    <%= reorder_links('role', {:action => 'edit', :id => role}) %>
  <% end %>
  </td>
  <td class="buttons">
    <%= link_to(l(:button_delete), { :action => 'destroy', :id => role, :class => role.class },
    															:method => :post,
    															:confirm => l(:text_are_you_sure),
    															:class => 'icon icon-del') unless role.is_a?(Role) && role.builtin? %>
  </td>
  </tr>
<% end %>
  </tbody>
</table>

<p><%= link_to l(:label_permissions_report), :action => 'report' %></p>

<% html_title(l(:label_role_plural)) -%>
