<%#-- copyright
OpenProject is a project management system.

Copyright (C) 2010-2013 the OpenProject Team

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 3.

See doc/COPYRIGHT.rdoc for more details.

++#%>

<h2><%= link_to Role.model_name.human(:count => 2), :controller => 'roles', :action => 'index' %> &#187; <%=l(:label_role_new)%></h2>

<%= labelled_tabular_form_for @role, :url => { :action => 'create' }, :html => {:id => 'role_form'}, :as => :role do |f| %>
<%= render :partial => 'form', :locals => { :f => f, :role => @role, :member_role => @member_role, :global_role => @global_role, :roles => @roles,  :member_permissions => @member_permissions, :global_permissions => @global_permissions} %>
<%= submit_tag l(:button_create) %>
<% end %>
