<h2><%=h @issue.tracker %> #<%= @issue.id %></h2>
<p><%= authoring @journal.created_on, @journal.user, :label => :label_updated_time_by %></p>

<div class="text-diff">
<%= simple_format_without_paragraph @diff.to_html %>
</div>

<p><%= link_to l(:button_back), issue_path(@issue), :onclick => 'history.back(); return false;' %></p>

<% html_title "#{@issue.tracker.name} ##{@issue.id}: #{@issue.subject}" %>
