<%#-- copyright
OpenProject is an open source project management software.
Copyright (C) 2012-2020 the OpenProject GmbH

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 3.

OpenProject is a fork of ChiliProject, which is a fork of Redmine. The copyright follows:
Copyright (C) 2006-2017 Jean-Philippe Lang
Copyright (C) 2010-2013 the ChiliProject Team

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.

See docs/COPYRIGHT.rdoc for more details.

++#%>
<span hidden><%= augur_content_security_policy %></span>

<p>
  <b><%= t('js.admin.enterprise.upsale.become_hero') %></b> <%= t('js.admin.enterprise.upsale.you_contribute') %>
</p>

<enterprise></enterprise>

<div class="info-boxes upsale-benefits">
  <h2>What are the benefits</h2>
  <div class="info-boxes--container">
    <div class="info-boxes--item">
      <header>
        <%= image_tag "", class: "info-boxes--teaser-image" %>
        <h3><%= t('js.admin.enterprise.upsale.benefits.installation') %></h3>
      </header>
      <p><%= t('js.admin.enterprise.upsale.benefits.installation_text') %></p>
      <ul class="widget-box--arrow-links">
        <li><a><%= t('js.label_learn_more_link') %></a></li>
      </ul>
    </div>
    <div class="info-boxes--item">
      <header>
        <%= image_tag "", class: "info-boxes--teaser-image" %>
        <h3><%= t('js.admin.enterprise.upsale.benefits.professional_support') %></h3>
      </header>
      <p><%= t('js.admin.enterprise.upsale.benefits.professional_support_text') %></p>
      <ul class="widget-box--arrow-links">
        <li><a><%= t('js.label_learn_more_link') %></a></li>
      </ul>
    </div>
    <div class="info-boxes--item">
      <header>
        <%= image_tag "", class: "info-boxes--teaser-image" %>
        <h3><%= t('js.admin.enterprise.upsale.benefits.premium_features') %></h3>
      </header>
      <p><%= t('js.admin.enterprise.upsale.benefits.premium_features_text') %></p>
      <ul class="widget-box--arrow-links">
        <li><a><%= t('js.label_learn_more_link') %></a></li>
      </ul>
    </div>
    <div class="info-boxes--item">
      <header>
        <%= image_tag "", class: "info-boxes--teaser-image" %>
        <h3><%= t('js.admin.enterprise.upsale.benefits.high_security') %></h3>
      </header>
      <p><%= t('js.admin.enterprise.upsale.benefits.high_security_text') %></p>
      <ul class="widget-box--arrow-links">
        <li><a><%= t('js.label_learn_more_link') %></a></li>
      </ul>
    </div>
  </div>
</div>
