<% html_title t(:label_administration), t(:label_enterprise_edition) %>

<%= toolbar title: t(:label_enterprise_edition) do %>
  <% if EnterpriseToken.show_banners? %>
    <li class="toolbar-item">
      <%= link_to( "#{OpenProject::Static::Links.links[:upsale][:href]}?utm_source=ce-token-admin",
            { class: 'button -alt-highlight',
              title: t('admin.enterprise.order')}) do %>
        <%= op_icon('button--icon icon-add') %>
        <span class="button--text"><%= t('admin.enterprise.order') %></span>
      <% end %>
    </li>
  <% end %>
<% end %>

<%= error_messages_for 'token' %>

<% if @current_token.present? %>
  <%= render partial: "current" %>
<% else %>
  <div class="notification-box upsale-notification">
    <div class="notification-box--content">
      <h3><%= t('admin.enterprise.upgrade_to_ee') %></h3>
      <%= image_tag "enterprise_edition.png", class: "widget-box--teaser-image" %>

      <p><%= t('homescreen.blocks.upsale.description') %></p>

      <ul class="">
        <li>
          <%= t('homescreen.blocks.upsale.additional_features') %>
        </li>
        <li>
          <%= t('homescreen.blocks.upsale.professional_support') %>
        </li>
      </ul>
      <p>
        <b><%= t('homescreen.blocks.upsale.become_hero') %></b> <%= t('homescreen.blocks.upsale.you_contribute') %>
      </p>
      <%= link_to( "#{OpenProject::Static::Links.links[:upsale][:href]}?utm_source=ce-enterprise-admin",
            { class: 'button -alt-highlight',
              aria: {label: t('admin.enterprise.order')},
              title: t('admin.enterprise.order')}) do %>
        <%= op_icon('button--icon icon-add') %>
        <span class="button--text"><%= t('admin.enterprise.order') %></span>
      <% end %>
    </div>
  </div>
<% end %>

<%= render partial: "form" %>
