<%#-- copyright
OpenProject is a project management system.

Copyright (C) 2012-2013 the OpenProject Team

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 3.

See doc/COPYRIGHT.rdoc for more details.

++#%>

<%= error_messages_for 'scenario' %>

<fieldset class="timelines-scenario-properties">
  <legend><%= l('timelines.properties') %></legend>

  <p>
    <label for="scenario_name">
      <%= Scenario.human_attribute_name(:name) %>
    </label>
    <%= f.text_field :name, :class => 'autofocus' %>
  </p>
</fieldset>

<%= submit_tag l(:button_save) %>
<%= link_to l(:button_cancel), project_settings_path %>
