<%#-- copyright
OpenProject is a project management system.
Copyright (C) 2012-2015 the OpenProject Foundation (OPF)

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 3.

OpenProject is a fork of ChiliProject, which is a fork of Redmine. The copyright follows:
Copyright (C) 2006-2013 Jean-Philippe Lang
Copyright (C) 2010-2013 the ChiliProject Team

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.

See doc/COPYRIGHT.rdoc for more details.

++#%>

<% user_allowed_to_add_watchers = User.current.allowed_to?(:add_work_package_watchers, @project) %>

<div class="attributes-group--header">
  <div class="attributes-group--header-container">
    <h3 class="attributes-group--header-text"><%= l(:label_work_package_watchers) %> (<%= watched.watcher_users.size %>)</h3>
  </div>
  <div class="attributes-group--header-control">
    <% if user_allowed_to_add_watchers %>
      <%= toggle_link icon_wrapper('icon icon-add', l(:button_add_watcher)),
                      'new-watcher-form',
                      { focus: 'watcher_user_id' },
                      { :class => 'no-decoration-on-hover', :title => l(:button_add_watcher) } %>
    <% end %>
  </div>
</div>

<div class="single-attribute">
  <%= watchers_list(watched) %>
  <div class="clearfix"></div>

  <%= labelled_tabular_form_for(:watcher,
              url: watchers_path(watched.class.name.underscore.pluralize, watched),
              method: :post,
              remote: true,
              complete: "Form.Element.focus('watcher_user_id');",
              html: { id: 'new-watcher-form', style: (@watcher ? '' : 'display:none;') }) do |f| %>
    <div class="choice">
      <div class="choice--select">
        <%= f.select :user_id, (watched.addable_watcher_users.collect {|m| [m.name, m.id]}.sort_by{|name, id | name}),
              { :prompt => "--- #{l(:actionview_instancetag_blank_option)} ---", no_label: true } %>

      </div>
      <div class="choice--button">
        <%= styled_button_tag l(:button_add), class: '-highlight -with-icon icon-yes' %>
      </div>
      <div class="choice--button">
        <%= toggle_link l(:button_cancel), 'new-watcher-form', {}, class: 'button' %>
      </div>
    </div>
  <% end %>
</div>
