<%#-- copyright
OpenProject is a project management system.
Copyright (C) 2012-2015 the OpenProject Foundation (OPF)

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 3.

OpenProject is a fork of ChiliProject, which is a fork of Redmine. The copyright follows:
Copyright (C) 2006-2013 Jean-Philippe Lang
Copyright (C) 2010-2013 the ChiliProject Team

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.

See doc/COPYRIGHT.rdoc for more details.

++#%>

<%= error_messages_for 'timeline' %>
<% unless User.current.impaired? %>
  <%# TODO: Require autocompleter inside select_boxes.js
    For lack of a requiring policy (such as requirejs), just include the
    autocompleter on its own.
  %>
  <%= javascript_include_tag "autocompleter.js" %>
  <%= javascript_include_tag "timelines_select_boxes.js" %>
<% end %>

<div class="edit_form">

  <%= render partial: "timelines/general", locals: { timeline: @timeline, f: f }%>

  <%= render partial: "timelines/comparison", locals: { timeline: @timeline, f: f } %>

  <%= render partial: "timelines/vertical_planning_elements", locals: { timeline: @timeline, f: f } %>

  <%= render partial: "timelines/filter/planning_elements", locals: { timeline: @timeline, f: f } %>

  <%= render partial: "timelines/filter/projects", locals: { timeline: @timeline, f: f } %>

  <%= render partial: "timelines/group/grouping", locals: { timeline: @timeline, f: f } %>

</div>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'timelines.css', media: "all" %>
<% end %>
