<%#-- copyright
OpenProject is a project management system.
Copyright (C) 2012-2015 the OpenProject Foundation (OPF)

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 3.

OpenProject is a fork of ChiliProject, which is a fork of Redmine. The copyright follows:
Copyright (C) 2006-2013 Jean-Philippe Lang
Copyright (C) 2010-2013 the ChiliProject Team

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.

See doc/COPYRIGHT.rdoc for more details.

++#%>

<% html_title "#{l('timelines.project_menu.timelines')}: #{@timeline.name}" %>

<% content_for :action_menu_specific do %>

  <%= li_unless_nil(link_to_if_authorized(l('timelines.new_timeline'),
                                          {:controller => '/timelines', :action => 'new', :project_id => @project},
                                          :title => l('timelines.new_timeline'),
                                          :class => 'icon icon-add')) %>

  <%= li_unless_nil(link_to_if_authorized({:controller => '/timelines',
                                           :action => 'edit',
                                           :project_id => @project,
                                           :id => @timeline},
                                           :class => 'icon icon-edit',
                                           :accesskey => accesskey(:edit)) do %>
    <%= l(:button_edit) %><span class='hidden-for-sighted'><%= h(@timeline.name) %></span>
  <% end) %>

  <%= li_unless_nil(link_to_if_authorized({:controller => '/timelines',
                                           :action => 'confirm_destroy',
                                           :project_id => @project,
                                           :id => @timeline},
                                          :class => 'icon icon-delete') do %>
    <%= l(:button_delete) %><span class='hidden-for-sighted'><%= h(@timeline.name) %></span>
  <% end) %>
<% end %>

<h2><%= @timeline.name %></h2>

<%= render :partial => 'layouts/action_menu_specific' %>

<div id="timeline">
  <%= form_tag '', {:id => "specialForm", 'ng-controller' => 'TimelineSelectionController'} do %>
    <span class="inline-label">
      <%= label_tag 'timeline_select', l("timelines.timeline"), class: "form-label -transparent" %>
      <%= collection_select(:timeline, :id, @visible_timelines, :id, :name, {}, {ui_select2: 'ui-select2', id: 'timeline_select', ng_model: 'currentTimelineId', ng_change: 'switchTimeline()'}) %>
    </span>
  <% end %>

  <% push_visible_timeline_paths @visible_timelines %>
  <% push_current_timeline_id @timeline.id %>

  <%= render :partial => "timeline", :locals => {:timeline => @timeline} %>
</div>
