<div class="<%= backlog_html_class(backlog)%>" id="<%= backlog_html_id(backlog) %>">
  <div class="header">
    <div class="name <%= editable_if_sprint(backlog) %>" fieldname="name"><%= backlog[:name] %></div>
    <%- if is_sprint(backlog) %>
    <div class="dates">
      <div class="start_date datepicker editable" fieldname="start_date"><%= date_or_nil(backlog.start_date) %></div>
      <div class="effective_date datepicker editable" fieldname="effective_date"><%= date_or_nil(backlog.effective_date) %></div>
    </div>
    <div class="points"><%= backlog.points %></div>
    <%- end %>
    <%= backlog_menu is_sprint(backlog),
        [
          {
            :item => "<a>New story</a>",
            :for => :both
          },
          {
            :item => menu_link('Stories/Tasks', {
                               :controller => 'backlogs',
                               :action => 'select_sprint',
                               :project_id => @project,
                               :sprint_id => backlog }),
            :for => :sprint
          },
          {
            :item => menu_link('Wiki', {
                               :controller => 'backlogs',
                               :action => 'wiki_page',
                               :project_id => @project.id,
                               :sprint_id => backlog.id }),
            :for => :sprint,
            :condition => @project.enabled_modules.any? {|m| m.name=="wiki" }
          },
          {
            :item => "<a>Select All</a>",
            :for => :both
          }
        ]
    %>
    <div class="id"><%= backlog_id_or_empty(backlog) %></div>
    <div class="spinner"> </div>
  </div><!-- class="header" -->
  <ul class="stories">
    <%= render :partial => "stories/story", :collection => stories(backlog) %>
  </ul>
</div>