<div class="<%= backlog_html_class(backlog)%>" id="<%= backlog_html_id(backlog) %>">
  <div class="header">
    <div class="name <%= editable_if_sprint(backlog) %>" fieldname="name"><%= backlog[:name] %></div>
    <%- if is_sprint?(backlog) %>
    <div class="dates">
      <div class="sprint_start_date datepicker editable" fieldname="sprint_start_date"><%= date_or_nil(backlog.sprint_start_date) %></div>
      <div class="effective_date datepicker editable" fieldname="effective_date"><%= date_or_nil(backlog.effective_date) %></div>
    </div>
    <div class="points"><%= backlog.points %></div>
    <%- else %>
    <!-- a class='new_story'>New story</a -->
    <%- end %>
    <%= backlog_menu is_sprint?(backlog),
        [
          {
            :item => menu_link(l(:label_task_board), {
                               :controller => 'backlogs',
                               :action => 'show',
                               :id => backlog }),
            :for => :sprint
          },
          {
            :item => menu_link(l(:label_stories_tasks), {
                               :controller => 'backlogs',
                               :action => 'select_issues',
                               :project_id => @project,
                               :sprint_id => backlog }),
            :for => :sprint
          },
          {
            :item => menu_link(l(:label_stories), {
                               :controller => 'backlogs',
                               :action => 'select_issues',
                               :project_id => @project }),
            :for => :product
          },
          {
            :item => menu_link(l(:label_burndown), {
                               :controller => 'backlogs',
                               :action => 'burndown',
                               :project_id => @project,
                               :sprint_id => backlog }),
            :for => :sprint,
            :condition => (backlog.respond_to?(:has_burndown) and backlog.has_burndown)
          },
          {
            :item => menu_link(l(:label_printable_cards), {
                               :controller => 'backlogs',
                               :action => 'taskboard_cards',
                               :project_id => @project,
                               :sprint_id => backlog }),
            :for => :sprint
          },
          {
            :item => menu_link(l(:label_printable_cards), {
                               :controller => 'backlogs',
                               :action => 'product_backlog_cards',
                               :project_id => @project}),
            :for => :product
          },
          {
            :item => menu_link(l(:label_wiki), {
                               :controller => 'backlogs',
                               :action => 'wiki_page',
                               :project_id => @project.id,
                               :sprint_id => backlog.id }),
            :for => :sprint,
            :condition => @project.enabled_modules.any? {|m| m.name=="wiki" }
          },
          {
            :item => "<a>#{l(:label_select_all)}</a>",
            :for => :both
          }
        ]
    %>
    <div class="id"><%= backlog_id_or_empty(backlog) %></div>
    <div class="spinner"> </div>
  </div><!-- class="header" -->
  <ul class="stories">
    <%= render :partial => "stories/story", :collection => stories(backlog) %>
  </ul>
</div>
