<div class="<%= backlog_html_class(backlog)%>" id="<%= backlog_html_id(backlog) %>">
  <div class="header">
    <div class="name <%= editable_if_sprint(backlog) %>"><%= backlog[:name] %></div>
    <%- if is_sprint(backlog) %>
    <div class="dates">
      <input class="start-date datepicker" type="text" value="<%= date_or_nil(backlog.start_date) %>" />
      <input class="end-date datepicker" type="text"value="<%= date_or_nil(backlog.effective_date) %>" />
    </div>
    <div class="points"><%= backlog.points %></div>
    <ul class="actions pureCssMenu pureCssMenum">
        <li class="pureCssMenui">
            <a class="pureCssMenui" href="#"><span class="ui-icon ui-icon-triangle-1-s"></span></a>
            <ul class="pureCssMenum">
                <li class="pureCssMenui">
                    <%= link_to('Stories/Tasks', {
                                :controller => 'backlogs',
                                :action => 'select_sprint',
                                :project_id => @project.id,
                                :sprint_id => backlog.id },
                                :class => "pureCssMenui") %>
                </li>
                <% if @project.wiki %>
                    <li class="pureCssMenui">
                        <%= link_to('Wiki', {
                                    :controller => 'backlogs',
                                    :action => 'wiki_page',
                                    :project_id => @project.id,
                                    :sprint_id => backlog.id },
                                    :class => "pureCssMenui") %>
                    </li>
                <% end %>
            </ul>
        </li>
    </ul>
    <%- end %>
  </div><!-- class="header" -->
  <ul class="stories">
    <%= render :partial => "stories/story", :collection => stories(backlog) %>
  </ul>
</div>