<div>
    <% if sprints && sprints.size > 0 %>
        <h3><%= l(:backlogs_sprints) %></h3>
        <% sprints.each do |sprint| %>
            <%= link_to(sprint.name, {
                    :controller => 'backlogs',
                    :action => 'select_issues',
                    :project_id => project.id,
                    :sprint_id => sprint.id
                    }) %><br/>
        <% end %>
    <% end %>

    <h3><%= project.name %></h3>
    <%= link_to(l(:backlogs_product_backlog), {
            :controller => 'backlogs',
            :action => 'select_issues',
            :project_id => project.id
            }) %><br/>
    <%= link_to(l(:label_printable_cards), {
            :controller => 'backlogs',
            :action => 'product_backlog_cards',
            :project_id => project.id
            }) %><br/>
    <a href="<%= url_for({ :controller => 'backlogs', :only_path => false, :protocol => webcal, :action => 'calendar'}) %>"><%= l(:label_calendar) %></a><br>

    <% if sprint && sprint.has_burndown %>
        <h3><%= l(:label_sprint_name, {:name => sprint.name}) %></h3>
        <%= link_to(l(:label_task_board), {
                :controller => 'backlogs',
                :action => 'show',
                :id => sprint.id
                })
        %><br/>

        <%= link_to(l(:label_burndown), {
                :controller => 'backlogs',
                :action => 'burndown',
                :project_id => project.id,
                :sprint_id => sprint.id
                })
        %><br/>

        <%= link_to(l(:label_printable_cards), {
                :controller => 'backlogs',
                :action => 'taskboard_cards',
                :project_id => project.id,
                :sprint_id => sprint.id
                })
        %><br/>
        <% if project.enabled_modules.any? {|m| m.name=="wiki"} %>
            <%= link_to(l(:label_wiki), {
                    :controller => 'backlogs',
                    :action => 'wiki_page',
                    :project_id => project.id,
                    :sprint_id => sprint.id
                    })
            %><br/>
        <% end %>

        <div id="burndown" class="minimal" style="margin-top:20px; margin-left:20px; width:256px; height:192px;"></div>
        <%= render :partial => "backlogs/burndown", :locals => {:charts => [{:div => 'burndown', :burndown => sprint.burndown }]} %>
    <% end %>
</div>
