<%= render :partial => 'burndown', :object => @burndown %>
<div id="burndown" style="margin-top:20px; margin-left:20px; width:640px; height:480px;"></div>

<%- dataseries = @burndown[:series].keys.sort{|a, b| l(a) <=> l(b) } %>
<fieldset>
    <legend><%= l(:label_series) %></legend>

    <% dataseries.each do |series| %>
        <input class="series_enabled" type="checkbox" onclick="configure(this)" id="<%= series %>_enabled" name="<%= series %>_enabled" value="<%= series %>"><%= l(series) %><br/>
    <% end %>
</fieldset>
