<%= render :partial => 'burndown', :locals => {:div => 'burndown_', :burndown => @burndown } %>
<div id="burndown_<%= @burndown.sprint_id %>" style="margin-top:20px; margin-left:20px; width:640px; height:480px;"></div>

<fieldset>
    <legend><%= l(:label_series) %></legend>

    <% @burndown.series(:all).each do |series| %>
        <input class="series_enabled" type="checkbox" onclick="burndown_configure(this)" id="<%= series.name %>_enabled" name="<%= series.name %>_enabled" value="<%= series.name %>"><%= l(series.name) %><br/>
    <% end %>
</fieldset>
