<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'smoothness/jquery-ui-1.8rc3.custom.css', :plugin => 'redmine_backlogs' %>
    <%= stylesheet_link_tag 'backlog.css', :plugin => 'redmine_backlogs' %>
    <%= stylesheet_link_tag 'purecssmenu.css', :plugin => 'redmine_backlogs' %>

    <%= javascript_include_tag 'jquery-1.4.2.min.js', :plugin => 'redmine_backlogs' %>
    <%= javascript_include_tag 'jquery-ui-1.8rc3.custom.min.js', :plugin => 'redmine_backlogs' %>
    <%= javascript_include_tag 'jquery.jeditable.mini.js', :plugin => 'redmine_backlogs' %>

    <script type="text/javascript">
        var $j = jQuery.noConflict();

        function recolor(backlog)
        {
            // I have *no* idea why this happens
            if (backlog == '#product-backlog') {
                even = 'even';
                odd = 'odd';
            } else {
                even = 'odd';
                odd = 'even';
            }

            $j(backlog + " li:even").removeClass(odd).addClass(even);
            $j(backlog + " li:odd").removeClass(even).addClass(odd);
        }

        $j(document).ajaxSend(function(event, request, settings) {
            settings.data = settings.data || "";
            settings.data += (settings.data ? "&" : "") + "project_id=<%= @project.id %>";

            <% if protect_against_forgery? %>
                settings.data += "&<%= request_forgery_protection_token %>=" + encodeURIComponent('<%= form_authenticity_token %>');
            <% end %>
        });

        function recalc_points(sprint)
        {
            total = 0;
            $j("#sprint-" + sprint + " .story-points").each(function(i) {
                points = parseInt($j(this).text());
                if (!isNaN(points)) { total += points; }
             });
             $j("#sprint-points-" + sprint).text("" + total);
        }

        $j(document).ready(function() {
            $j(".backlog").each(function(i) {
                recolor('#' + $j(this).attr('id'));
            });

            
            $j(".datepicker").datepicker({
                firstDay: 1,
                dateFormat: 'yy-mm-dd',
                /* buttonImage: '<%= image_path('calendar.png') %>',
                buttonImageOnly: true, 
                showOn: 'both', */
                changeMonth: true,
                changeYear: true,
                autoSize: true,
                onSelect: function(dateText, inst) {
                    parts = $j(this).attr('id').split('-');
                    part = parts[1];
                    id = parts[2];

                    date = $j.datepicker.formatDate('yy-mm-dd', $j(this).datepicker('getDate'));

                    $j.ajax({
                        type: "POST",
                        url: "<%= url_for(:action => 'sprint_date') %>",
                        data: 'date=' + date + '&sprint=' + id + '&type=' + part
                    });
                }
            });

            $j(".backlog .drag-handle").disableSelection();

            $j(".backlog").sortable({
                connectWith: '.backlog',
                forcePlaceholderSize: true,
                placeholder: 'ui-state-highlight',
                handle: '.drag-handle',
                update: function(event, ui) {
                    recolor('#' + $j(event.target).attr('id'));

                    parts = $j(event.target).attr('id').split('-');
                    if (parts[0] == 'sprint') {
                        recalc_points(parts[1]);
                    }

                    serialized = $j(event.target).sortable('serialize');
                    dropped = '&dropped=' + ui.item.attr('id');

                    if (ui.sender) {
                        moveto = '&backlog=' + $j(event.target).attr('id');

                        parts = $j(ui.sender).attr('id').split('-');
                        if (parts[0] == 'sprint') {
                            recalc_points(parts[1]);
                        }
                    } else {
                        moveto = '';
                    }

                    $j.ajax({
                        type: "POST",
                        url: "<%= url_for(:action => 'reorder') %>",
                        data: serialized + moveto + dropped,
                    });
                }
            });

            $j(".editable").editable('<%= url_for(:action => 'rename') %>', {
                indicator: '<%= image_tag('indicator.gif', :plugin => 'redmine_backlogs') %>',
                tooltip:    'Click to edit...'
            });
            $j(".story-points").editable('<%= url_for(:action => 'story_points') %>', {
                indicator: '<%= image_tag('indicator.gif', :plugin => 'redmine_backlogs') %>',
                tooltip:    'Click to edit...',
                callback:   function(value, settings) {
                    parts = $j(this).attr('id').split('-');
                    sprint = parts[2];
                    story = parts[3];

                    if (sprint != 'backlog') {
                        recalc_points(sprint);
                    }
                }
            });
    })
  </script>
<% end %>

<h2>Backlog manager</h2>

<% if @settings[:story_tracker].nil? %>
    You have not set up the story tracker for the backlogs plugin.
<% else %>
    <div class="backlogs" id="sprints">
        <% @sprints.each do |sprint| %>
            <div class="sprint">
                <div id="sprint-<%= sprint.id %>" class="sprint-header">
                    <span id="sprint-name-<%= sprint.id %>" class="editable"><%= sprint.name %></span>
                    <span class="sprint-data">
                        <span>
                            <input id="sprint-start-<%= sprint.id %>"
                                type="text"
                                class="datepicker"
                                value="<%= sprint.start_date.nil? ? '' : sprint.start_date.strftime('%Y-%m-%d') %>" />
                            -
                            <input id="sprint-end-<%= sprint.id %>"
                                type="text"
                                class="datepicker"
                                value="<%= sprint.effective_date.nil? ? '' : sprint.effective_date.strftime('%Y-%m-%d') %>" />
                        </span>

                        <span id="sprint-points-<%= sprint.id %>"><%= sprint.points %></span>

                        <ul class="sprint-actions pureCssMenu pureCssMenum">
                            <li class="pureCssMenui">
                                <a class="pureCssMenui" href="#"><span class="ui-icon ui-icon-triangle-1-s"></span></a>
                                <ul class="pureCssMenum">
                                    <li class="pureCssMenui">
                                        <%= link_to('Stories/Tasks', {
                                                    :controller => 'backlogs',
                                                    :action => 'select_sprint',
                                                    :project_id => @project.id,
                                                    :sprint_id => sprint.id },
                                                    :class => "pureCssMenui") %>
                                    </li>
                                    <% if @project.wiki %>
                                        <li class="pureCssMenui">
                                            <%= link_to('Wiki', {
                                                        :controller => 'backlogs',
                                                        :action => 'wiki_page',
                                                        :project_id => @project.id,
                                                        :sprint_id => sprint.id },
                                                        :class => "pureCssMenui") %>
                                        </li>
                                    <% end %>
                                </ul>
                            </li>
                        </ul>
                    </span>
                </div>
                <ul id="sprint-<%= sprint.id %>" class="backlog">
                    <% sprint.stories.each do |story| %>
                        <li id="story-<%= story.id %>">
                            <span class="ui-icon ui-icon-carat-2-n-s drag-handle"></span>
                            <%= link_to(story.id, :controller => "issues", :action => "show", :id => story.id) %>: 
                            <span><%= story.abbreviated_subject %></span> <span id="story-points-<%= sprint.id %>-<%= story.id %>" class="story-points"><%= story.points_display %></span>
                        </li>
                    <% end %>
                </ul>
            </div>
        <% end %>
    </div>
    <div class="backlogs" id="product-backlog-display">
        <div class="sprint-header">Product backlog</div>
        <ul id="product-backlog" class="backlog">
            <% @backlog.each do |story| %>
                <li id="story-<%= story.id %>">
                    <span class="ui-icon ui-icon-carat-2-n-s drag-handle"></span>
                    <%= link_to(story.id, :controller => "issues", :action => "show", :id => story.id) %>: 
                    <span><%= story.abbreviated_subject %></span>
                    <span id="story-points-backlog-<%= story.id %>" class="story-points"><%= story.points_display %></span>
                </li>
            <% end %>
        </ul>
    </div>
<% end %>
