<%- content_for :header_tags do %>
  <%= stylesheet_link_tag 'index', 'story', :plugin => 'redmine_backlogs' %>
  <script type="text/javascript" src="<%= url_for(:action => 'jsvariables', :project_id => @project.id) %>"></script>
  <%= javascript_include_tag 'index', 'backlog', 'story', :plugin => 'redmine_backlogs' %>
<%- end %>

<%- content_for :breadcrumbs do %>
  <%= @project.name %>
<%- end %>

<div id="sprints">
  <%= render :partial => "backlog", :collection => @sprints %>
</div>

<%= render :partial => "backlog", :object => { :name => "Product Backlog", :stories => @product_backlog_stories }%>
