<% content_for :header_tags do %>
<%= javascript_include_tag  'show_main', 'board_updater', 'taskboard_updater', 'taskboard', 'story', 'task', 'impediment', :plugin => 'redmine_backlogs' %>
<%= stylesheet_link_tag 'show', 'taskboard', 'task', :plugin => 'redmine_backlogs', :media => 'screen, print' %>
<script type="text/javascript" src="<%= url_for(:action => 'jsvariables', :project_id => @project.id, :sprint_id => @sprint.id) %>"></script>
<% end %>

<% content_for :breadcrumbs do %>
<%= link_to @project.name, :controller => "backlogs", :action => "index", :project_id => @project %> : <%= @sprint.name %>
<% end %>

<%- content_for :page_specific_links do %>
  <a class='show_charts'><%= l(:label_burndown) %></a>
  <span id="col_width">Column width: <input name="col_width"/></span>
  <a id="disable_autorefresh">Disable Auto-refresh</a>
  <a id="refresh">Refresh</a>
<%- end %>

<div class="meta" id="last_updated"><%= date_string_with_milliseconds( (@last_updated.nil? ? Time.now : @last_updated.updated_on) )  %></div>

<table id="taskboard" cellspacing="0">
  <tr>
    <td class="story_column"><%= l(:backlogs_story) %></td>
    <td class="new_task_button_column"> </td>
    <%- @statuses.each do |status| %>
      <td id="status_<%= status.id %>"><%= status.name %></td>
    <%- end %>
  </tr>

  <tr>
    <td class="story"><span class="subject"><%= l(:label_sprint_impediments) %></span></td>
    <td class="new_impediment_button">+</td>
    <%- @statuses.each do |status| %>
    <td class="list <%= status.is_closed? ? 'closed' : '' %>" id="impedimentstatus_<%= status.id %>">
      <%= render :partial => "tasks/impediment", :collection => @sprint.impediments.select{|impediment| impediment.status_id==status.id} %>
    </td>
    <%- end %>
  </tr>

  <%- @sprint.stories.each do |story| %>
  <tr>
    <td class="story <%= mark_if_closed(story) %>"><%= link_to story.id, {:controller => 'issues', :action => 'show', :id => story.id}, { :class => "story_id", :target => "_blank" } %>
                     <span class="subject"><%= story.subject %></span></td>
    <td class="new_task_button">+</td>
    <%- @statuses.each do |status| %>
    <td class="list <%= status.is_closed? ? 'closed' : '' %>" id="<%= story.id %>_<%= status.id %>">
      <%- story.children.select{|task| task.status.id==status.id}.each do |task| %>
      <%= render :partial => "tasks/task", :object => task %>
      <%- end %>
    </td>
    <%- end %>
  </tr>
  <%- end %>
</table>

<!-- templates -->
<select class="assigned_to_id template" id="assigned_to_id_options">
  <option value="" color="<%= task_color_or_default(Task.new) %>"> </option>
  <%- @project.members.each do |member| %>
  <option value="<%= member.user_id %>" color="<%= member.user.backlogs_preference(:task_color) %>"><%= member.name %></option>
  <%- end %>
</select>
<div id="task_template">
  <%= render :partial => "tasks/task", :object => Task.new %>
</div>
<div id="impediment_template">
  <%= render :partial => "tasks/impediment", :object => Task.new %>
</div>
<!-- end of templates -->

<div id="charts">
</div>