<% content_for :header_tags do %>
<%= javascript_include_tag  'jquery.cookie.js', 'show_main', 'taskboard', 'story', 'task', :plugin => 'redmine_backlogs' %>
<%= stylesheet_link_tag 'show', 'taskboard', 'task', :plugin => 'redmine_backlogs', :media => 'screen, print' %>
<script type="text/javascript" src="<%= url_for(:action => 'jsvariables', :project_id => @project.id, :sprint_id => @sprint.id) %>"></script>
<% end %>

<% content_for :breadcrumbs do %>
<%= link_to @project.name, :controller => "backlogs", :action => "index", :project_id => @project %> : <%= @sprint.name %>
<% end %>

<%- content_for :page_specific_links do %>
  <span id="col_width">Column width: <input name="col_width"/></span>
  <a id="disable_autorefresh">Disable Auto-refresh</a>
  <a id="refresh">Refresh</a>
<%- end %>

<div class="meta" id="last_updated"><%= date_string_with_milliseconds( (@last_updated.nil? ? Time.now : @last_updated.updated_on) )  %></div>

<table id="taskboard" cellspacing="0">
  <tr>
    <td class="story_column"><%= l(:backlogs_story) %></td>
    <td class="new_task_button_column"> </td>
    <%- @statuses.each do |status| %>
      <td id="status_<%= status.id %>"><%= status.name %></td>
    <%- end %>
  </tr>
  <%- @sprint.stories.each_with_index do |story, i| %>
  <tr>
    <td class="story <%= mark_if_closed(story) %>"><%= link_to story.id, {:controller => 'issues', :action => 'show', :id => story.id}, { :class => "story_id", :target => "_blank" } %>
                     <span class="subject"><%= story.subject %></span></td>
    <td class="new_task_button" id="newtaskrow_<%= i + 1 %>">+</td>
    <%- @statuses.each do |status| %>
    <td class="list <%= status.is_closed? ? l(:label_closed_issues) + ' ': '' %>" id="<%= story.id %>_<%= status.id %>">
      <%- story.children.select{|task| task.status.id==status.id}.each do |task| %>
      <%= render :partial => "tasks/task", :object => task %>
      <%- end %>
    </td>
    <%- end %>
  </tr>
  <%- end %>
</table>

<!-- templates -->
<select class="assigned_to_id template" id="assigned_to_id_options">
  <option value=""> </option>
  <%- @project.members.each do |member| %>
  <option value="<%= member.user_id %>"><%= member.name %></option>
  <%- end %>
</select>

<div id="task_template">
  <%= render :partial => "tasks/task", :object => Task.new %>
</div>
<!-- end of templates -->
