<% content_for :header_tags do %>
<%= javascript_include_tag  'show', 'taskboard', 'story', 'task', :plugin => 'redmine_backlogs' %>
<%= stylesheet_link_tag 'show', 'taskboard', 'task', :plugin => 'redmine_backlogs', :media => 'screen, print' %>
<script type="text/javascript" src="<%= url_for(:action => 'jsvariables', :project_id => @project.id) %>"></script>
<% end %>

<% content_for :breadcrumbs do %>
<%= link_to @project.name, :controller => "backlogs", :action => "index", :project_id => @project %> : <%= @sprint.name %>
<% end %>

<table id="taskboard" cellspacing="0">
  <tr>
    <td class="story">Story</td>
    <td class="new_task_button"> </td>
    <%- @statuses.each do |status| %>
    <td id="status_<%= status.id %>"><%= status.name %></td>
    <%- end %>
  </tr>
  <%- @sprint.stories.each_with_index do |story, i| %>
  <tr>
    <td class="story <%= mark_if_closed(story) %>"><%= link_to story.id, {:controller => 'issues', :action => 'show', :id => story.id}, { :class => "story_id", :target => "_blank" } %>
                     <span class="subject"><%= story.subject %></span></td>
    <td class="new_task_button" id="newtaskrow_<%= i + 1 %>">+</td>
    <%- @statuses.each do |status| %>
    <td class="list <%= status.is_closed? ? 'closed ' : '' %>" id="<%= story.id %>_<%= status.id %>">
      <%- story.children.select{|task| task.status.id==status.id}.each do |task| %>
      <%= render :partial => "tasks/task", :object => task %>
      <%- end %>
    </td>
    <%- end %>
  </tr>
  <%- end %>
</table>

<!-- form field templates -->
<select class="assigned_to_id template" id="assigned_to_id_options">
  <option value=""> </option>
  <%- @project.members.each do |member| %>
  <option value="<%= member.user_id %>"><%= member.name %></option>
  <%- end %>
</select>
<!-- end of form field templates -->