<%#-- copyright
OpenProject is a project management system.

Copyright (C) 2012-2013 the OpenProject Team

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 3.

See doc/COPYRIGHT.rdoc for more details.

++#%>

<div class="contextual">
<%= link_to l(:label_tracker_new), {:action => 'new'}, :class => 'icon icon-add' %>
</div>

<h2><%=l(:label_tracker_plural)%></h2>

<table class="list">
  <thead><tr>
  <th><%= Tracker.model_name.human %></th>
  <th></th>
  <th><%=l(:button_sort)%></th>
  <th></th>
  </tr></thead>
  <tbody>
<% for tracker in @trackers %>
  <tr class="<%= cycle("odd", "even") %>">
  <td><%= link_to tracker.name, edit_tracker_path(tracker) %></td>
  <td align="center"><% if tracker.workflows.empty? %><span class="icon icon-warning"><%= l(:text_tracker_no_workflow) %> (<%= link_to l(:button_edit), {:controller => '/workflows', :action => 'edit', :tracker_id => tracker} %>)</span><% end %></td>
  <td align="center" style="width:15%;"><%= reorder_links('tracker', {:action => 'update', :id => tracker}, :method => :put) %></td>
  <td class="buttons">
    <%= link_to t(:button_delete), tracker, :method => :delete, :confirm => t(:text_are_you_sure), :class => 'icon icon-del' %>
  </td>
  </tr>
<% end %>
  </tbody>
</table>

<%= pagination_links_full @trackers %>

<% html_title(l(:label_tracker_plural)) -%>
