<div class="contextual">
<%= link_to l(:label_tracker_new), {:action => 'new'}, :class => 'icon icon-add' %>
</div>

<h2><%=l(:label_tracker_plural)%></h2>

<table class="list">
  <thead><tr>
  <th><%=l(:label_tracker)%></th>
  <th></th>
  <th><%=l(:button_sort)%></th>
  <th></th>
  </tr></thead>
  <tbody>
<% for tracker in @trackers %>
  <tr class="<%= cycle("odd", "even") %>">
  <td><%= link_to tracker.name, :action => 'edit', :id => tracker %></td>
  <td align="center"><% unless tracker.workflows.count > 0 %><span class="icon icon-warning"><%= l(:text_tracker_no_workflow) %> (<%= link_to l(:button_edit), {:controller => 'workflows', :action => 'edit', :tracker_id => tracker} %>)</span><% end %></td>
  <td align="center" style="width:15%;"><%= reorder_links('tracker', {:action => 'edit', :id => tracker}) %></td>
  <td class="buttons">
    <%= link_to(l(:button_delete), { :action => 'destroy', :id => tracker },
    															 :method => :post,
    															 :confirm => l(:text_are_you_sure),
    															 :class => 'icon icon-del') %>
  </td>
  </tr>
<% end %>
  </tbody>
</table>

<p class="pagination"><%= pagination_links_full @tracker_pages %></p>

<% html_title(l(:label_tracker_plural)) -%>
