<%#-- copyright
OpenProject is a project management system.
Copyright (C) 2012-2014 the OpenProject Foundation (OPF)

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 3.

OpenProject is a fork of ChiliProject, which is a fork of Redmine. The copyright follows:
Copyright (C) 2006-2013 Jean-Philippe Lang
Copyright (C) 2010-2013 the ChiliProject Team

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.

See doc/COPYRIGHT.rdoc for more details.

++#%>

<% disable_accessibility_css! %>

<% breadcrumb_paths(l(:label_login)) %>
<%= call_hook :view_account_login_top %>
<div id="login-form">
  <%= form_tag({:action=> "login"}, :autocomplete => 'off') do %>
    <%= back_url_hidden_field_tag %>
    <table>
      <tr>
        <td class="label"><label for="username"><%= User.human_attribute_name :login %>:</label></td>
        <td><%= text_field_tag 'username', nil %></td>
      </tr>
      <tr>
        <td class="label"><label for="password"><%= User.human_attribute_name :password %>:</label></td>
        <td><%= password_field_tag 'password', nil %></td>
      </tr>
      <tr>
        <td></td>
        <td>
          <% if Setting.autologin? %>
            <label for="autologin"><%= check_box_tag 'autologin', 1, false %> <%= l(:label_stay_logged_in) %></label>
          <% end %>
        </td>
      </tr>
      <tr>
        <td>
        </td>
        <td align="right">
          <input type="submit" name="login" value="<%=l(:button_login)%>" class="button_highlight" />
        </td>
      </tr>
    </table>
    <%= javascript_tag "Form.Element.focus('username');" %>
  <% end %>

  <% if Setting.lost_password? %>
    <div id="lost_password">
      <%= link_to l(:label_password_lost), :controller => '/account', :action => 'lost_password' %>
    </div>
  <% end %>
</div>
<%= render :partial => 'auth_providers' %>
<%= call_hook :view_account_login_bottom %>
