<%#-- copyright
OpenProject is a project management system.

Copyright (C) 2012-2013 the OpenProject Team

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 3.

See doc/COPYRIGHT.rdoc for more details.

++#%>

<% disable_accessibility_css! %>

<h2><%=l(:label_password_lost)%></h2>

<div class="box">
<%= form_tag({:action=> "lost_password"}, :class => "tabular") do %>

<p><label for="mail"><%= User.human_attribute_name(:mail) %> <span class="required">*</span></label>
<%= text_field_tag 'mail', nil, :size => 40 %>
<%= submit_tag l(:button_submit) %></p>

<% end %>
</div>
