<%#-- copyright
OpenProject is a project management system.

Copyright (C) 2012-2013 the OpenProject Team

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 3.

See doc/COPYRIGHT.rdoc for more details.

++#%>

<% disable_accessibility_css! %>

<h2><%=l(:label_password_lost)%></h2>

<%= error_messages_for 'user' %>

<%= form_tag({:token => @token.value}, :autocomplete => 'off') do %>
<div class="box tabular">
<p><label for="new_password"><%= User.human_attribute_name(:new_password) %> <span class="required">*</span></label>
<%= password_field_tag 'new_password', nil, :size => 25 %><br />
<%= password_complexity_requirements %></p>

<p><label for="new_password_confirmation"><%= User.human_attribute_name(:password_confirmation) %> <span class="required">*</span></label>
<%= password_field_tag 'new_password_confirmation', nil, :size => 25 %></p>
</div>
<p><%= submit_tag l(:button_save) %></p>
<% end %>
