<%#-- copyright
OpenProject is a project management system.
Copyright (C) 2012-2015 the OpenProject Foundation (OPF)

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 3.

OpenProject is a fork of ChiliProject, which is a fork of Redmine. The copyright follows:
Copyright (C) 2006-2013 Jean-Philippe Lang
Copyright (C) 2010-2013 the ChiliProject Team

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.

See doc/COPYRIGHT.rdoc for more details.

++#%>

<% disable_accessibility_css! %>
<%= toolbar title: l(:label_register) %>

<%= labelled_tabular_form_for(@user, :url => url_for(:action => 'register')) do |f| %>
  <%= back_url_hidden_field_tag %>
  <%= error_messages_for :user %>

  <section class="form--section">
    <% if @user.auth_source_id.nil? %>
      <div class="form--field">
        <%= f.text_field :login, :size => 25, :required => true %>
      </div>
    <% end %>

    <% if @user.change_password_allowed? %>
      <div class="form--field">
        <%= f.password_field :password,
                             :required => true,
                             :size => 25,
                             :autocomplete => 'off' %>
        <div class="form--field-instructions">
          <%= password_complexity_requirements %>
        </div>
      </div>
      <div class="form--field">
        <%= f.password_field :password_confirmation,
                             :required => true,
                             :size => 25,
                             :autocomplete => 'off'  %>
      </div>
    <% end %>

    <div class="form--field">
      <%= f.text_field :firstname, :required => true %>
    </div>

    <div class="form--field">
      <%= f.text_field :lastname,  :required => true %>
    </div>

    <div class="form--field">
      <%= f.text_field :mail,      :required => true %>
    </div>

    <%= call_hook :view_account_register_after_basic_information, :f => f %>
    <div class="form--field"><%= f.select(:language, lang_options_for_select) %></div>

    <%= render partial:     'customizable/field',
               collection:  @user.custom_field_values.select { |v|
                              v.editable? || v.required?
                            },
               as:          :value,
               locals:      { form: f } %>
  </section>

  <%= styled_button_tag l(:button_submit), class: '-highlight -with-icon icon-yes' %>
<% end %>
