<%#-- copyright
OpenProject is an open source project management software.
Copyright (C) 2012-2020 the OpenProject GmbH

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 3.

OpenProject is a fork of ChiliProject, which is a fork of Redmine. The copyright follows:
Copyright (C) 2006-2017 Jean-Philippe Lang
Copyright (C) 2010-2013 the ChiliProject Team

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.

See docs/COPYRIGHT.rdoc for more details.

++#%>

<% @hours.collect {|h| h[criterias[level]].to_s}.uniq.each do |value| %>

  <% hours_for_value = select_hours(hours, criterias[level], value) -%>
  <% next if hours_for_value.empty? -%>
    <tr class="<%= 'last-level' unless criterias.length > level+1 %>">
      <%= ('<td></td>' * level).html_safe %>
      <td><%= h(format_criteria_value(criterias[level], value)) %></td>
      <%= ('<td></td>' * (criterias.length - level - 1)).html_safe -%>
      <% total = 0 -%>
      <% @periods.each do |period| -%>
        <% sum = sum_hours(select_hours(hours_for_value, @columns, period.to_s)); total += sum -%>
        <td class="hours"><%= html_hours("%.2f" % sum) if sum > 0 %></td>
      <% end -%>
      <td class="hours"><%= html_hours("%.2f" % total) if total > 0 %></td>
    </tr>
    <% if criterias.length > level+1 -%>
      <%= render(partial: 'report_criteria', locals: { criterias: criterias, hours: hours_for_value, level: (level + 1) }) %>
    <% end -%>
  <% end %>
