<%#-- copyright
OpenProject is a project management system.
Copyright (C) 2012-2015 the OpenProject Foundation (OPF)

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 3.

OpenProject is a fork of ChiliProject, which is a fork of Redmine. The copyright follows:
Copyright (C) 2006-2013 Jean-Philippe Lang
Copyright (C) 2010-2013 the ChiliProject Team

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.

See doc/COPYRIGHT.rdoc for more details.

++#%>

<%= render_timelog_breadcrumb %>

<%= toolbar title: l(:label_spent_time) do %>
  <% if User.current.allowed_to?({controller: 'timelog', action: :new}, @project) %>
      <li class="toolbar-item">
        <%= link_to polymorphic_new_time_entry_path(@issue || @project), class: 'button' do %>
          <i class="button--icon icon-time"></i>
          <span class="button--text"><%= l(:button_log_time) %></span>
        <% end %>
      </li>
  <% end %>
<% end %>

<%= styled_form_tag(polymorphic_time_entries_report_path(@issue || @project), :method => :get, :id => 'query_form') do %>
  <% @criterias.each do |criteria| %>
    <%= hidden_field_tag 'criterias[]', criteria, :id => nil %>
  <% end %>
  <%= render :partial => 'timelog/date_range' %>
  <%= render 'timelog/time_entry_tabs' %>

  <div class="timelog-report-selection grid-block small-6 vertical">
    <div class="grid-block">

      <div class="form--field">
        <%= styled_label_tag :columns, "#{l(:label_details)}:" %>
        <%= styled_select_tag 'columns', options_for_select([[l(:label_year), 'year'],
                                                            [l(:label_month), 'month'],
                                                            [l(:label_week), 'week'],
                                                            [l(:label_day_plural).titleize, 'day']], @columns) %>
      </div>

      <div class="form--field">
        <%= styled_label_tag :criterias, "#{l(:button_add)}:" %>
        <%= styled_select_tag('criterias[]', options_for_select([[]] + (@available_criterias.keys - @criterias).collect{|k| [l_or_humanize(@available_criterias[k][:label]), k]}),
                                                              :style => 'width: 200px',
                                                              :id => nil,
                                                              :disabled => (@criterias.length >= 3), :id => "criterias") %>
      </div>
    </div>
    <div class="grid-block">
      <%= link_to_function l(:button_apply), '$("query_form").submit()', :class => 'button -highlight' %>
      <%= link_to l(:button_clear), {:project_id => @project, :issue_id => @issue, :period_type => params[:period_type], :period => params[:period], :from => @from, :to => @to, :columns => @columns}, :class => 'button' %>
    </div>
  </div>
<% end %>
<% unless @criterias.empty? %>
  <div class="total-hours">
    <p><%= l(:label_total) %>: <%= html_hours(l_hours(@total_hours)) %></p>
  </div>

  <% unless @hours.empty? %>
    <table class="list" id="time-report">
      <thead>
        <tr>
          <% @criterias.each do |criteria| %>
            <th><%= l_or_humanize(@available_criterias[criteria][:label]) %></th>
          <% end %>
          <% columns_width = (40 / (@periods.length+1)).to_i %>
          <% @periods.each do |period| %>
            <th class="period" width="<%= columns_width %>%"><%= period %></th>
          <% end %>
          <th class="total" width="<%= columns_width %>%"><%= l(:label_total) %></th>
        </tr>
      </thead>
      <tbody>
        <%= render :partial => 'report_criteria', :locals => {:criterias => @criterias, :hours => @hours, :level => 0} %>
        <tr class="total">
          <td><%= l(:label_total) %></td>
          <%= ('<td></td>' * (@criterias.size - 1)).html_safe %>
          <% total = 0 -%>
          <% @periods.each do |period| -%>
            <% sum = sum_hours(select_hours(@hours, @columns, period.to_s)); total += sum -%>
            <td class="hours"><%= html_hours("%.2f" % sum) if sum > 0 %></td>
          <% end -%>
          <td class="hours"><%= html_hours("%.2f" % total) if total > 0 %></td>
        </tr>
      </tbody>
    </table>

    <%= other_formats_links do |f| %>
      <%= f.link_to 'CSV', :url => params %>
    <% end %>
  <% end %>
<% end %>

<% html_title l(:label_spent_time), l(:label_report) %>
