<%#-- copyright
OpenProject is a project management system.
Copyright (C) 2012-2015 the OpenProject Foundation (OPF)

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 3.

OpenProject is a fork of ChiliProject, which is a fork of Redmine. The copyright follows:
Copyright (C) 2006-2013 Jean-Philippe Lang
Copyright (C) 2010-2013 the ChiliProject Team

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.

See doc/COPYRIGHT.rdoc for more details.

++#%>
<%= toolbar title: "#{Category.model_name.human} #{h @category.name}" %>
<%= form_tag({}, {:method => :delete}) do %>
  <div class="box">
    <p><strong><%= l(:text_work_package_category_destroy_question, @issue_count) %></strong></p>
    <p><label><%= radio_button_tag 'todo', 'nullify', true %> <%= l(:text_work_package_category_destroy_assignments) %></label>
      <% if @categories.size > 0 %>
        <label><%= radio_button_tag 'todo', 'reassign', false %> <%= l(:text_work_package_category_reassign_to) %></label>
        <%= label_tag "reassign_to_id", l(:description_work_package_category_reassign), :class => "hidden-for-sighted" %>
        <%= select_tag 'reassign_to_id', options_from_collection_for_select(@categories, 'id', 'name') %></p>
    <% end %>
  </div>
  <%= submit_tag l(:button_apply), class: 'button -highlight' %>
  <%= link_to l(:button_cancel), { :controller => '/projects', :action => 'settings', :id => @project, :tab => 'categories' },
      class: 'button' %>
<% end %>
