<div class="form--field -required">
  <%= f.select :storage_id,
      available_storages.map { |storage| ["#{storage.name} (#{storage.provider_type})", storage.id] },
                selected: available_storages.first.id.to_s,
                container_class: '-slim' %>
  <% if User.current.admin? %>
    <span class="form--field-instructions">
      <%= t(:"storages.instructions.setting_up_additional_storages")  %>
      <%= link_to "#{t(:label_administration)} / #{t(:project_module_storages)}", controller: '/storages/admin/storages', action: :index %>.
    </span>
  <% end %>
</div>

<div class="form--field -required">
  <label class="form--label -bold">Project folder</label>
  <div class="form--field-container -horizontal">
    <%= f.label :project_folder_mode, class: "form--label-with-radio-button" do %>
      <%= f.radio_button :project_folder_mode, 'inactive', no_label: true %>
      <%= t(:"storages.label_no_specific_folder") %>
    <% end %>
  </div>
  <p class="form--field-instructions">
    <%= t(:"storages.instructions.no_specific_folder")  %>
  </p>

  <div class="form--field-container -horizontal">
    <%= f.label :project_folder_mode, class: "form--label-with-radio-button" do %>
      <%= f.radio_button :project_folder_mode, 'manual', no_label: true %>
      <%= t(:"storages.label_existing_manual_folder") %>
    <% end %>
  </div>
  <p class="form--field-instructions -xwide">
    <%= t(:"storages.instructions.existing_manual_folder")  %>
  </p>
</div>

<%= styled_button_tag t(:button_add), class: "-highlight -with-icon icon-checkmark" %>
