<!-- Standard Ruby view, please see the controller for comments -->
<% html_title t(:label_administration), t("project_module_storages") %>

<% if ::Storages::Storage.any? %>
  <%= toolbar title: t("storages.page_titles.project_settings.index") do %>

    <li class="toolbar-item">
      <%= link_to new_project_settings_projects_storage_path,
                  { class: 'button -alt-highlight',
                    aria: { label: t(:'storages.label_new_storage') },
                    title: t(:'ifc_models.label_new_storage') } do %>
        <%= op_icon('button--icon icon-add') %>
        <span class="button--text"><%= ::Storages::Storage.model_name.human %></span>
      <% end %>
    </li>
  <% end %>

  <%= rails_cell ::Storages::ProjectsStoragesTableCell, @projects_storages %>
<% else %>
  <%= render partial: '/storages/project_settings/toast_no_storage_set_up' %>
<% end %>
