<!-- Standard Ruby view, please see the controller for comments -->
<% html_title t(:label_administration), t("project_module_storages") %>
<% local_assigns[:additional_breadcrumb] = t('storages.label_new_storage') %>
<%= toolbar title: t("storages.page_titles.project_settings.new") %>

<%= labelled_tabular_form_for @project_storage, url: project_settings_projects_storages_path do |f| -%>
  <%= error_messages_for_contract @project_storage, @errors %>

  <section class="form--section">
    <% if @available_storages.any? %>
      <%= render partial: '/storages/project_settings/form',
                 locals: { f: f, available_storages: @available_storages, submit_button_label: t('button_add') }
      %>
    <% else %>
      <%= render partial: '/storages/project_settings/toast_all_available_storages_already_added' %>
    <% end %>
  </section>
<% end %>
