<%#-- copyright
OpenProject is a project management system.
Copyright (C) 2012-2015 the OpenProject Foundation (OPF)

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 3.

OpenProject is a fork of ChiliProject, which is a fork of Redmine. The copyright follows:
Copyright (C) 2006-2013 Jean-Philippe Lang
Copyright (C) 2010-2013 the ChiliProject Team

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.

See doc/COPYRIGHT.rdoc for more details.

++#%>

<%= call_hook :activity_index_head %>

<%= toolbar title: (@author.nil? ? l(:label_activity) : l(:label_user_activity, link_to_user(@author)).html_safe),
            subtitle: l(:label_date_from_to, start: format_date(@date_to - @days), end: format_date(@date_to-1))
%>

<div id="activity">
  <% @events_by_day.keys.sort.reverse.each do |day| %>
    <h3><%= format_activity_day(day) %></h3>
    <dl>
      <% @events_by_day[day].sort {|x,y| y.event_datetime <=> x.event_datetime }.each do |e| -%>
        <dt class="<%= e.event_type %> <%= User.current.logged? && e.respond_to?(:event_author) && User.current == e.event_author ? 'me' : nil %>">
          <%= icon_wrapper("icon-context icon-#{e.event_type}", e.event_name) %>
          <%= avatar(e.event_author) if e.respond_to?(:event_author) %>
          <span class="time"><%= format_time(e.event_datetime.to_time, false) %></span>
          <%= content_tag('span', link_to(e.project.name, e.project), :class => 'project') if (@project.nil? || @project != e.project) && e.project %>
          <%= link_to format_activity_title(e.event_title), e.event_path%>
        </dt>
        <dd>
          <span class="description"><%= format_activity_description(e.event_description) %></span>
          <span class="author"><%= link_to_user(e.event_author) if e.respond_to?(:event_author) %></span>
        </dd>
      <% end -%>
    </dl>
  <% end -%>
</div>

<%= content_tag('p', l(:label_no_data), :class => 'nodata') if @events_by_day.empty? %>

<div style="float:left;">
  <%= link_to_content_update(l(:label_previous),
                             params.merge(:from => @date_to - @days - 1),
                             {:title => l(:label_date_from_to, :start => format_date(@date_to - 2*@days), :end => format_date(@date_to - @days - 1)),
                             :class => 'navigate-left'}) %>
</div>
<div style="float:right;">
  <%= link_to_content_update(l(:label_next),
                             params.merge(:from => @date_to + @days - 1),
                             {:title => l(:label_date_from_to, :start => format_date(@date_to), :end => format_date(@date_to + @days - 1)),
                             :class => 'navigate-right'}) unless @date_to >= Date.today %>
</div>
&nbsp;
<%= other_formats_links do |f| %>
  <%= f.link_to 'Atom', :url => params.merge(:from => nil, :key => User.current.rss_key) %>
<% end %>

<% content_for :header_tags do %>
  <%= auto_discovery_link_tag(:atom, params.merge(:format => 'atom', :from => nil, :key => User.current.rss_key)) %>
<% end %>

<% content_for :sidebar do %>
  <%= form_tag({}, :method => :get) do %>
    <h3><%= l(:description_filter) %></h3>
    <p>
      <% @activity.event_types.each do |t| %>
        <%= check_box_tag "show_#{t}", 1, @activity.scope.include?(t) %>
        <label for="show_<%=t%>"><%=l("label_#{t.singularize}_plural")%></label>
        <br />
      <% end %>
    </p>
    <% if @project && @project.descendants.active.any? %>
      <%= hidden_field_tag 'with_subprojects', 0 %>
      <p><label><%= check_box_tag 'with_subprojects', 1, @with_subprojects %> <%=l(:label_subproject_plural)%></label></p>
    <% end %>
    <%= hidden_field_tag('user_id', params[:user_id]) unless params[:user_id].blank? %>
    <%= hidden_field_tag('apply', true) %>
    <p><%= submit_tag l(:button_apply), :class => 'button -tiny -round -highlight', :name => nil %></p>
  <% end %>
<% end %>

<% html_title(l(:label_activity), @author) -%>
