<% html_title(t(:button_login), t('two_factor_authentication.devices.add_new')) -%>

<%=
  render(Primer::OpenProject::PageHeader.new) do |header|
    header.with_title { t('two_factor_authentication.devices.add_new') }
    header.with_breadcrumbs([{ href: signin_path, text: t(:button_login) },
                             t('two_factor_authentication.devices.add_new')])
  end
%>
<%= toolbar title: t('two_factor_authentication.devices.add_new') %>

<div class="mobile-otp-new-devices">
  <% @available_devices.each do |key, device_class| %>
    <div class="mobile-otp-new-device mobile-otp-new-device-<%= key %>">
      <h2><%= t("two_factor_authentication.devices.#{key}.title") %></h2>
      <div class="mobile-otp-new-device--body">
        <p><%= t("two_factor_authentication.devices.#{key}.description") %></p>
      </div>
      <div class="mobile-otp-new-device--footer">
        <%= link_to t('two_factor_authentication.devices.register'), url_for(action: :new, type: key), class: 'button button--tiny' %>
      </div>
    </div>
  <% end %>
</div>
