<section
  data-augmented-model-wrapper
  data-modal-class-name="webhooks--response-body-modal"
>
  <a class="modal-delivery-element--activation-link" title="<%= log_entry.class.human_attribute_name('response_body') %>">
    <%= op_icon('icon-info1') %>
    <%= t(:button_show) %>
  </a>
  <div class="modal-delivery-element">
    <div class="op-modal--header">
      <h1 class="op-modal--title">
        <%= log_entry.class.human_attribute_name('response_body') %>
      </h1>
      <button
        type="button"
        class="op-modal--close-button"
        aria-label="<%= t(:button_close) %>"
      >
        <%= op_icon('icon-close') %>
      </button>
    </div>
    <div class="op-modal--body">
      <h2>Headers</h2>
      <pre class="webhooks--response-headers" ><%- log_entry.response_headers.each do |k,v| -%><strong><%= k -%></strong>:  <span><%= v -%></span><br/><%- end -%></pre>
      <hr/>
      <h2>Response body</h2>
      <pre class="webhooks--response-body">
        <%= log_entry.response_body %>
      </pre>
    </div>
    <div class="op-modal--footer">
      <button
        class="button"
        title="<%= t(:button_close) %>"
        dynamic-content-modal-close-button
      >
        <%= t(:button_close)%>
      </button>
    </div>
  </div>
</section>