<%#-- copyright
OpenProject is a project management system.

Copyright (C) 2012-2013 the OpenProject Team

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 3.

See doc/COPYRIGHT.rdoc for more details.

++#%>

<h2 class="page-layout-only"><%=l(:label_work_package_tracking)%></h2>
<h3><%=l(:label_work_package_tracking)%></h3>
<% if User.current.allowed_to?(:view_work_packages, project) %>
  <div class="issues overview">
    <ul>
      <% for type in types %>
        <li><%= link_to h(type.name), :controller => '/work_packages', :action => 'index', :project_id => project,
                :set_filter => 1,
                "type_id" => type.id %>:
          <%= l(:label_x_open_work_packages_abbr_on_total, :count => open_work_packages_by_type[type].to_i,
                :total => total_work_packages_by_type[type].to_i) %>
        </li>
      <% end %>
    </ul>
    <p>
      <%= link_to l(:label_work_package_view_all), :controller => '/work_packages', :action => 'index', :project_id => project, :set_filter => 1 %>
      <% if User.current.allowed_to?(:view_calendar, project, :global => true) %>
        | <%= link_to(l(:label_calendar), :controller => '/calendars', :action => 'show', :project_id => project) %>
      <% end %>
      <% if User.current.allowed_to?(:view_gantt, project, :global => true) %>
        | <%= link_to(l(:label_gantt), :controller => '/gantts', :action => 'show', :project_id => project) %>
      <% end %>
    </p>
  </div>
<% end %>
