
<%
gon.push({
  hide_sections: @custom_action.all_actions.map { |a| { key: a.key, label: a.human_name } }
})
  %>

<%= include_gon(camel_case: true, camel_depth: 15) %>

<div class="form--field">
  <%= f.text_field :name, required: true, container_class: '-middle', label: 'Name' %>
</div>

<fieldset class="form--fieldset" id="custom-actions-form--actions">
  <legend class="form--fieldset-legend">
    <%= t('custom_actions.actions') %>
  </legend>

  <hide-sections>
    <% @custom_action.all_actions.each do |action| %>
      <hide-section section-name="<%= action.key %>">
        <div class="form--field">
          <%= styled_label_tag("custom_action_actions_#{action.key}", action.human_name) %>
            <% input_name = "custom_action[actions][#{action.key}]" %>
            <% if %i(associated_property boolean).include?(action.type) %>
              <% selected_values = action.value
                 select_options = options_for_select(action.allowed_values.map { |v| [v[:label], v[:value]] },
                                                     selected: selected_values) %>
              <%= styled_select_tag input_name,
                                    select_options,
                                    container_class: '-middle' %>
            <% elsif %i(date_property).include?(action.type) %>
              <%= styled_text_field_tag input_name,
                                        action.value,
                                        id: "on-date-value-#{action.key}",
                                        container_class: '-slim',
                                        size: '10' %>
              <%= calendar_for("on-date-value-#{action.key}") %>
            <% elsif %i(string_property text_property).include?(action.type) %>
              <%= styled_text_field_tag input_name,
                                        action.value,
                                        container_class: '-slim',
                                        step: 'any' %>
            <% elsif %i(integer_property float_property).include?(action.type) %>
              <%= styled_number_field_tag input_name,
                                          action.value,
                                          container_class: '-slim',
                                          step: 'any' %>
            <% end %>
         <hide-section-link section-name="<%= action.key %>"></hide-section-link>
        </div>
      </hide-section>
    <% end %>
  </hide-sections>

  <add-section-dropdown></add-section-dropdown>
</fieldset>
