<%= error_messages_for 'timeline' %>
<% unless User.current.impaired? %>
  <%# TODO: Require autocompleter inside timelines_select_boxes.js
    For lack of a requiring policy (such as requirejs), just include the
    autocompleter on its own.
  %>
  <%= javascript_include_tag "timelines_autocompleter.js", :plugin => "chiliproject_timelines" %>
  <%= javascript_include_tag "timelines_select_boxes.js", :plugin => "chiliproject_timelines" %>
<% end %>

<div class="timelines_edit_form">

  <%= render :partial => "timelines/timelines_timelines/general", :locals => {:timeline => @timeline, :f => f}%>

  <%= render :partial => "timelines/timelines_timelines/comparison", :locals => {:timeline => @timeline}%>

  <%= render :partial => "timelines/timelines_timelines/vertical_planning_elements", :locals => {:timeline => @timeline}%>

  <%= render :partial => "timelines/timelines_timelines/filter/planning_elements", :locals => {:timeline => @timeline} %>

  <%= render :partial => "timelines/timelines_timelines/filter/projects", :locals => {:timeline => @timeline} %>

  <%= render :partial => "timelines/timelines_timelines/group/grouping", :locals => {:timeline => @timeline} %>

</div>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'timelines.css', :plugin => 'chiliproject_timelines', :media => "all" %>
<% end %>
