<div class="upsale-notification">

    <h2><%= feature_title %></h2>
    <% if feature_description.empty? %>
      <p class="upsale--feature-reference">
        <%= t('js.admin.enterprise.upsale.benefits.description') %>
        </br>
        <%= t('js.admin.enterprise.upsale.benefits.premium_features_text') %>
        </br>
        <%= t('js.admin.enterprise.upsale.benefits.professional_support_text') %>
      </p> 
    <% else %>
      <p class="upsale--feature-reference">
        <%= feature_description %>
      </p>
    <% end %>

    <% if feature_image.empty? %>
      <%= image_tag "enterprise_edition.png", class: "widget-box--teaser-image" %>
    <% else %>
      <%= image_tag feature_image, class: "widget-box--teaser-image" %>
    <% end %>

    <p> <%= feature_title %> <%= t('admin.enterprise.enterprise_info_html') %> 
    </br>
    <%= t('admin.enterprise.upgrade_info') %>
    </p>

    <%= link_to( "https://www.openproject.org/contact-us/",
                 { class: 'button -highlight-inverted -round',
                   aria: {label: t('admin.enterprise.buttons.contact')},
                   target: '_blank',
                   title: t('admin.enterprise.buttons.contact')}) do %>
      <span class="button--text"><%= t('admin.enterprise.buttons.contact') %></span>
    <% end %>

    <%= link_to( "#{OpenProject::Static::Links.links[:upsale][:href]}/?utm_source=unknown&utm_medium=community-edition&utm_campaign=#{feature_reference}",
                 { class: 'button -highlight -round',
                   aria: {label: t('admin.enterprise.buttons.upgrade')},
                   target: '_blank',
                   title: t('admin.enterprise.buttons.upgrade')}) do %>
      <%= op_icon('button--icon icon-medal') %>
      <span class="button--text"><%= t('admin.enterprise.buttons.upgrade') %></span>
    <% end %>
</div>
