<div class="upsale-notification">
    
    <p class="upsale--feature-reference">
      <strong><%= feature_title %></strong>
      <br/>
      <%= feature_description %>
    </p>
    <%= image_tag "enterprise_edition.png", class: "widget-box--teaser-image" %>
    <p> <%= feature_title %> <%= t('admin.enterprise.feature_info') %></p>
    <p> <%= t('admin.enterprise.upgrade_info') %></p>

    <%= link_to( "",
                 { class: 'button -highlight-inverted -round',
                   aria: {label: t('admin.enterprise.buttons.contact')},
                   target: '_blank',
                   title: t('admin.enterprise.buttons.contact')}) do %>
      <span class="button--text"><%= t('admin.enterprise.buttons.contact') %></span>
    <% end %>

    <%= link_to( "#{OpenProject::Static::Links.links[:upsale][:href]}/?utm_source=unknown&utm_medium=community-edition&utm_campaign=#{feature_reference}",
                 { class: 'button -highlight -round',
                   aria: {label: t('admin.enterprise.buttons.upgrade')},
                   target: '_blank',
                   title: t('admin.enterprise.buttons.upgrade')}) do %>
      <%= op_icon('button--icon icon-star') %>
      <span class="button--text"><%= t('admin.enterprise.buttons.upgrade') %></span>
    <% end %>

</div>
