<% html_title(t(:label_administration), t('openid_connect.providers.label_add_new')) -%>
<% local_assigns[:additional_breadcrumb] = t('openid_connect.providers.label_add_new') %>

<%= toolbar title: t('openid_connect.providers.label_add_new') %>

<%= error_messages_for @provider %>

<%= labelled_tabular_form_for @provider,
                              html: { class: 'form', autocomplete: 'off' } do |f| %>
  <%= render partial: "form", locals: { f: f } %>
  <p>
    <%= styled_button_tag l(:button_create), class: '-highlight -with-icon icon-checkmark' %>
    <%= link_to t(:button_cancel), { action: :index }, class: 'button -with-icon icon-cancel' %>
  </p>
<% end %>
