<%#-- copyright
OpenProject is a project management system.
Copyright (C) 2012-2017 the OpenProject Foundation (OPF)

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 3.

OpenProject is a fork of ChiliProject, which is a fork of Redmine. The copyright follows:
Copyright (C) 2006-2017 Jean-Philippe Lang
Copyright (C) 2010-2013 the ChiliProject Team

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.

See doc/COPYRIGHT.rdoc for more details.

++#%>
<% if show_user_name %>
    <div class="form--field">
      <label class="form--label" for="username">
        <%= User.human_attribute_name(:login) %>
      </label>
      <div class="form--field-container">
        <%= @username %>
      </div>
      <%= hidden_field_tag 'username', @username %>
    </div>
<% end %>

<div class="form--field">
  <%= styled_label_tag 'password', User.human_attribute_name(:current_password), class: '-required' %>
  <div class="form--field-container">
    <%= styled_password_field_tag 'password',
                                  nil,
                                  size: 25,
                                  required: true,
                                  container_class: (defined? input_size) ? "-#{input_size}" : '' %>
  </div>
</div>

<div class="form--field" style="padding-top: 1em">
  <%= styled_label_tag 'new_password', User.human_attribute_name(:new_password), class: '-required' %>
  <div class="form--field-container">
    <%= styled_password_field_tag 'new_password',
                                  nil,
                                  size: 25,
                                  'aria-describedby' => 'new_password_tooltip',
                                  required: true,
                                  class: 'advanced-tooltip-trigger',
                                  container_class: (defined? input_size) ? "-#{input_size}" : '' %>
  </div>
  <div class="advanced-tooltip-content" id="new_password_tooltip">
    <%= render_password_complexity_tooltip %>
  </div>
</div>



<div class="form--field">
  <%= styled_label_tag 'new_password_confirmation',
        User.human_attribute_name(:password_confirmation), class: '-required' %>
  <div class="form--field-container">
    <%= styled_password_field_tag 'new_password_confirmation',
                                  nil,
                                  required: true,
                                  'aria-describedby' => 'confirm_password_tooltip',
                                  size: 25,
                                  class: 'advanced-tooltip-trigger',
                                  container_class: (defined? input_size) ? "-#{input_size}" : '' %>
  </div>
  <div class="advanced-tooltip-content" id="confirm_password_tooltip">
    <%= I18n.t(:confirm,
         scope: [:activerecord, :errors, :models, :user, :attributes, :password, :match])%>
         <br>
     <%= I18n.t(:description,
         scope: [:activerecord, :errors, :models, :user, :attributes, :password, :match])%>
  </div>
</div>

