<%#-- copyright
OpenProject is a project management system.
Copyright (C) 2012-2015 the OpenProject Foundation (OPF)

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 3.

OpenProject is a fork of ChiliProject, which is a fork of Redmine. The copyright follows:
Copyright (C) 2006-2013 Jean-Philippe Lang
Copyright (C) 2010-2013 the ChiliProject Team

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.

See doc/COPYRIGHT.rdoc for more details.

++#%>

<% html_title(l(:label_my_account)) -%>

<% breadcrumb_paths(l(:label_my_account)) %>
<% content_for :action_menu_specific do %>
  <%= call_hook(:view_my_account_contextual, :user => @user)%>
<% end %>
<h2><%=l(:label_my_account)%></h2>
<%= render :partial => 'layouts/action_menu_specific' %>
<%= error_messages_for 'user' %>

<%= labelled_tabular_form_for @user, :as => :user, :url => { :action => "account" },
                          :lang => current_language,
                          :html => { :id => 'my_account_form', class: 'form -wide-labels' } do |f| %>
  <%# @see https://github.com/zurb/foundation-apps/issues/575 -%>
  <div class="grid-block medium-up-2">
    <div class="grid-content">
      <h3 class="form--section-title"><%=l(:label_information_plural)%></h3>
      <section class="form--section">
        <div class="form--field"><%= f.text_field :firstname, :required => true %></div>
        <div class="form--field"><%= f.text_field :lastname, :required => true %></div>
        <div class="form--field"><%= f.text_field :mail, :required => true %></div>
        <div class="form--field"><%= f.select :language, lang_options_for_select %></div>

        <%= render partial:     'customizable/field',
                   collection:  @user.custom_field_values.select(&:editable?),
                   as:          :value,
                   locals:      { form: f } %>

        <%= call_hook(:view_my_account, :user => @user, :form => f) %>
      </section>
    </div>

    <div class="grid-content">
      <h3 class="form--section-title"><%= User.human_attribute_name(:mail_notification) %></h3>
      <section class="form--section">
        <%= render :partial => 'users/mail_notifications' %>
      </section>
      <h3 class="form--section-title"><%=l(:label_ui, :app_title => Setting.app_title)%></h3>
      <section class="form--section">
        <%= render :partial => 'users/impaired_settings' %>
      </section>
      <h3 class="form--section-title"><%=l(:label_preferences)%></h3>
      <section class="form--section">
        <%= render :partial => 'users/preferences' %>
      </section>
    </div>
  </div>

  <%= styled_button_tag l(:button_save), class: '-highlight -with-icon icon-yes' %>
<% end %>
