<% html_title(t(:label_my_account), t('two_factor_authentication.backup_codes.plural')) -%>

<%=
  render(Primer::OpenProject::PageHeader.new) do |header|
    header.with_title { t('two_factor_authentication.backup_codes.plural') }
    header.with_breadcrumbs([{ href: my_account_path, text: t(:label_my_account) },
                             { href: my_2fa_devices_path , text: t('two_factor_authentication.label_two_factor_authentication') },
                             t('two_factor_authentication.backup_codes.plural')])
  end
%>

<div class="op-toast show-when-print -warning">
  <div class="op-toast--content">
    <p>
      <strong><%= t 'two_factor_authentication.backup_codes.generate.keep_safe_as_password' %></strong>
      <%= t 'two_factor_authentication.backup_codes.generate.keep_safe_warning' %>
    </p>
  </div>
</div>

<div class="two-factor-authentication--backup-codes">
  <ul>
    <% @backup_codes.each do |code| %>
      <li><%= code %></li>
    <% end %>
  </ul>
</div>

<hr class="hide-when-print"/>

<div
  data-controller="two-factor-authentication"
  data-application-target="dynamic"
>
  <%= content_tag :a,
                  id: 'download_2fa_backup_codes',
                  class: "button hide-when-print",
                  download: 'backup-codes.txt',
                  href: "data:text/plain;charset=utf-8,#{CGI.escape(@backup_codes.join("\n"))}" do %>
    <%= op_icon 'button--icon icon-save' %>
    <span class="button--text"><%= t(:button_download) %></span>
  <% end %>
  <button
    id="print_2fa_backup_codes"
    class="button hide-when-print"
    data-action="two-factor-authentication#print"
  >
    <%= op_icon 'button--icon icon-print' %>
    <span class="button--text"><%= t(:button_print) %></span>
  </button>
</div>
