<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<title><%=h html_title %></title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="description" content="Redmine Backlogs" />
<meta name="keywords" content="issue,bug,tracker,scrum,agile,plugin" />
<%= stylesheet_link_tag 'global.css', 'jquery-ui.css', :media => 'print,screen', :plugin => 'redmine_backlogs' %>
<%= stylesheet_link_tag 'global_print.css', :media => 'print', :plugin => 'redmine_backlogs' %>
<%= javascript_include_tag 'jquery-1.4.2.min.js', 'jquery-ui-1.8rc3.custom.min.js', 'jquery.jeditable.mini.js', 'jquery.cookie.js', 'common.js', :plugin => 'redmine_backlogs' %>

<!-- looks like we don't need this anymore -->
<!--[if lte IE 1]>
<script type="text/javascript">
    // and when it all appears to work beautifully on every browser,
    // it fails on IE
    $(document).ready(function() {
        var zIndex = 10000;
        $('div, ul, li, span').each(function() {
            $(this).css('zIndex', zIndex);
            zIndex -= 10;
        });
    });
</script>
<![endif]-->

<%= yield :head_tags -%>
</head>
<body>
  <div id="toolbar">
    <div class="breadcrumbs">
      <span class="home"><%= link_to @project.name, :controller => :projects, :action => :show, :id => @project %></span>
      <%= breadcrumb_separator %>
      <%= yield :breadcrumbs -%>
    </div>
    <div class="links">
      <%= yield :view_specific_links -%>
    </div>
  </div>
  <div id="main">
    <%= yield :main %>
  </div>
  <div id="helpers">
    <%= yield :helpers %>
  </div>
</body>
</html>
