<%#-- copyright
OpenProject is a project management system.

Copyright (C) 2012-2013 the OpenProject Team

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 3.

See doc/COPYRIGHT.rdoc for more details.

++#%>
<div style="display:inline-block;">
  <div class="principals splitcontentleft">
    <% if principals.size > 20 %>
      <p><%= simple_format(l('notice_to_many_principals_to_display'))%></p>
  </div>
</div>
    <% elsif principals.size == 0 %>
      <p><%= l('notice_no_principals_found')%></p>
  </div>
</div>
    <% else %>
      <p>
        <%= "#{l(:label_user_plural)}/#{l(:label_group_plural)}" %>:
        <%= principals_check_box_tags 'member[user_ids][]', principals %>
      </p>
  </div>

  <div class="roles splitcontentright">
    <p><%= l(:label_role_plural) %>:
      <% roles.each do |role| %>
        <div>
          <label><%= check_box_tag 'member[role_ids][]', role.id %> <%=h role %></label>
        </div>
      <% end %>
    </p>
  </div>
</div>
  <p><%= submit_tag l(:button_add), :id => 'member-add-submit' %></p>
<% end %>

