<%#-- copyright
OpenProject is a project management system.
Copyright (C) 2012-2015 the OpenProject Foundation (OPF)

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 3.

OpenProject is a fork of ChiliProject, which is a fork of Redmine. The copyright follows:
Copyright (C) 2006-2013 Jean-Philippe Lang
Copyright (C) 2010-2013 the ChiliProject Team

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.

See doc/COPYRIGHT.rdoc for more details.

++#%>

<%= labelled_tabular_form_for(:member,
             :url => {:controller => '/members', :action => 'create', :project_id => project},
             :method => :post,
             :remote => true,
             :loading => '$(\'member-add-submit\').disable();',
             :complete => 'if($(\'member-add-submit\')) $(\'member-add-submit\').enable(); activateFlashError();',
             :html => {:id => "members_add_form"}) do |f| %>
  <div class="form--section">
    <h3 class="form--section-title"><%= l(:label_member_new) %></h3>
    <div class="grid-block medium-up-2">
      <div class="form--column">
        <div class="form--field">
          <%= styled_label_tag :principal_search, l(:label_principal_search) %>
          <%= styled_text_field_tag :principal_search, nil %>
          <%= observe_field(:principal_search,
                       :frequency => 0.5,
                       :update => :principal_results,
                       :url => { :controller => '/members', :action => 'autocomplete_for_member', :id => project },
                       :with => 'q')
                        %>
        </div>
        <div id="principal_results">
          <%= render partial: 'members/autocomplete_for_member', locals: { principals: principals, roles: roles } %>
        </div>
      </div>
      <div class="form--column roles">
        <fieldset class="form--fieldset">
          <legend class="form--fieldset-legend"><%= l(:label_role_plural) %></legend>
          <%= labeled_check_box_tags 'member[role_ids][]', roles %>
        </fieldset>
      </div>
    </div>
    <% if roles.any? && (principals.any? && principals.size <= 20) %>
      <%= f.button l(:button_add), :id => 'member-add-submit',
            class: 'button -highlight -with-icon icon-yes' %>
    <% end %>
  </div>

<% end %>
