<%= javascript_include_tag "members_select_boxes.js" %>

<%= form_for(:member, :url => {:controller => 'members', :action => 'create', :project_id => project},
                     :remote => true,
                     :method => :post,
                     :html => {:id => "members_add_form"}) do |f| %>
  <fieldset>
    <legend><%= l(:label_member_new) %></legend>
      <div class="splitcontentleft">
        <label>
          <%= select_tag "member[user_ids][]", options_for_select([]),
                         :title => l(:label_principal_search),
                         :multiple => true,
                         :'data-placeholder' => l(:label_principal_search),
                         :'data-ajaxURL' => url_for(:controller => "members", :action => "autocomplete_for_member"),
                         :'data-projectId' => project.id,
                         :class => "select2-select" %>
        </label>
      </div>
      <div class="splitcontentright">
        <label>
          <%= select_tag 'member[role_ids][]', options_for_select([]),
                         :title => l(:label_role_plural),
                         :multiple => true,
                         :'data-placeholder' => l(:label_role_search),
                         :'data-ajaxURL' => url_for(:controller => "roles", :action => "autocomplete_for_role"),
                         :'data-projectId' => project.id,
                         :class => "select2-select" %>
        </label>
      </div>
    <p><%= submit_tag l(:button_add), :id => 'member-add-submit' %></p>
  </fieldset>
<% end %>
