<%#-- copyright
OpenProject is an open source project management software.
Copyright (C) the OpenProject GmbH

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 3.

OpenProject is a fork of ChiliProject, which is a fork of Redmine. The copyright follows:
Copyright (C) 2006-2013 Jean-Philippe Lang
Copyright (C) 2010-2013 the ChiliProject Team

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.

See COPYRIGHT and LICENSE files for more details.

++#%>
<% html_title t(:label_member_plural) -%>

<% content_controller "members-form", dynamic: true %>

<% content_for :content_header do %>
  <%= render ::Members::IndexPageHeaderComponent.new(project: @project) %>
  <%= render ::Members::IndexSubHeaderComponent.new(project: @project, filter_options: @members_filter_options) %>

  <%= error_messages_for 'member' %>

  <div>
    <% if @roles.any? %>
      <%= render partial: "members/member_form",
                 locals: { project: @project, roles: @roles } %>
    <% else %>
      <p>
        <%= I18n.t('text_no_roles_defined') %>
      </p>
      <%= link_to I18n.t('button_back'), :back, class: 'button' %>
    <% end %>
  </div>
<% end %>

<div>
  <%= render ::Members::TableComponent.new(rows: @members, **@members_table_options) %>
</div>
